<div class="main">
  <div class="retour-container">
    <a class="retour" routerLink="/projets" title="Retour">
      <span>Retour</span>
    </a>
  </div>
  <section class="projets-section sec-padding">
    <div class="container">
      <div class="section-title">
        <h2 class="title">Créations de contenu</h2>
      </div>
      <div class="projets-container">
        <div
          class="projets-item"
          routerLink="bannieres"
          title="Bannières LinkedIn"
        >
          <h2>Bannières LinkedIn</h2>
        </div>
        <div
          class="projets-item"
          routerLink="articles"
          title="Articles de Blog"
        >
          <h2>Articles de Blog</h2>
        </div>
      </div>
    </div>
  </section>
</div>
