<mat-dialog-content class="portfolio-popup">
    <div class="pp-inner">
        <div class="pp-content" *ngIf="activeBooki">
            <div class="pp-header">
                <button type="button" class="btn pp-close" (click)="close()"><i class="fas fa-times"></i></button>
                <div class="pp-thumbnail">
                    <img [src]="imagePath+'booki.png'" alt="pp-thumbnail">
                </div>
                <h3>Transformation d'une maquette en site web</h3>
            </div>
            <div class="pp-body">
                <div class="general-info">
                    <ul>
                        <li>Crée - <span>Février 2022</span></li>
                        <li>Technologies utilisées - <span>HTML5, CSS3</span></li>
                        <li>Role - <span>Frontend</span></li>
                        <li>Voir le site - <span><a href="https://helenepagniez.github.io/Booki/" target="_blank">Cliquez ici</a></span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="pp-content" *ngIf="activeOhmyfood">
            <div class="pp-header">
                <button type="button" class="btn pp-close" (click)="close()"><i class="fas fa-times"></i></button>
                <div class="pp-thumbnail">
                    <img [src]="imagePath+'ohmyfood.png'" alt="pp-thumbnail">
                </div>
                <h3>Dynamisation d'une page web avec des animations css</h3>
            </div>
            <div class="pp-body">
                <div class="general-info">
                    <ul>
                        <li>Crée - <span>Mars 2022</span></li>
                        <li>Technologies utilisées - <span>HTML5, CSS3</span></li>
                        <li>Role - <span>Frontend</span></li>
                        <li>Voir le site - <span><a href="https://helenepagniez.github.io/ohmyfood/" target="_blank">Cliquez ici</a></span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="pp-content" *ngIf="activeLapanthere">
            <div class="pp-header">
                <button type="button" class="btn pp-close" (click)="close()"><i class="fas fa-times"></i></button>
                <div class="pp-thumbnail">
                    <img [src]="imagePath+'la-panthere.png'" alt="pp-thumbnail">
                </div>
                <h3>Optimisation d'un site web existant</h3>
            </div>
            <div class="pp-body">
                <div class="general-info">
                    <ul>
                        <li>Crée - <span>Avril 2022</span></li>
                        <li>Technologies utilisées - <span>HTML5, CSS3</span></li>
                        <li>Role - <span>Frontend</span></li>
                        <li>Voir le site - <span><a href="https://helenepagniez.github.io/La-Panthere/" target="_blank">Cliquez ici</a></span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="pp-content" *ngIf="activeKanap">
            <div class="pp-header">
                <button type="button" class="btn pp-close" (click)="close()"><i class="fas fa-times"></i></button>
                <div class="pp-thumbnail">
                    <img [src]="imagePath+'kanap.png'" alt="pp-thumbnail">
                </div>
                <h3>Construction d'un site e-commerce en javascript</h3>
            </div>
            <div class="pp-body">
                <div class="general-info">
                    <ul>
                        <li>Crée - <span>Mai 2022</span></li>
                        <li>Technologies utilisées - <span>HTML5, CSS3, Javascript</span></li>
                        <li>Voir le site - <span><a href="https://github.com/Helenepagniez/Kanap" target="_blank">Cliquez ici</a></span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="pp-content" *ngIf="activePiiquante">
            <div class="pp-header">
                <button type="button" class="btn pp-close" (click)="close()"><i class="fas fa-times"></i></button>
                <div class="pp-thumbnail">
                    <img [src]="imagePath+'piiquante.png'" alt="pp-thumbnail">
                </div>
                <h3>Construction d'une API sécurisée</h3>
            </div>
            <div class="pp-body">
                <div class="general-info">
                    <ul>
                        <li>Crée - <span>Juin 2022</span></li>
                        <li>Technologies utilisées - <span>MongoDB, Express.js, Node.js</span></li>
                        <li>Role - <span>Backend</span></li>
                        <li>Voir le site - <span><a href="https://github.com/Helenepagniez/Piiquante" target="_blank">Cliquez ici</a></span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="pp-content" *ngIf="activeGroupomania">
            <div class="pp-header">
                <button type="button" class="btn pp-close" (click)="close()"><i class="fas fa-times"></i></button>
                <div class="pp-thumbnail">
                    <img [src]="imagePath+'groupomania.png'" alt="pp-thumbnail">
                </div>
                <h3>Création d'un réseau social d'entreprise</h3>
            </div>
            <div class="pp-body">
                <div class="general-info">
                    <ul>
                        <li>Crée - <span>Aout 2022</span></li>
                        <li>Technologies utilisées - <span>Node.js, Express.js, MongoDB, Angular</span></li>
                        <li>Role - <span>Backend + Frontend</span></li>
                        <li>Voir le site - <span><a href="https://github.com/Helenepagniez/Groupomania" target="_blank">Cliquez ici</a></span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="pp-content" *ngIf="activeFoodlove">
            <div class="pp-header">
                <button type="button" class="btn pp-close" (click)="close()"><i class="fas fa-times"></i></button>
                <div class="pp-thumbnail">
                    <img [src]="imagePath+'foodlove.jpg'" alt="pp-thumbnail">
                </div>
                <h3>EN COURS DE REALISATION</h3>
            </div>
            <div class="pp-body">
                <div class="general-info">
                    <ul>
                        <li>Crée - <span>En cours de création</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>
