<div class="main">
    <section class="header-section">
        <ul>
            <li><a routerLink="/home" routerLinkActive="active" title="accueil"><i class="fa-solid fa-house"></i></a></li>
            <li><a routerLink="/about" routerLinkActive="active" title="à propos"><i class="fa-solid fa-address-card"></i></a></li>
            <li><a routerLink="/portfolio" routerLinkActive="active" title="portfolio"><i class="fa-solid fa-laptop-code"></i></a></li>
            <li><a routerLink="/contact" routerLinkActive="active" title="contact"><i class="fa-sharp fa-solid fa-phone"></i></a></li>
        </ul>
    </section>
</div>