<div class="main">
    <section class="header-section">
        <ul>
            <li><a routerLink="/home" routerLinkActive="active" title="Accueil"><i class="fa-solid fa-house"></i></a></li>
            <li><a routerLink="/about" routerLinkActive="active" title="A propos"><i class="fa-solid fa-address-card"></i></a></li>
            <li><a routerLink="/projets" routerLinkActive="active" title="Projets"><i class="fa-solid fa-folder-open"></i></a></li>
            <li><a routerLink="/contact" routerLinkActive="active" title="Contact"><i class="fa-sharp fa-solid fa-phone"></i></a></li>
        </ul>
    </section>
</div>