:host {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    margin: 10px 0;
    display: flex;
    z-index: 2;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.main a{
    position: relative;
    width: 80px;
    height: 80px;
    border: 1px solid var(--light-background-color);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
    border-radius: var(--light-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--text-primary-color);
    font-size: 2em;
    backdrop-filter: var(--backdrop);
    transition: 0.5s;
    overflow: hidden;
    margin: 20px;
}

.main a.active {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}

.main a:hover{
    transform: translateY(-20px);
}

.main a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background: var(--light-background-color);
    transform: skewX(45deg) translateX(150px);
    transition: 0.5s;
}

.main a:hover::before{
    transform: skewX(45deg) translateX(-150px);
}