<div class="main">
    <a routerLink="/home" routerLinkActive="active" title="Accueil">
        <i class="fa-solid fa-house"></i>
    </a>
    <a routerLink="/about" routerLinkActive="active" title="A propos">
        <i class="fa-solid fa-address-card"></i>
    </a>
    <a routerLink="/projets" routerLinkActive="active" title="Projets">
        <i class="fa-solid fa-folder-open"></i>
    </a>
    <a routerLink="/contact" routerLinkActive="active" title="Contact">
        <i class="fa-sharp fa-solid fa-phone"></i>
    </a>
</div>