<div class="main">
  <a class="retour" routerLink="/projets/projets-master" title="Retour">
    <span>Retour</span>
  </a>
  <section class="conteneur-page">
    @if (expandedImageSrc()) {
    <div class="overlay" (click)="closeImage()">
      <img [src]="expandedImageSrc()" alt="Expanded Image" />
    </div>
    }
    <div class="page">
      <div class="titre-page">
        <h1>Projet n°6 : KungFood</h1>
      </div>
      <div class="projets-container">
        <h2 class="titre-partie">1 - Contexte du projet</h2>
        <p>
          J'ai été placée dans la peau de la responsable marketing et
          communication de
          <strong>KungFood, une start-up parisienne</strong> spécialisée autour
          d'une <strong>application mobile</strong> permettant de scanner les
          produits alimentaires pour en connaître l’
          <strong>impact nutritionnel, environnemental et carbone</strong>.
        </p>
        <p>
          Malgré un concept innovant, KungFood souffrait d’un
          <strong>manque total de présence digitale</strong> (pas de site, pas
          de réseaux sociaux), ce qui freinait son développement. L’objectif de
          ce projet était de structurer, déployer et piloter une stratégie de
          communication digitale multicanale, tout en assurant un suivi régulier
          des résultats pour ajuster les actions.
        </p>
        <h2 class="titre-partie">2 - Missions confiées</h2>
        <h3>
          <i class="fa-solid fa-briefcase"></i>Mission 1 : Structurer et
          déployer la stratégie de communication
        </h3>
        <ul>
          <li>
            Élaboration d’une <strong>stratégie digitale</strong> complète,
            multicanale, alignée avec la raison d’être de KungFood
          </li>
          <li>
            Rédaction de 3 <strong>fiches de poste</strong> (community manager,
            développeur web, rédacteur web)
          </li>
          <li>
            Création d’un <strong>plan d’action</strong> sur 8 mois, incluant
            tâches, responsables, échéances
          </li>
          <li>
            Rédaction du <strong>cahier des charges</strong> pour le futur site
            web
          </li>
          <li>Rédaction du <strong>brief technique et créatif</strong></li>
          <li>
            Réalisation de <strong>maquettes</strong> web à partir de la charte
            graphique
          </li>
        </ul>
        <h3>
          <i class="fa-solid fa-briefcase"></i>Mission 2 : Pilotage et analyse
          des performances
        </h3>
        <ul>
          <li>
            Réalisation d’une <strong>présentation bilan</strong> pour le comité
            de pilotage (analyse des résultats après lancement de l’app)
          </li>
          <li>
            Conception d’un <strong>tableau de bord</strong> de suivi de
            performance (Instagram, LinkedIn)
          </li>
        </ul>
        <h2 class="titre-partie">
          3 - Structuration de la stratégie de communication
        </h2>
        <h3>
          <i class="fa-solid fa-magnifying-glass-plus"></i>Analyse stratégique
        </h3>
        <ul>
          <li>
            Création de 4 <strong>personas</strong> issus de segments cibles
            distincts
          </li>
          <li>
            Analyse <strong>SWOT</strong> de KungFood pour identifier les forces
            / faiblesses / opportunités / menaces
          </li>
          <li>
            <strong>Benchmark concurrentiel :</strong> étude de Yuka, MyCO2 et
            Open Food Facts
          </li>
        </ul>
        <h3>
          <i class="fa-solid fa-thumbtack"></i>Positionnement et plateforme de
          marque
        </h3>
        <ul>
          <li>Définition de la mission, vision, valeurs, ton, personnalité</li>
          <li>
            Formulation de la promesse client et du positionnement responsable
          </li>
          <li>Rédaction de la plateforme de marque complète</li>
          <li>
            Définition de l’identité visuelle et éditoriale :
            <ul>
              <li>Couleurs, typographies, éléments visuels</li>
              <li>Ton de voix : informatif, pédagogique et engagé</li>
            </ul>
          </li>
        </ul>
        <h2 class="titre-partie">4 - Stratégie digitale multicanale</h2>
        <h3><i class="fa-solid fa-tags"></i>Canaux choisis</h3>
        <ul>
          <li>
            <strong>Instagram & LinkedIn</strong> (lancement de compte +
            stratégie de contenu)
          </li>
          <li>
            <strong>Newsletter</strong> mensuelle pour informer et engager
          </li>
          <li>
            <strong>Site web vitrine :</strong> informations, blog, valeurs,
            lien vers app
          </li>
        </ul>
        <h3>
          <i class="fa-solid fa-folder-open"></i>Contenus et planification
        </h3>
        <ul>
          <li>
            Élaboration d’un <strong>calendrier éditorial</strong> (thèmes,
            sous-thèmes, formats, objectifs)
          </li>
          <li>
            Création d’un <strong>marronnier marketing</strong> adapté au
            secteur foodtech & écologie
          </li>
          <li>
            <strong>Plan d’action opérationnel</strong> sur 8 mois (Actions,
            tâches détaillés, responsabilités, objectifs et KPI's)
          </li>
        </ul>
        <h2 class="titre-partie">5 - Organisation et pilotage du projet</h2>
        <h3>
          <i class="fa-solid fa-circle-right"></i>Gestion du projet et
          méthodologie
        </h3>
        <ul>
          <li>
            <strong>Méthodologie Agile</strong> adoptée :
            <ul>
              <li>Découpage en sprints</li>
              <li>Réunions hebdo (daily, sprint review)</li>
              <li>Priorisation par backlog produit</li>
            </ul>
          </li>
          <li>
            Utilisation de <strong>Notion</strong> comme outil de gestion
            collaboratif
          </li>
          <li>
            <strong>Matrice RACI</strong> pour clarifier les rôles et
            responsabilités
          </li>
        </ul>
        <h3>
          <i class="fa-solid fa-circle-right"></i>Recrutement et structuration
          RH
        </h3>
        <ul>
          <li>
            Rédaction de 3 fiches de poste
            <strong>inclusives</strong> (Community manager, Développeur web,
            Rédacteur SEO)
          </li>
          <li>
            Intégration de sections inclusion / handicap, en lien avec les
            <strong>recommandations de l’Agefiph</strong>
          </li>
        </ul>
        <h3>
          <i class="fa-solid fa-circle-right"></i>Plan d’action opérationnel
        </h3>
        <ul>
          <li>
            Plan d’action sur <strong>8 mois :</strong>
            <ul>
              <li>Structuration des actions, jalons et livrables</li>
              <li>Identification des priorités par mois</li>
              <li>Liens avec les objectifs SMART et KPI’s</li>
            </ul>
          </li>
        </ul>
        <h3>
          <i class="fa-solid fa-circle-right"></i>Documents techniques et
          créatifs
        </h3>
        <ul>
          <li>
            <strong>Cahier des charges</strong> du futur site : architecture,
            pages à créer, spécificités, etc...
          </li>
          <li>
            <strong>Brief technique et créatif</strong> : objectifs du site,
            ambiance visuelle, structure, etc...
          </li>
          <li><strong>Maquettes du site web</strong> réalisées sur Figma</li>
        </ul>
        <h2 class="titre-partie">
          6 - Analyse des résultats et recommandations
        </h2>
        <h3>
          <i class="fa-solid fa-chart-simple"></i>Analyse post-lancement (2 mois
          après)
        </h3>
        <ul>
          <li>
            Bilan chiffré des premières données collectées (site, newsletter,
            téléchargements)
          </li>
          <li>Analyse des performances du site et de la newsletter</li>
          <li>Identification de 3 faits marquants</li>
          <li>
            Détermination du canal le plus efficace pour le téléchargement
          </li>
          <li>Détection de freins et dysfonctionnements sur certains canaux</li>
          <li>Présentation au comité de pilotage</li>
        </ul>
        <h3><i class="fa-solid fa-list"></i>Recommandations stratégiques</h3>
        <ul>
          <li>Ajustement de la stratégie éditoriale</li>
          <li>Priorisation des canaux en fonction des retours analytiques</li>
          <li>Préconisations d’améliorations UX du site</li>
        </ul>
        <h3>
          <i class="fa-solid fa-calendar-days"></i>Création d’un tableau de bord
          de suivi
        </h3>
        <ul>
          <li>Suivi des KPI's sur Instagram et LinkedIn</li>
          <li>
            <strong>Indicateurs mesurés :</strong> nombre de publications, taux
            d’engagement, abonnés, interactions, clics, etc...
          </li>
        </ul>
        <h2 class="titre-partie">7 - Outils utilisés</h2>
        <ul>
          <li><strong>Canva</strong> (Support de livrables et présentation)</li>
          <li><strong>Figma</strong> (Conception des maquettes)</li>
          <li>
            <strong>Suite Google</strong> (Mise en page des documents selon
            format obligatoire)
          </li>
          <li><strong>Documents annexes</strong> au projet</li>
        </ul>
        <h2 class="titre-partie">8 - Livrables produits</h2>
        <h3><i class="fa-solid fa-eye"></i>Aperçus du projet</h3>
        <div class="images-container">
          <div class="conteneur-image-img">
            <img
              [src]="imagePath + '/benchmark.png'"
              alt="projets item thumb"
            />
            <p style="font-weight: bold">Benchmark</p>
            <a
              class="btn"
              (click)="onImageClick(imagePath + '/benchmark.png')"
              title="Voir"
            >
              <span>Voir</span>
            </a>
          </div>
          <div class="conteneur-image-img">
            <img
              [src]="imagePath + '/maquettes.png'"
              alt="projets item thumb"
            />
            <p style="font-weight: bold">Aperçu des maquettes</p>
            <a
              class="btn"
              (click)="onImageClick(imagePath + '/maquettes.png')"
              title="Voir"
            >
              <span>Voir</span>
            </a>
          </div>
          <div class="conteneur-image-img">
            <img
              [src]="imagePath + '/synthese-donnees.png'"
              alt="projets item thumb"
            />
            <p style="font-weight: bold">Synthèse post-lancement</p>
            <a
              class="btn"
              (click)="onImageClick(imagePath + '/synthese-donnees.png')"
              title="Voir"
            >
              <span>Voir</span>
            </a>
          </div>
          <div class="conteneur-image-img">
            <img
              [src]="imagePath + '/recommandations.png'"
              alt="projets item thumb"
            />
            <p style="font-weight: bold">Recommandations correctives</p>
            <a
              class="btn"
              (click)="onImageClick(imagePath + '/recommandations.png')"
              title="Voir"
            >
              <span>Voir</span>
            </a>
          </div>
        </div>
        <h3><i class="fa-solid fa-download"></i>Télécharger le livrable</h3>
        <div class="button-container">
          <a
            [href]="
              filePath + 'images/projets-master/projet6/support-soutenance.pdf'
            "
            download="Support-presentation.pdf"
            title="Télécharger le support de présentation"
            aria-label="support-présentation"
            class="btn"
            >Télécharger le support de présentation</a
          >
        </div>
      </div>
    </div>
  </section>
</div>
