:host {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

p {
  margin: 30px 0;
  text-align: justify;
}

.conteneur {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

@media screen and (max-width: 1137px) {
  .conteneur {
    justify-content: space-evenly;
  }
}
