<section class="about-section sec-padding">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h2>à propos de moi</h2>
            </div>
        </div>
        <div class="row">
            <div class="about-img">
                <div class="img-box">
                    <img [src]="imagePath+'profile.png'" alt="about img">
                </div>
            </div>
            <div class="about-text">
                <p> Forte de mon Bachelor 2 en Développement Web, je viens d'intégrer l'Iscod pour y effectuer en alternance ma licence Web Designer/ UX Designer.
                    <p>Je suis actuellement à la recherche d'une entreprise à intégrer pour démarrer ma formation.</p>
                <h3>Soft Skills</h3>
                <div class="skills">
                    <div class="skill-item btn">Esprit d'équipe</div>
                    <div class="skill-item btn">Rigoureuse</div>
                    <div class="skill-item btn">Joyeuse</div>
                    <div class="skill-item btn">Déterminée</div>
                    <div class="skill-item btn">Curieuse</div>
                    <div class="skill-item btn">Investie</div>
                    <div class="skill-item btn">Autonome</div>
                    <div class="skill-item btn">Organisée</div>
                </div>

                <div class="about-tabs">
                    <button type="button" class="tab-item active" (click)="activeFormation()" *ngIf="isActivedFormation">Formation</button>
                    <button type="button" class="tab-item" (click)="activeFormation()" *ngIf="!isActivedFormation">Formation</button>
                    <button type="button" class="tab-item active" (click)="activeExperience()" *ngIf="isActivedExperience">Expérience</button>
                    <button type="button" class="tab-item" (click)="activeExperience()" *ngIf="!isActivedExperience">Expérience</button>
                </div>

                <div class="tab-content active" *ngIf="isActivedFormation">
                    <div class="timeline">
                        <div class="timeline-item">
                            <span class="date">2023 - 2024</span>
                            <h4>Bachelor Web Designer/ UX Designer - <span>ISCOD / EN RECHERCHE D'ENTREPRISE</span></h4>
                        </div>
                        <div class="timeline-item">
                            <span class="date">2021 - 2022</span>
                            <h4>Certification Développeuse Web - <span>OPENCLASSROOM</span></h4>
                        </div>
                        <div class="timeline-item">
                            <span class="date">2019 - 2021</span>
                            <h4>Titre Certifié d'Attachée de Direction - <span>PIGIER / SILEC CABLE</span></h4>
                        </div>
                        <div class="timeline-item">
                            <span class="date">2018</span>
                            <h4>Baccalauréat Sciences et Technologies du Sanitaire et du Social - <span>LES PANNEVELLES</span></h4>
                        </div>
                        <div class="timeline-item">
                            <span class="date">2015</span>
                            <h4>Brevet des collèges - <span>LELORGNE DE SAVIGNY</span></h4>
                        </div>
                    </div>
                </div>

                <div class="tab-content active" *ngIf="isActivedExperience">
                    <div class="timeline">
                        <div class="timeline-item">
                            <span class="date">2019 - 2021</span>
                            <h4>Alternance [Titre Certifié d'Attachée de Direction]</h4>
                            <p>Missions Principales : <br />
                                - Réservations (salles, hôtels, traiteurs, voitures,..) <br />
                                - Administration (organisation d'évènements, classement de documents, réalisation d'enquête de satisfaction,..) <br />
                                - Procédures (notes de frais, utilisations salles ou matériels,..) <br />
                                - Commandes et facturations (suivi des factures, commande traiteurs et consommables, ..)
                            </p>
                        </div>
                        <div class="timeline-item">
                            <span class="date">2018 - 2019</span>
                            <h4>Polyvalente [Hôtel / Restaurant / Glacier]</h4>
                            <p>Missions Principales : <br />
                                - Accueil, vente et gestion d'une caisse <br />
                                - Service du petit déjeuner (préparation et rangement) <br />
                                - Entretien et rangement des locaux et matériels selon mesure d'hygiène <br />
                                - Contrôle de l'inventaire <br />
                                - Conception de boules de glaces <br />
                            </p>
                        </div>
                    </div>
                </div>

                <a [href]="filePath+'cv.pdf'" download="images/cv.pdf" title="CV" aria-label="cv" class="btn">Téléchargement CV</a>
                <a class="btn" routerLink="/contact">Contactez moi</a>

            </div>
        </div>
    </div>
</section>
