/* ------------- FONTS ------------------ */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* ------------- GENERAUX ------------------ */
:host {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

section {
  background-color: var(--tertiary-color);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  border-radius: var(--strong-radius);
}

.main {
  max-width: 1200px;
  width: 95%;
  margin-bottom: 10px;
  position: relative;
}

.conteneur-page {
  padding-bottom: 50px;
  padding: 40px 0;
}

.page {
  position: relative;
  margin: 20px 40px;
}

.bloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* ------------- BOUTONS ------------------ */
button {
  font-family: inherit;
  user-select: none;
}

.btn {
  background-color: var(--secondary-color);
  padding: 10px 28px;
  border-radius: var(--strong-radius);
  color: var(--tertiary-color);
  font-weight: 700;
  cursor: pointer;
  overflow: hidden;
  transition: 0.5s ease;
  border: none;
  width: 230px;
  margin: 5px;
  text-align: center;
}

.btn:hover {
  transform: scale(1.1);
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

/* ------------- SCROLL PAGE ------------------ */

.scroll-page {
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  z-index: 1000;
}

.scroll-page:hover {
  transform: scale(1.1);
}

.scroll-page .btn-scroll {
  background-color: var(--secondary-color);
  border-radius: var(--strong-radius);
  color: var(--tertiary-color);
  font-weight: 700;
  cursor: pointer;
  padding: 8px 18px;
  border-width: 0;
}

.scroll-page .btn-scroll i {
  font-size: 20px;
}

.show-scrollTop {
  opacity: 1;
}

/* ------------- TITRE DE PAGE ------------------ */
.titre-page {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ------------- ABOUT ------------------ */

.haut-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.haut-page .description {
  width: 75%;
  text-align: justify;
}

.contenu p {
  text-align: justify;
  margin-top: 2px;
}

.conteneur-image {
  width: 240px;
  height: auto;
}

.conteneur-image img {
  width: 100%;
  border-radius: var(--strong-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.contenu h3 {
  margin: 20px 0;
}

.titre-partie {
  color: var(--secondary-color);
  text-decoration: underline;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* ------------- FRISES CHRONOLOGIQUES ------------------ */

.onglets-about {
  margin-top: 20px;
}

.onglets-about .item-onglet {
  padding: 2px 0;
  background-color: transparent;
  border: none;
  display: inline-block;
  color: var(--text-primary-color);
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  margin: 0 30px 0 0;
  position: relative;
  opacity: 0.5;
  font-family: var(--font-family-title);
  transition: all 0.3s ease;
}

.onglets-about .item-onglet:last-child {
  margin: 0;
}

.onglets-about .item-onglet::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: var(--text-primary-color);
  transition: width 0.3s ease;
}

.onglets-about .item-onglet:hover::before {
  width: 100%;
}

.onglets-about .item-onglet.active::before {
  width: 100%;
  background-color: var(--secondary-color);
}

.onglets-about .item-onglet.active {
  color: var(--secondary-color);
  opacity: 1;
  cursor: auto;
}

.contenu .frise-chronologique {
  position: relative;
}

.contenu .frise-chronologique::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0;
  left: 5px;
  background-color: var(--secondary-color);
}

.contenu .contenu-onglet {
  padding: 40px 0;
  display: none;
}

.contenu .contenu-onglet.active {
  display: block;
}

.contenu .periode {
  margin-bottom: 30px;
  position: relative;
  padding: 10px 0 0 40px;
}

.contenu .periode::before {
  content: "";
  position: absolute;
  height: 11px;
  width: 11px;
  background-color: var(--secondary-color);
  left: 0;
  top: 16px;
  border-radius: 50%;
}

.contenu .periode:last-child {
  margin-bottom: 0;
}

.contenu .periode .date {
  display: block;
  color: var(--secondary-color);
  font-weight: 700;
  margin: 0 0 10px;
}

.contenu .periode h4 {
  font-size: 17px;
  font-family: var(--font-family-text);
  margin: 0 0 25px;
}

.contenu .periode h4 span {
  font-weight: 400;
}

.contenu-visuels {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}

.contenu-visuels .conteneur-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.contenu-visuels-formations {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}

.contenu-visuels .conteneur-preview-formations {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contenu-visuels .conteneur-preview img {
  border-radius: var(--light-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 300px;
  max-height: 150px;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.overlay img {
  max-width: 90%;
  max-height: 90%;
  border-radius: var(--light-radius);
}

/* ------------- ACCORDEON ------------------ */

.ensemble-accordeon {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
}

.accordeon {
  margin: 0 7px;
}

.infos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
}

.etage {
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 0 15px;
}

.etage-title {
  font-size: 20px;
  font-weight: 400;
  color: var(--secondary-color);
  width: 100%;
  font-family: var(--font-family-title);
  justify-content: center;
}

::ng-deep .mat-expansion-panel.angle {
  border-radius: 0;
}

::ng-deep .mat-expansion-panel-header.mat-expanded {
  height: 50px !important;
}

::ng-deep .mat-expansion-panel-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

::ng-deep .mat-expansion-panel-content-wrapper {
  width: 100%;
}

::ng-deep .mat-expansion-panel-body h4 {
  font-weight: 400;
  text-align: left;
  font-family: var(--font-family-title);
  margin-bottom: 7px;
  font-size: 17px;
}

::ng-deep .mat-expansion-panel-body h4:not(:first-child) {
  margin-top: 20px;
}

::ng-deep .mat-expansion-panel-body .groupe {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

::ng-deep .mat-expansion-indicator svg {
  fill: var(--secondary-color) !important;
}

.contenu .skills {
  display: flex;
  flex-wrap: wrap;
}

.contenu .skill-item {
  border: 2px solid var(--primary-color);
  border-radius: var(--strong-radius);
  font-family: var(--font-family-text);
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
}

.etage:not(.height) .contenu .skill-item {
  height: 42px;
}

.contenu .skill-item img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.contenu .skill-item i {
  font-size: 30px;
}

.contenu .skill-item i.small {
  font-size: 23px;
}

.contenu .skill-item img.large {
  width: 35px;
  margin-left: -2.5px;
  margin-right: -2.5px;
}

.contenu .skill-item img.larger {
  width: 40px;
  margin-left: -5px;
  margin-right: -5px;
}

.contenu .skill-item img.big {
  width: 50px;
  margin-left: -10px;
  margin-right: -10px;
}

.contenu .skill-item span {
  text-align: center;
}

/* ------------- RESPONSIVE ------------------ */

@media screen and (max-width: 1158px) {
  .haut-page .description {
    width: 70%;
  }
}

@media screen and (max-width: 1000px) {
  .haut-page .description {
    width: 65%;
  }
}

@media screen and (max-width: 880px) {
  .haut-page {
    flex-direction: column;
  }

  .haut-page .description {
    width: 100%;
    margin-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .contenu .autre {
    display: none;
  }
}

@media screen and (max-width: 610px) {
  .titre-page {
    margin-bottom: 20px;
  }

  .titre-page h1 {
    font-size: 30px;
  }

  .page {
    margin: 10px 20px;
  }

  .ensemble-accordeon {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 345px) {
  .btn {
    padding: 10px;
  }
}
