/* ------------- FONTS ------------------ */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* ------------- GENERAUX ------------------ */
:host {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-weight: 600;
}

h3,
h4,
h5,
h6 {
  font-weight: 500;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

section {
  background-color: var(--tertiary-color);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  border-radius: var(--strong-radius);
}

.main {
  max-width: 1200px;
  width: 95%;
  margin-bottom: 10px;
  position: relative;
}

.conteneur-page {
  padding-bottom: 50px;
  padding: 40px 0;
}

.page {
  position: relative;
  margin: 20px 40px;
}

.bloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* ------------- BOUTONS ------------------ */
button {
  font-family: inherit;
  user-select: none;
}

.btn {
  background-color: var(--secondary-color);
  padding: 10px 28px;
  border-radius: var(--strong-radius);
  color: var(--tertiary-color);
  font-weight: 700;
  font-size: 16px;
  font-family: var(--font-family-text);
  cursor: pointer;
  overflow: hidden;
  transition: 0.5s ease;
  border: none;
  width: 220px;
  margin: 5px;
  text-align: center;
}

.btn:hover {
  transform: scale(1.1);
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

/* ------------- SCROLL PAGE ------------------ */

.scroll-page {
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  z-index: 1000;
}

.scroll-page:hover {
  transform: scale(1.1);
}

.scroll-page .btn-scroll {
  background-color: var(--secondary-color);
  border-radius: var(--strong-radius);
  color: var(--tertiary-color);
  font-weight: 700;
  cursor: pointer;
  padding: 8px 18px;
  border-width: 0;
}

.scroll-page .btn-scroll i {
  font-size: 20px;
}

.show-scrollTop {
  opacity: 1;
}

/* ------------- TITRE DE PAGE ------------------ */
.titre-page {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titre-page h1 {
  font-size: 40px;
  font-family: var(--font-family-title);
  color: var(--secondary-color);
  font-weight: 600;
}

/* ------------- ABOUT ------------------ */

.contenu p {
  text-align: justify;
}

.conteneur-image {
  max-width: 380px;
  width: 100%;
  padding: 0 15px;
  margin-bottom: 15px;
}

.conteneur-image img {
  width: 100%;
  border-radius: var(--strong-radius);
}

.contenu h3 {
  font-size: 20px;
  margin: 20px 0;
  font-family: var(--font-family-title);
}

.contenu .skills {
  display: flex;
  flex-wrap: wrap;
}

.contenu .skill-item {
  border: 3px solid var(--secondary-color);
  padding: 5px 15px;
  margin: 0 10px 10px 0;
  border-radius: var(--strong-radius);
}

/* ------------- FRISES CHRONOLOGIQUES ------------------ */

.onglets-about {
  margin-top: 20px;
}

.onglets-about .item-onglet {
  padding: 2px 0;
  background-color: transparent;
  border: none;
  display: inline-block;
  color: var(--text-primary-color);
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  margin: 0 30px 0 0;
  position: relative;
  opacity: 0.5;
  font-family: var(--font-family-title);
  transition: all 0.3s ease;
}

.onglets-about .item-onglet:last-child {
  margin: 0;
}

.onglets-about .item-onglet::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: var(--text-primary-color);
  transition: width 0.3s ease;
}

.onglets-about .item-onglet:hover::before {
  width: 100%;
}

.onglets-about .item-onglet.active::before {
  width: 100%;
  background-color: var(--secondary-color);
}

.onglets-about .item-onglet.active {
  color: var(--secondary-color);
  opacity: 1;
  cursor: auto;
}

.contenu .frise-chronologique {
  position: relative;
}

.contenu .frise-chronologique::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0;
  left: 5px;
  background-color: var(--secondary-color);
}

.contenu .contenu-onglet {
  padding: 40px 0;
  display: none;
}

.contenu .contenu-onglet.active {
  display: block;
}

.contenu .periode {
  margin-bottom: 30px;
  position: relative;
  padding: 10px 0 0 40px;
}

.contenu .periode::before {
  content: "";
  position: absolute;
  height: 11px;
  width: 11px;
  background-color: var(--secondary-color);
  left: 0;
  top: 16px;
  border-radius: 50%;
}

.contenu .periode:last-child {
  margin-bottom: 0;
}

.contenu .periode .date {
  display: block;
  color: var(--secondary-color);
  font-weight: 700;
  margin: 0 0 10px;
}

.contenu .periode h4 {
  font-size: 18px;
  font-family: var(--font-family-text);
  margin: 0 0 10px;
}

.contenu .periode h4 span {
  font-weight: 400;
}

/* ------------- RESPONSIVE ------------------ */

@media screen and (max-width: 610px) {
  .titre-page {
    margin-bottom: 20px;
  }

  .titre-page h1 {
    font-size: 30px;
  }

  .page {
    margin: 10px 20px;
  }
}
