<div class="main">
  <section class="conteneur-page">
    <div class="page">
      <div class="titre-page">
        <h1>Fascination ou Répulsion</h1>
      </div>
      <div class="contenu-livre">
        <div class="flex">
          <div class="conteneur-image">
            <img
              [src]="imagePath + '/fascination.webp'"
              alt="Couverture Livre"
              title="Couverture Livre"
            />
          </div>
          <div class="texte">
            <h2>Genre :</h2>
            <p>New Romance - Romance Contemporaine</p>
            <h2>Année de publication :</h2>
            <p>2025</p>
            <h2>Rôle :</h2>
            <p>Autrice - AutoEditrice</p>
            <h2>Résumé :</h2>
            <p>
              Elle renonça à ses projets, ses amies et même à sa carrière pour
              Edouard, son amour depuis ses 16 ans. Jusqu'au jour où le
              dirigeant de l'entreprise, où elle travaille, prit sa retraite et
              se fit remplacer par un homme d'affaires reconnu et très
              séducteur.
              <br />
              <br />Saura-t-elle résister à la tentation ? Succombera-t-elle à
              l'interdit ? Leur couple supportera-t-il ce nouveau défi ? La
              réapparition d'une amie d'enfance fera-t-elle basculer l'histoire
              ? Découvrez ce captivant roman romantique d'une femme en quête de
              son bonheur et de soi-même.
            </p>
            <a
              class="btn"
              type="button"
              title="Accéder au lien de vente"
              href="https://www.amazon.fr/dp/B0F9FP49GS"
              target="_blank"
            >
              <span>Accéder au lien de vente</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
