<div class="main">
  <a class="retour" routerLink="/projets" title="Retour">
    <span>Retour</span>
  </a>
  <section class="conteneur-page">
    <div class="page">
      <div class="titre-page">
        <h1>Articles de Blog</h1>
      </div>
      <div class="conteneur-articles">
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + 'article1/1.webp'"
              alt="Article 1"
              title="Article 1"
            />
          </div>
          <a class="btn" routerLink="1" title="Lire l'article">
            <span>Lire l'article</span>
          </a>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + 'article2/2.webp'"
              alt="Article 2"
              title="Article 2"
            />
          </div>
          <a class="btn" routerLink="2" title="Lire l'article">
            <span>Lire l'article</span>
          </a>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + 'article3/3.webp'"
              alt="Article 3"
              title="Article 3"
            />
          </div>
          <a class="btn" routerLink="3" title="Lire l'article">
            <span>Lire l'article</span>
          </a>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + 'article4/4.webp'"
              alt="Article 4"
              title="Article 4"
            />
          </div>
          <a class="btn" routerLink="4" title="Lire l'article">
            <span>Lire l'article</span>
          </a>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + 'article5/5.webp'"
              alt="Article 5"
              title="Article 5"
            />
          </div>
          <a class="btn" routerLink="5" title="Lire l'article">
            <span>Lire l'article</span>
          </a>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + 'article6/6.webp'"
              alt="Article 6"
              title="Article 6"
            />
          </div>
          <a class="btn" routerLink="6" title="Lire l'article">
            <span>Lire l'article</span>
          </a>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + 'article7/7.webp'"
              alt="Article 7"
              title="Article 7"
            />
          </div>
          <a class="btn" routerLink="7" title="Lire l'article">
            <span>Lire l'article</span>
          </a>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + 'article8/8.webp'"
              alt="Article 8"
              title="Article 8"
            />
          </div>
          <a class="btn" routerLink="8" title="Lire l'article">
            <span>Lire l'article</span>
          </a>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + 'article9/9.webp'"
              alt="Article 9"
              title="Article 9"
            />
          </div>
          <a class="btn" routerLink="9" title="Lire l'article">
            <span>Lire l'article</span>
          </a>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + 'article10/10.webp'"
              alt="Article 10"
              title="Article 10"
            />
          </div>
          <a class="btn" routerLink="10" title="Lire l'article">
            <span>Lire l'article</span>
          </a>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + 'article11/11.webp'"
              alt="Article 11"
              title="Article 11"
            />
          </div>
          <a class="btn" routerLink="11" title="Lire l'article">
            <span>Lire l'article</span>
          </a>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + 'article12/12.webp'"
              alt="Article 12"
              title="Article 12"
            />
          </div>
          <a class="btn" routerLink="12" title="Lire l'article">
            <span>Lire l'article</span>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
