<div class="main">
  <div class="retour-container">
    <a class="retour" routerLink="/projets" title="Retour">
      <span>Retour</span>
    </a>
  </div>
  <section class="projets-section sec-padding">
    <div class="container">
      <div class="section-title">
        <h2 class="title">Articles de Blog</h2>
      </div>
      <div class="projets-container">
        <div class="projets-item">
          <div class="projets-item-thumbnail">
            <img
              [src]="imagePath + 'article1/1.png'"
              alt="projets item thumb"
            />
          </div>
          <a class="btn" routerLink="1" title="Lire l'article">
            <span>Lire l'article</span>
          </a>
        </div>
        <div class="projets-item">
          <div class="projets-item-thumbnail">
            <img
              [src]="imagePath + 'article2/2.png'"
              alt="projets item thumb"
            />
          </div>
          <a class="btn" routerLink="2" title="Lire l'article">
            <span>Lire l'article</span>
          </a>
        </div>
        <div class="projets-item">
          <div class="projets-item-thumbnail">
            <img
              [src]="imagePath + 'article3/3.png'"
              alt="projets item thumb"
            />
          </div>
          <a class="btn" routerLink="3" title="Lire l'article">
            <span>Lire l'article</span>
          </a>
        </div>
        <div class="projets-item">
          <div class="projets-item-thumbnail">
            <img
              [src]="imagePath + 'article4/4.png'"
              alt="projets item thumb"
            />
          </div>
          <a class="btn" routerLink="4" title="Lire l'article">
            <span>Lire l'article</span>
          </a>
        </div>
        <div class="projets-item">
          <div class="projets-item-thumbnail">
            <img
              [src]="imagePath + 'article5/5.png'"
              alt="projets item thumb"
            />
          </div>
          <a class="btn" routerLink="5" title="Lire l'article">
            <span>Lire l'article</span>
          </a>
        </div>
        <div class="projets-item">
          <div class="projets-item-thumbnail">
            <img
              [src]="imagePath + 'article6/6.png'"
              alt="projets item thumb"
            />
          </div>
          <a class="btn" routerLink="6" title="Lire l'article">
            <span>Lire l'article</span>
          </a>
        </div>
        <div class="projets-item">
          <div class="projets-item-thumbnail">
            <img
              [src]="imagePath + 'article7/7.png'"
              alt="projets item thumb"
            />
          </div>
          <a class="btn" routerLink="7" title="Lire l'article">
            <span>Lire l'article</span>
          </a>
        </div>
        <div class="projets-item">
          <div class="projets-item-thumbnail">
            <img
              [src]="imagePath + 'article8/8.png'"
              alt="projets item thumb"
            />
          </div>
          <a class="btn" routerLink="8" title="Lire l'article">
            <span>Lire l'article</span>
          </a>
        </div>
        <div class="projets-item">
          <div class="projets-item-thumbnail">
            <img
              [src]="imagePath + 'article9/9.png'"
              alt="projets item thumb"
            />
          </div>
          <a class="btn" routerLink="9" title="Lire l'article">
            <span>Lire l'article</span>
          </a>
        </div>
        <div class="projets-item">
          <div class="projets-item-thumbnail">
            <img
              [src]="imagePath + 'article10/10.png'"
              alt="projets item thumb"
            />
          </div>
          <a class="btn" routerLink="10" title="Lire l'article">
            <span>Lire l'article</span>
          </a>
        </div>
        <div class="projets-item">
          <div class="projets-item-thumbnail">
            <img
              [src]="imagePath + 'article11/11.png'"
              alt="projets item thumb"
            />
          </div>
          <a class="btn" routerLink="11" title="Lire l'article">
            <span>Lire l'article</span>
          </a>
        </div>
        <div class="projets-item">
          <div class="projets-item-thumbnail">
            <img
              [src]="imagePath + 'article12/12.png'"
              alt="projets item thumb"
            />
          </div>
          <a class="btn" routerLink="12" title="Lire l'article">
            <span>Lire l'article</span>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
