<div class="main">
  <a class="retour" routerLink="/projets/projets-master" title="Retour">
    <span>Retour</span>
  </a>
  <section class="projets-section sec-padding">
    @if (expandedImageSrc()) {
    <div class="overlay" (click)="closeImage()">
      <img [src]="expandedImageSrc()" alt="Expanded Image" />
    </div>
    }
    <div class="container">
      <div class="section-title">
        <h2 class="title">Projet n°1 : XXXX</h2>
      </div>
      <div class="projets-container">
        <h2 class="section-some-title">1 - Titre de partie</h2>
        <h3>Sous-titre de partie</h3>
        <p>Texte</p>
        <h2 class="section-some-title">5 - Livrables produits</h2>
        <div class="images-container">
          <div class="projets-item-thumbnail-img">
            <img [src]="imagePath + ''" alt="projets item thumb" />
            <p style="font-weight: bold">Nom Livrable 1</p>
            <a class="btn" (click)="onImageClick(imagePath + '')" title="Voir">
              <span>Voir</span>
            </a>
          </div>
          <div class="projets-item-thumbnail-img">
            <img [src]="imagePath + ''" alt="projets item thumb" />
            <p style="font-weight: bold">Nom Livrable 2</p>
            <a class="btn" (click)="onImageClick(imagePath + '')" title="Voir">
              <span>Voir</span>
            </a>
          </div>
          <div class="projets-item-thumbnail-img">
            <img [src]="imagePath + ''" alt="projets item thumb" />
            <p style="font-weight: bold">Nom Livrable 3</p>
            <a class="btn" (click)="onImageClick(imagePath + '')" title="Voir">
              <span>Voir</span>
            </a>
          </div>
          <div class="projets-item-thumbnail-img">
            <img [src]="imagePath + ''" alt="projets item thumb" />
            <p style="font-weight: bold">Nom Livrable 4</p>
            <a class="btn" (click)="onImageClick(imagePath + '')" title="Voir">
              <span>Voir</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
