<div class="main">
  <a class="retour" routerLink="/projets/projets-master" title="Retour">
    <span>Retour</span>
  </a>
  <section class="projets-section sec-padding">
    @if (expandedImageSrc()) {
    <div class="overlay" (click)="closeImage()">
      <img [src]="expandedImageSrc()" alt="Expanded Image" />
    </div>
    }
    <div class="container">
      <div class="section-titre">
        <h2 class="titre-page">
          Projet n°1 : Hôtel Hyatt Regency Paris Étoile
        </h2>
      </div>
      <div class="projets-container">
        <h2 class="section-some-title">1 - Contexte du projet</h2>
        <p>
          J’ai endossé le rôle de
          <strong>responsable marketing digital</strong> pour le prestigieux
          Hôtel Hyatt Regency Paris Étoile, établissement haut de gamme au cœur
          de Paris.
        </p>
        <h3>
          <i class="fa-solid fa-bullseye"></i>Objectifs fixés par la direction :
        </h3>
        <ul>
          <li>Relancer l’activité suite à des travaux de rénovation</li>
          <li>Faire revenir la clientèle fidèle et historique</li>
          <li>
            Attirer une clientèle plus connectée, sensible aux actions digitales
          </li>
        </ul>
        <p>
          Le budget alloué était de
          <strong>30 000 € HT sur une durée de 6 mois</strong>, ciblant
          principalement une clientèle européenne.
        </p>
        <h2 class="section-some-title">2 - Objectifs stratégiques</h2>
        <p>
          J’ai structuré ma stratégie autour de 3
          <strong>leviers principaux (SEO, SEA, Réseaux sociaux)</strong>,
          chacun doté d’objectifs SMART spécifiques :
        </p>
        <ul>
          <li>
            <strong>SEO :</strong> Être dans le top 5 sur les mots-clés "hôtel
            luxe Paris" et "hôtel près de l’Arc de Triomphe" d'ici 6 mois.
          </li>
          <li>
            <strong>SEA :</strong> Atteindre un CTR moyen de 5 % et un ROAS de
            200 % d'ici 6 mois.
          </li>
          <li>
            <strong>Réseaux sociaux :</strong> Accroître la communauté Instagram
            de 25 % et obtenir un taux d’engagement de 5 % d'ici 6 mois.
          </li>
        </ul>
        <h2 class="section-some-title">3 - Personas définis</h2>
        <p>
          J’ai élaboré <strong>4 personas complets</strong> pour refléter les
          segments clés de la clientèle :
        </p>
        <ol>
          <li>Connor – Voyageur d’affaires international</li>
          <li>Famille Rossi – Famille italienne en vacances</li>
          <li>Chloé & Romain – Jeune couple en escapade romantique</li>
          <li>Claude & Monique – Couple de retraités passionnés de culture</li>
        </ol>
        <p>
          Chaque persona inclut des
          <strong
            >critères sociodémographiques, comportementaux, des motivations et
            des freins à l’achat</strong
          >, afin de personnaliser au maximum l’approche marketing.
        </p>
        <h2 class="section-some-title">4 - Analyse concurrentielle</h2>
        <p>
          Trois concurrents directs ont été analysés sur leur stratégie digitale
          :
        </p>
        <ul>
          <li>
            <strong>Le 10 Bis :</strong> Excellent SEO mais inactif en SEA et
            sur les réseaux.
          </li>
          <li>
            <strong>Tsuba Hôtel :</strong> SEO bien structuré, influence et
            partenariats, mais UX à revoir.
          </li>
          <li>
            <strong>Hôtel Régence Étoile :</strong> Bonne performance SEA mais
            peu actif sur les réseaux et manque de modernité.
          </li>
        </ul>
        <p>
          Cela m’a permis d’identifier des opportunités à exploiter et des axes
          de différenciation.
        </p>
        <h2 class="section-some-title">5 - SWOT de l'établissement</h2>
        <ul>
          <li><strong>Forces :</strong> Localisation idéale, forte marque</li>
          <li>
            <strong>Faiblesses :</strong> Faible branding digital, SEO à
            optimiser
          </li>
          <li>
            <strong>Opportunités :</strong> Influence lifestyle, contenus
            authentiques
          </li>
          <li>
            <strong>Menaces :</strong> Concurrence accrue, instabilité
            touristique
          </li>
        </ul>
        <h2 class="section-some-title">6 - Stratégie multicanale</h2>
        <h3><i class="fa-solid fa-circle-right"></i>SEO</h3>
        <ul>
          <li>
            Audit technique, roadmap, contenu optimisé, backlinks, stratégie
            éditoriale (articles par persona)
          </li>
          <li>
            <strong>Mots-clés ciblés :</strong> “hôtel de luxe à Paris”, “vue
            Tour Eiffel”, “séjour romantique”, etc...
          </li>
        </ul>
        <h3><i class="fa-solid fa-circle-right"></i>SEA</h3>
        <p>3 campagnes segmentées :</p>
        <ul>
          <li><strong>Notoriété</strong> (display & YouTube)</li>
          <li><strong>Trafic</strong> (search + retargeting)</li>
          <li><strong>Conversion</strong> (réservations ciblées)</li>
        </ul>
        <h3><i class="fa-solid fa-circle-right"></i>Réseaux sociaux</h3>
        <ul>
          <li><strong>Canaux :</strong> Instagram, LinkedIn, Facebook</li>
          <li>Contenu personnalisé par persona (3 à 5 publications/semaine)</li>
          <li>
            Thèmes : coulisses, témoignages, événements, offres partenaires
          </li>
        </ul>
        <h3><i class="fa-solid fa-circle-right"></i>Emailing (Bonus)</h3>
        <ul>
          <li>
            <strong>2 workflows :</strong> nouveaux clients & anciens clients
          </li>
          <li>Campagnes thématiques (été, rentrée, bien-être, Noël…)</li>
        </ul>
        <h2 class="section-some-title">7 - Calendrier éditorial</h2>
        <p>
          Un planning éditorial complet sur <strong>6 mois</strong> a été
          construit :
        </p>
        <ul>
          <li>
            Format : stories, reels, carrousels, lives, concours, témoignages
          </li>
          <li>
            Marronniers marketing intégrés (fêtes, JO 2024, rentrée, Black
            Friday…)
          </li>
        </ul>
        <h2 class="section-some-title">8 - Suivi des KPI's</h2>
        <p>Des tableaux de bord précis ont été élaborés pour chaque canal :</p>
        <ul>
          <li>
            <strong>SEO :</strong> position des mots-clés, CTR, backlinks…
          </li>
          <li><strong>SEA :</strong> conversions, CPC, ROAS, taux de clics…</li>
          <li>
            <strong>Réseaux sociaux :</strong> engagement, trafic généré, vues
            stories…
          </li>
          <li>
            <strong>Emailing :</strong> taux d’ouverture, de clic, de
            conversion, de rebond…
          </li>
        </ul>
        <h2 class="section-some-title">9 - Budget et ROI</h2>
        <h3>
          <i class="fa-solid fa-coins"></i>Répartition du budget (30 000 € HT
          sur 6 mois) :
        </h3>
        <ul>
          <li><strong>SEA :</strong> 12 000 € (40 %)</li>
          <li><strong>SEO :</strong> 8 000 € (26,7 %)</li>
          <li><strong>Réseaux sociaux :</strong> 6 000 € (20 %)</li>
          <li><strong>Emailing :</strong> 4 000 € (13,3 %)</li>
        </ul>
        <h3>
          <i class="fa-solid fa-money-bills"></i>Retour sur investissement
          estimé :
        </h3>
        <p>
          ROI SEA estimé à
          <strong>70 % avec 3 campagnes séquencées</strong> selon le parcours
          client.
        </p>
        <h2 class="section-some-title">10 - Livrables produits</h2>
        <h3><i class="fa-solid fa-eye"></i>Aperçus du projet</h3>
        <div class="images-container">
          <div class="projets-item-thumbnail-img">
            <img [src]="imagePath + '/persona.png'" alt="projets item thumb" />
            <p style="font-weight: bold">Description Persona</p>
            <a
              class="btn"
              (click)="onImageClick(imagePath + '/persona.png')"
              title="Voir"
            >
              <span>Voir</span>
            </a>
          </div>
          <div class="projets-item-thumbnail-img">
            <img
              [src]="imagePath + '/concurrent.png'"
              alt="projets item thumb"
            />
            <p style="font-weight: bold">Audit Concurrent</p>
            <a
              class="btn"
              (click)="onImageClick(imagePath + '/concurrent.png')"
              title="Voir"
            >
              <span>Voir</span>
            </a>
          </div>
          <div class="projets-item-thumbnail-img">
            <img
              [src]="imagePath + '/strategie.png'"
              alt="projets item thumb"
            />
            <p style="font-weight: bold">Stratégie Marketing</p>
            <a
              class="btn"
              (click)="onImageClick(imagePath + '/strategie.png')"
              title="Voir"
            >
              <span>Voir</span>
            </a>
          </div>
          <div class="projets-item-thumbnail-img">
            <img [src]="imagePath + 'emailing.png'" alt="projets item thumb" />
            <p style="font-weight: bold">Workflow Emailing</p>
            <a
              class="btn"
              (click)="onImageClick(imagePath + 'emailing.png')"
              title="Voir"
            >
              <span>Voir</span>
            </a>
          </div>
        </div>
        <h3><i class="fa-solid fa-download"></i>Télécharger le livrable</h3>
        <div class="button-container">
          <a
            [href]="
              filePath +
              'images/projets-master/projet1/plan-marketing-digital.pdf'
            "
            download="Plan-marketing-digital.pdf"
            title="Télécharger le plan marketing"
            aria-label="plan-marketing"
            class="btn"
            >Télécharger le plan marketing</a
          >
        </div>
      </div>
    </div>
  </section>
</div>
