<div class="main">
  <a class="retour" routerLink="/projets/defis-marketing" title="Retour">
    <span>Retour</span>
  </a>
  <section class="conteneur-page">
    @if (expandedImageSrc()) {
    <div class="overlay" (click)="closeImage()">
      <img [src]="expandedImageSrc()" alt="Expanded Image" />
    </div>
    }
    <div class="page">
      <div class="titre-page">
        <h1>Défi n°3 : Perlora</h1>
      </div>
      <div class="contenu-defi">
        <h2 class="titre-partie">1 - Cartes tirées au hasard pour ce défi</h2>

        <div class="cartes">
          <!-- Carte 1 -->
          <div class="carte">
            <div class="interieur">
              <!-- RECTO -->
              <div class="recto">
                <div
                  class="cercle"
                  style="background-color: var(--primary-color)"
                >
                  <i class="fa-regular fa-lightbulb"></i>
                  <div class="categorie">CARTE SUPPORT</div>
                </div>
              </div>
              <!-- VERSO -->
              <div class="verso">
                <div class="resultat">
                  <span class="dernier">Une Publicité Extérieure</span>
                </div>
                <p>
                  Que la publicité soit en 4x3, en affichette ou encore en
                  format abribus, réfléchissez aux cibles, au message à
                  transmettre et à la saisonnalité.
                </p>
              </div>
            </div>
          </div>

          <!-- Carte 2 -->
          <div class="carte">
            <div class="interieur">
              <!-- RECTO -->
              <div class="recto">
                <div
                  class="cercle"
                  style="background-color: var(--primary-color)"
                >
                  <i class="fa-regular fa-building"></i>
                  <div class="categorie">CARTE SECTEUR D'ACTIVITE</div>
                </div>
              </div>
              <!-- VERSO -->
              <div class="verso">
                <div class="resultat">
                  <span>Une bijouterie</span>
                </div>
                <p>
                  Experte dans le travail de la perle, la bijouterie Perlora
                  puise son inspiration dans l'écosystème marin. Boucles
                  d'oreilles en motif écaille, colliers de perles, bagues aux
                  tonalités naturelles : toutes les créations sont uniques !
                </p>
              </div>
            </div>
          </div>

          <!-- Carte 3 -->
          <div class="carte">
            <div class="interieur">
              <!-- RECTO -->
              <div class="recto">
                <div
                  class="cercle"
                  style="background-color: var(--primary-color)"
                >
                  <i class="fa-regular fa-circle-xmark"></i>
                  <div class="categorie">CARTE CONTRAINTE</div>
                </div>
              </div>
              <!-- VERSO -->
              <div class="verso">
                <div class="resultat">
                  <span class="dernier"
                    >Intégrer un élément cliché du secteur</span
                  >
                </div>
                <p>Exemple : une paire de ciseaux pour une coiffeuse.</p>
              </div>
            </div>
          </div>
        </div>

        <h3><i class="fa-solid fa-bullseye"></i>Défi</h3>
        <p>
          Créer une <strong>affiche publicitaire extérieure</strong> pour une
          bijouterie spécialisée dans les
          <strong>perles et l'écosystème marin</strong>, en intégrant
          volontairement un <strong>élément cliché</strong> du secteur.
        </p>
        <h2 class="titre-partie">2 - Démarche créative</h2>
        <p>
          Ce défi m’a amenée à concevoir une
          <strong>affiche publicitaire au format abribus vertical</strong>, pour
          la bijouterie fictive Perlora, spécialisée dans les perles et inspirée
          de l’univers marin.
        </p>
        <p>
          L’objectif était de créer un visuel à la fois
          <strong>immersif et élégant</strong>, capable de capter l’attention
          dans l’espace urbain, tout en incarnant l’inspiration marine,
          <strong>la singularité</strong> de chaque création, la délicatesse et
          le lien <strong>entre la nature et la beauté féminine</strong>.
        </p>
        <p>
          J’ai choisi de mettre en scène une femme portant plusieurs bijoux : un
          collier de perles, une paire de boucles d’oreilles, et une bague
          évoquant une écaille marine, en écho direct aux créations uniques de
          la marque.
        </p>
        <p>
          Cette composition permet de valoriser la beauté du bijou porté, dans
          un cadre lumineux et poétique, enrichi d’un fond marin texturé.
        </p>
        <h2 class="titre-partie">3 - Identité visuelle</h2>
        <h3><i class="fa-solid fa-circle-right"></i>Nom de marque</h3>
        <p>Perlora est une <strong>fusion</strong> de “perle” et de “flora”.</p>
        <p>
          Il évoque à la fois la mer, la nature et la lumière, tout en étant
          fluide, féminin et mémorable.
        </p>
        <h3><i class="fa-solid fa-thumbtack"></i>Slogan</h3>
        <p>"Éclat de l’océan"</p>
        <p>
          Court, évocateur, poétique, il condense
          <strong>l’inspiration de la marque</strong> (la mer) et la
          <strong>promesse des bijoux</strong> (l’éclat, la singularité).
        </p>
        <h3><i class="fa-solid fa-palette"></i>Palette de couleurs</h3>
        <div class="couleurs-container">
          <div class="palette">
            <div class="couleur" style="background-color: #1d354c"></div>
            <span style="font-weight: bold; color: var(--primary-color)"
              >#1D354C – Bleu algue</span
            >
            <span style="margin: 0">Marin & Élégance</span>
          </div>
          <div class="palette">
            <div class="couleur" style="background-color: #336d74"></div>
            <span style="font-weight: bold; color: var(--primary-color)"
              >#336D74 – Turquoise</span
            >
            <span style="margin: 0">Océan & Fraicheur</span>
          </div>
          <div class="palette">
            <div class="couleur" style="background-color: #efefeb"></div>
            <span style="font-weight: bold; color: var(--primary-color)"
              >#EFEFEB – Nacre douce</span
            >
            <span style="margin: 0">Raffinement & Lumière</span>
          </div>
          <div class="palette">
            <div class="couleur" style="background-color: #cac9c3"></div>
            <span style="font-weight: bold; color: var(--primary-color)"
              >#CAC9C3 – Gris</span
            >
            <span style="margin: 0">Neutralité & Matière</span>
          </div>
          <div class="palette">
            <div class="couleur" style="background-color: #ffad9e"></div>
            <span style="font-weight: bold; color: var(--primary-color)"
              >#FFAD9E – Corail clair</span
            >
            <span style="margin: 0">Chaleur & Humain</span>
          </div>
        </div>
        <h3><i class="fa-solid fa-pen-fancy"></i>Typographie</h3>
        <p>
          <strong>Titres : Cinzel –</strong> Une police à empattement sculptée,
          raffinée, idéale pour l’univers bijoutier
        </p>
        <p>
          <strong>Textes courants : Libre Franklin –</strong> Une sans serif
          moderne, lisible et élégante
        </p>
        <h3><i class="fa-regular fa-file"></i>Logos</h3>
        <p>
          Trois déclinaisons ont été conçues pour assurer
          <strong>lisibilité et adaptabilité</strong> sur tous supports :
        </p>
        <ul>
          <li>
            Un logo principal sur fond clair, avec une
            <strong>perle stylisée</strong> au-dessus du nom,
            <strong>symbole central de l’univers marin</strong> de la marque.
          </li>
          <li>
            Un logo inversé pour fonds foncés,
            <strong>plus contrasté et impactant</strong>.
          </li>
          <li>
            Une version turquoise pour les
            <strong>supports digitaux ou les visuels doux</strong>.
          </li>
        </ul>
        <p>
          Chaque version respecte l’identité visuelle tout en garantissant la
          cohérence de marque.
        </p>
        <h3>
          <i class="fa-regular fa-image"></i>Illustrations et univers visuel
        </h3>
        <p>
          L’univers visuel de Perlora repose sur des
          <strong>textures marines, des formes organiques</strong> (coquillage,
          écaille, perle), et <strong>des gestes féminins</strong>
          subtils et évocateurs.
        </p>
        <p>
          Les visuels choisis traduisent
          <strong>l’inspiration de la marque :</strong> la mer comme source de
          beauté naturelle, dans un ton élégant, sensoriel et intemporel.
        </p>
        <h2 class="titre-partie">4 - Création de la publicité</h2>
        <h3><i class="fa-solid fa-bullseye"></i>Objectifs</h3>
        <p>
          Cette publicité a pour but de positionner Perlora comme une
          <strong>marque singulière</strong>, en traduisant son lien à l’océan
          et à la beauté naturelle.
        </p>
        <p>Elle vise à :</p>
        <ul>
          <li>
            Captiver le regard dans l’espace urbain par une image forte,
            élégante et minimaliste
          </li>
          <li>
            Faire ressentir l’univers poétique de la marque à travers la
            lumière, les matières et le port du bijou
          </li>
          <li>
            Exprimer l’unicité des créations tout en créant une connexion
            émotionnelle avec la cible
          </li>
        </ul>
        <p>
          L’affiche combine visibilité et subtilité pour inscrire la marque dans
          un <strong>imaginaire sensoriel et durable</strong>.
        </p>

        <h3><i class="fa-solid fa-user"></i>Cibles</h3>
        <p>
          <strong>Cible principale :</strong> femmes entre 30 et 55 ans,
          sensibles à l’artisanat, aux matières naturelles et au sens émotionnel
          d’un bijou
        </p>
        <p>
          <strong>Cible secondaire :</strong> hommes ou proches souhaitant
          offrir un bijou porteur de sens et d’élégance
        </p>
        <h3><i class="fa-solid fa-comment"></i>Accroches et message</h3>
        <p>
          Cette accroche met en valeur l’idée que
          <strong>chaque perle et chaque personne est unique</strong>.
        </p>
        <p>
          Elle invite à un lien intime avec le bijou, dans un univers visuel
          inspiré par l’eau, la lumière et la féminité.
        </p>
        <h3><i class="fa-solid fa-circle-right"></i>Contrainte respectée</h3>
        <p>
          La consigne imposait d’intégrer un <strong>élément cliché</strong> du
          secteur de la bijouterie.
        </p>
        <p>
          J’ai volontairement utilisé ici une femme au visage baissé, en train
          de mettre en valeur ses bijoux et perles dans une pose élégante : une
          représentation très fréquente dans les visuels bijoutiers.
        </p>
        <p>
          Mais au lieu de la surjouer, j’ai choisi de l’inscrire dans une
          ambiance douce, sensorielle et marine, en lien avec l’identité de
          Perlora.
        </p>
        <h2 class="titre-partie">5 - Livrables produits</h2>
        <div class="contenu-visuels">
          <div class="conteneur-preview">
            <img
              [src]="imagePath + '/brandboard.webp'"
              alt="Brand Board"
              title="Brand Board"
            />
            <p style="font-weight: bold">Brand Board</p>
            <a
              class="btn"
              (click)="onImageClick(imagePath + '/brandboard.webp')"
              title="Consulter"
            >
              <span>Consulter</span>
            </a>
          </div>
          <div class="conteneur-preview">
            <img
              [src]="imagePath + '/logo-principal.webp'"
              alt="Logo principal"
              title="Logo principal"
            />
            <p style="font-weight: bold">Logo principal</p>
            <a
              class="btn"
              (click)="onImageClick(imagePath + '/logo-principal.webp')"
              title="Consulter"
            >
              <span>Consulter</span>
            </a>
          </div>
          <div class="conteneur-preview">
            <img
              [src]="imagePath + '/affichage-gare.webp'"
              alt="Affichage Gare"
              title="Affichage Gare"
            />
            <p style="font-weight: bold">Affichage Gare</p>
            <a
              class="btn"
              (click)="onImageClick(imagePath + '/affichage-gare.webp')"
              title="Consulter"
            >
              <span>Consulter</span>
            </a>
          </div>
          <div class="conteneur-preview">
            <img
              [src]="imagePath + '/abribus.webp'"
              alt="Affichage Abribus"
              title="Affichage Abribus"
            />
            <p style="font-weight: bold">Affichage Abribus</p>
            <a
              class="btn"
              (click)="onImageClick(imagePath + '/abribus.webp')"
              title="Consulter"
            >
              <span>Consulter</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div
      class="scroll-page"
      title="Haut de page"
      [ngClass]="{ 'show-scrollTop': windowScrolled }"
    >
      <button class="btn-scroll" (click)="scrollToTop()">
        <i class="fa fa-chevron-up"></i>
      </button>
    </div>
  </section>
</div>
