<div class="main">
  <a class="retour" routerLink="/projets/defis-marketing" title="Retour">
    <span>Retour</span>
  </a>
  <section class="projets-section sec-padding">
    @if (expandedImageSrc()) {
    <div class="overlay" (click)="closeImage()">
      <img [src]="expandedImageSrc()" alt="Expanded Image" />
    </div>
    }
    <div class="container">
      <div class="section-title">
        <h2 class="title">Défi n°3 : Perlora</h2>
      </div>
      <div class="projets-container">
        <h2 class="section-some-title">
          1 - Cartes tirées au hasard pour ce défi
        </h2>
        <div class="cartes">
          <div class="carte">
            <div class="interieur">
              <div class="titre">
                <div class="resultat">
                  <i class="fa-regular fa-lightbulb"></i>
                  <span>Une Publicité Extérieure</span>
                </div>
                <div class="separation"></div>
              </div>
              <div class="details">
                <p>
                  Que la publicité soit en 4x3, en affichette ou encore en
                  format abribus, réfléchissez aux cibles, au message à
                  transmettre et à la saisonnalité.
                </p>
              </div>
              <div class="categorie">CARTE SUPPORT</div>
            </div>
          </div>
          <div class="carte">
            <div class="interieur">
              <div class="titre">
                <div class="resultat">
                  <i class="fa-regular fa-building"></i>
                  <span>Une bijouterie</span>
                </div>
                <div class="separation"></div>
              </div>
              <div class="details">
                <p>
                  Experte dans le travail de la perle, la bijouterie Perlora
                  puise son inspiration dans l'écosystème marin. Boucles
                  d'oreilles en motif écaille, colliers de perles, bagues aux
                  tonalités naturelles : toutes les créations sont uniques !
                </p>
              </div>
              <div class="categorie">CARTE SECTEUR D'ACTIVITE</div>
            </div>
          </div>
          <div class="carte">
            <div class="interieur">
              <div class="titre">
                <div class="resultat">
                  <i class="fa-regular fa-circle-xmark"></i>
                  <span class="dernier"
                    >Intégrer un élément cliché du secteur</span
                  >
                </div>
                <div class="separation"></div>
              </div>
              <div class="details">
                <p>Exemple : une paire de ciseaux pour une coiffeuse.</p>
              </div>
              <div class="categorie">CARTE CONTRAINTE</div>
            </div>
          </div>
        </div>
        <h3><i class="fa-solid fa-bullseye"></i>Défi</h3>
        <p>XXXXXXXX</p>
        <h2 class="section-some-title">2 - Démarche créative</h2>

        <h2 class="section-some-title">5 - Livrables produits</h2>
        <div class="images-container">
          <div class="projets-item-thumbnail-img">
            <img
              [src]="imagePath + '/brandboard.png'"
              alt="projets item thumb"
            />
            <p style="font-weight: bold">Brand Board</p>
            <a
              class="btn"
              (click)="onImageClick(imagePath + '/brandboard.png')"
              title="Voir"
            >
              <span>Voir</span>
            </a>
          </div>
          <div class="projets-item-thumbnail-img">
            <img
              [src]="imagePath + '/logo-principal.png'"
              alt="projets item thumb"
            />
            <p style="font-weight: bold">Logo principal</p>
            <a
              class="btn"
              (click)="onImageClick(imagePath + '/logo-principal.png')"
              title="Voir"
            >
              <span>Voir</span>
            </a>
          </div>
          <div class="projets-item-thumbnail-img">
            <img
              [src]="imagePath + '/logo-secondaire-1.png'"
              alt="projets item thumb"
            />
            <p style="font-weight: bold">Logo secondaire (1)</p>
            <a
              class="btn"
              (click)="onImageClick(imagePath + '/logo-secondaire-1.png')"
              title="Voir"
            >
              <span>Voir</span>
            </a>
          </div>
          <div class="projets-item-thumbnail-img">
            <img
              [src]="imagePath + '/logo-secondaire-2.png'"
              alt="projets item thumb"
            />
            <p style="font-weight: bold">Logo secondaire (2)</p>
            <a
              class="btn"
              (click)="onImageClick(imagePath + '/logo-secondaire-2.png')"
              title="Voir"
            >
              <span>Voir</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
