.carte {
  max-width: 240px;
  width: 100%;
  margin: 0 15px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: var(--light-radius);
}

.conteneur-image {
  border-radius: var(--light-radius);
  display: flex;
  align-content: center;
  justify-content: center;
}

.conteneur-image img {
  width: 100%;
  border-radius: var(--light-radius);
  object-fit: contain;
}

.conteneur-preview h3 {
  margin: 20px 0;
  font-weight: 700;
}

.btn {
  background-color: var(--secondary-color);
  padding: 10px 28px;
  border-radius: var(--strong-radius);
  color: var(--tertiary-color);
  font-weight: 700;
  font-size: 16px;
  font-family: var(--font-family-text);
  cursor: pointer;
  overflow: hidden;
  transition: 0.5s ease;
  border: none;
  width: 220px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  transform: scale(1.1);
}
