/* ------------- FONTS ------------------ */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* ------------- GENERAUX ------------------ */
:host {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

.main {
  width: 100%;
}

.page {
  margin: 0 40px;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

/* ------------- BOUTONS ------------------ */
button {
  font-family: inherit;
  user-select: none;
}

.btn {
  background-color: var(--secondary-color);
  padding: 10px 28px;
  border-radius: var(--strong-radius);
  color: var(--tertiary-color);
  font-weight: 700;
  font-size: 16px;
  font-family: var(--font-family-text);
  cursor: pointer;
  overflow: hidden;
  transition: 0.5s ease;
  border: none;
  width: 220px;
  margin: 10px;
  text-align: center;
}

.btn:hover {
  transform: scale(1.1);
}

.retour-container {
  position: absolute;
  top: 20px;
  left: 20px;
  transition: 0.5s ease;
}

.retour {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  background-color: var(--secondary-color);
  padding: 10px 28px;
  border-radius: var(--strong-radius);
  color: var(--tertiary-color);
  font-weight: 700;
  font-size: 16px;
  font-family: var(--font-family-text);
  cursor: pointer;
  transition: 0.5s ease;
}

.retour:hover {
  transform: scale(1.1);
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.button-container .btn {
  width: auto;
}

/* ------------- TITRE DE PAGE ------------------ */
.titre-page {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titre-page h1 {
  line-height: normal;
  margin-bottom: 0;
  margin-top: 20px;
}

/* ------------- PROJET ------------------ */
.contenu-projet img {
  width: 300px;
  height: 150px;
  object-fit: cover;
}

.contenu-projet p {
  text-align: justify;
  margin: 15px 0px 5px 0px;
}

.contenu-projet ul {
  text-align: justify;
  margin: 15px 0px 15px 70px;
}

.contenu-projet ul li {
  margin-bottom: 10px;
}

.contenu-projet ol {
  text-align: justify;
  margin: 15px 0px 15px 70px;
}

.contenu-projet ol li {
  margin-bottom: 10px;
}

.contenu-projet h3 {
  text-decoration: underline;
  margin: 15px 0px 5px 0px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contenu-projet h3 i {
  font-size: 20px;
  margin-right: 10px;
  color: var(--primary-color);
  margin-left: 10px;
}

.contenu-projet .titre-partie {
  color: var(--secondary-color);
  text-decoration: underline;
  font-family: var(--font-family-title);
  font-size: 22px;
  margin-top: 25px;
  font-weight: 400;
  margin-bottom: 10px;
}

.conteneur-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contenu-projet .contenu-visuels {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}

.contenu-projet .contenu-visuels .conteneur-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contenu-projet .contenu-visuels .conteneur-preview img {
  border-radius: var(--light-radius);
  border: 3px solid transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 300px;
  max-height: 150px;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.overlay img {
  max-width: 90%;
  max-height: 90%;
  border-radius: var(--light-radius);
}

.contenu-design {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

swiper-container {
  width: 80%;
  height: 450px;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: var(--light-radius);
}

swiper-slide {
  width: 100%;
  cursor: grab;
  background-color: var(--primary-color);
  border-radius: var(--light-radius);
}

swiper-slide img {
  width: 100%;
  height: 410px;
  object-fit: contain;
  margin-top: 20px;
}

swiper-slide.mockup {
  width: 100%;
  cursor: grab;
  background-color: none;
}

swiper-slide.mockup img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: var(--light-radius);
  margin-top: 0;
}

.contenu-design .description-container {
  margin-top: 25px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contenu-design .description-container img {
  width: 50px;
}

.contenu-design .description-container span {
  margin-right: 50px;
  margin-left: 50px;
  font-weight: 600;
}

/* ------------- RESPONSIVE ------------------ */

@media screen and (max-width: 610px) {
  .titre-page h1 {
    font-size: 25px;
    margin-top: 40px;
  }

  .contenu-projet .titre-partie {
    margin-left: 0;
    margin-bottom: 20px;
    font-size: 20px;
  }

  .contenu-projet h3 {
    font-size: 17px;
  }

  .contenu-projet h4 {
    font-size: 17px;
  }

  .page {
    margin: 10px 20px;
  }

  .contenu-projet ul {
    margin: 15px 0px 15px 30px;
  }

  .contenu-projet ol {
    margin: 15px 0px 15px 30px;
  }

  .contenu-design .description-container {
    flex-direction: column;
  }

  swiper-container {
    width: 100%;
    height: 270px;
  }

  swiper-slide img {
    height: 100%;
    width: auto;
    object-fit: contain;
    margin: 0;
  }

  swiper-slide.mockup img {
    height: 100%;
    width: auto;
    margin: 0;
  }

  swiper-slide.solo img {
    height: 80%;
    width: auto;
    margin: 20px 0;
  }
}
