/* ------------- FONTS ------------------ */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* ------------- GENERAUX ------------------ */
:host {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

section {
  background-color: var(--tertiary-color);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  border-radius: var(--strong-radius);
}

.main {
  max-width: 1200px;
  width: 95%;
  margin-bottom: 10px;
  position: relative;
}

.page {
  position: relative;
  margin: 20px 40px;
}

/* ------------- SECTION TITRE DE PAGE ------------------ */
.titre-page {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titre-page h1 {
  font-size: 40px;
  font-family: var(--font-family-title);
  color: var(--secondary-color);
  font-weight: 600;
}

/* ------------- SECTION projets ------------------ */
.projets-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.projets-container .flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.conteneur-page {
  padding-bottom: 50px;
  padding: 40px 0;
}

.projets-item {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--secondary-color);
  border-radius: var(--strong-radius);
  cursor: pointer;
  padding: 10px;
  width: 250px;
  color: var(--tertiary-color);
  transition: 0.5s ease;
}

.projets-item i {
  font-size: 40px;
  margin-bottom: 10px;
}

.projets-item h2 {
  font-family: var(--font-family-title);
  margin-bottom: 0;
}

.projets-item:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 610px) {
  .titre-page h1 {
    font-size: 30px;
  }
}
