<div class="main">
  <section class="conteneur-page">
    <div class="page">
      <div class="titre-page">
        <h1>Projets</h1>
      </div>
      <div class="conteneur-projets">
        <div class="flex">
          <div
            class="projets-item"
            title="Designs Adobe"
            [ngClass]="{ active: activePage === 'adobe' }"
            (click)="changeActivePage('adobe')"
          >
            <i class="fa-solid fa-palette"></i>
            <h2>Designs Adobe</h2>
          </div>
          <div
            class="projets-item"
            title="Articles de Blog"
            [ngClass]="{ active: activePage === 'articles' }"
            (click)="changeActivePage('articles')"
          >
            <i class="fa-solid fa-newspaper"></i>
            <h2>Articles de Blog</h2>
          </div>
          <div
            class="projets-item"
            title="Projets Master"
            [ngClass]="{ active: activePage === 'projets-master' }"
            (click)="changeActivePage('projets-master')"
          >
            <i class="fa-solid fa-graduation-cap"></i>
            <h2>Projets Master</h2>
          </div>
        </div>
        <div class="flex">
          <div
            class="projets-item"
            title="Défis Marketing"
            [ngClass]="{ active: activePage === 'defis-marketing' }"
            (click)="changeActivePage('defis-marketing')"
          >
            <i class="fa-solid fa-filter-circle-dollar"></i>
            <h2>Défis Marketing</h2>
          </div>
          <div
            class="projets-item"
            title="Bannières LinkedIn"
            [ngClass]="{ active: activePage === 'bannieres' }"
            (click)="changeActivePage('bannieres')"
          >
            <i class="fa-brands fa-linkedin"></i>
            <h2>Bannières LinkedIn</h2>
          </div>
          <div
            class="projets-item"
            title="Livres"
            [ngClass]="{ active: activePage === 'livres' }"
            (click)="changeActivePage('livres')"
          >
            <i class="fa-solid fa-book"></i>
            <h2>Livres</h2>
          </div>
        </div>
      </div>
      @if (activePage === 'adobe') {
      <app-conteneur-adobe></app-conteneur-adobe>
      } @else if (activePage === 'articles') {
      <app-conteneur-articles></app-conteneur-articles>
      }@else if (activePage === 'projets-master') {
      <app-conteneur-projets-master></app-conteneur-projets-master>
      }@else if (activePage === 'defis-marketing') {
      <app-conteneur-defis-marketing></app-conteneur-defis-marketing>
      }@else if (activePage === 'bannieres') {
      <app-conteneur-bannieres></app-conteneur-bannieres>
      }@else if (activePage === 'livres') {
      <app-conteneur-livres></app-conteneur-livres>
      }
    </div>
    <div
      class="scroll-page"
      title="Haut de page"
      [ngClass]="{ 'show-scrollTop': windowScrolled }"
    >
      <button class="btn-scroll" (click)="scrollToTop()">
        <i class="fa fa-chevron-up"></i>
      </button>
    </div>
  </section>
</div>
