/* ------------- FONTS ------------------ */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* ------------- GENERAUX ------------------ */
:host {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

section {
  background-color: var(--tertiary-color);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  border-radius: var(--strong-radius);
}

.main {
  max-width: 1200px;
  width: 95%;
  margin-bottom: 10px;
  position: relative;
}

.page {
  position: relative;
  margin: 20px 40px;
}

/* ------------- TITRE DE PAGE ------------------ */
.titre-page {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ------------- PROJETS ------------------ */
.conteneur-projets {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.conteneur-projets .flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  width: 100%;
  flex-wrap: wrap;
}

.conteneur-page {
  padding-bottom: 50px;
  padding: 40px 0;
}

.projets-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--primary-color);
  border-radius: var(--strong-radius);
  cursor: pointer;
  padding: 10px 20px;
  width: 230px;
  color: var(--tertiary-color);
  transition: 0.5s ease;
}

.projets-item.active {
  background-color: var(--secondary-color);
}

.projets-item i {
  font-size: 30px;
}

.projets-item h2 {
  margin-bottom: 0;
  font-size: 20px;
}

.projets-item:hover {
  background-color: var(--secondary-color);
}

/* ------------- SCROLL PAGE ------------------ */

.scroll-page {
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  z-index: 1000;
}

.scroll-page:hover {
  transform: scale(1.1);
}

.scroll-page .btn-scroll {
  background-color: var(--secondary-color);
  border-radius: var(--strong-radius);
  color: var(--tertiary-color);
  font-weight: 700;
  cursor: pointer;
  padding: 8px 18px;
  border-width: 0;
}

.scroll-page .btn-scroll i {
  font-size: 20px;
}

.show-scrollTop {
  opacity: 1;
}

/* ------------- RESPONSIVE ------------------ */

@media screen and (max-width: 610px) {
  .titre-page h1 {
    font-size: 30px;
  }
}
