/* ------------- FONTS ------------------ */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* ------------- GENERAUX ------------------ */
:host {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-weight: 600;
}

h3,
h4,
h5,
h6 {
  font-weight: 500;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

section {
  background-color: var(--tertiary-color);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  border-radius: var(--strong-radius);
}

.main {
  max-width: 1200px;
  width: 95%;
  margin-bottom: 10px;
  position: relative;
}

.conteneur-page {
  padding-bottom: 50px;
  padding: 40px 0;
}

.page {
  position: relative;
  margin: 20px 40px;
}

.bloc {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.bloc.top {
  margin-top: 20px;
}

/* ------------- BOUTONS ------------------ */
button {
  font-family: inherit;
  user-select: none;
}

.btn {
  background-color: var(--secondary-color);
  padding: 10px 28px;
  border-radius: var(--strong-radius);
  color: var(--tertiary-color);
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  font-family: var(--font-family-text);
  overflow: hidden;
  transition: 0.5s ease;
  border: none;
  width: 220px;
  margin: 5px;
  text-align: center;
}

.btn:hover {
  transform: scale(1.1);
}

/* ------------- TITRE DE PAGE ------------------ */
.titre-page {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titre-page h1 {
  font-size: 40px;
  font-family: var(--font-family-title);
  color: var(--secondary-color);
  font-weight: 600;
}

/* ------------- FORMULAIRE DE CONTACT ------------------ */
.contact-form,
.contact-info {
  width: 50%;
  padding: 0 15px;
}

.contact-form form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-form .input-group {
  width: 100%;
  margin-bottom: 30px;
}

.contact-form .input-control::placeholder {
  color: var(--text-primary-color);
  opacity: 0.8;
  font-weight: 300;
}

.contact-form .input-control {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: var(--strong-radius);
  border: none;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  font-family: var(--font-family-text);
  padding: 0 20px;
  color: var(--text-primary-color);
  border: 3px solid var(--secondary-color);
}

.contact-form textarea.input-control {
  height: 120px;
  resize: none;
  padding-top: 15px;
}

/* ------------- INFORMATIONS DE CONTACT ------------------ */

.contact-info-item {
  margin: 0 0 30px;
  padding: 0 0 0 20px;
}

.contact-info-item h3 {
  font-size: 20px;
  font-family: var(--font-family-title);
  margin: 0 0 5px;
}

.contact-info-item .social-links {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
}

.contact-info-item .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
  border-radius: 50%;
  transition: 0.5s ease;
}

.contact-info-item .social-links a:hover {
  transform: scale(1.1);
}

.contact-info-item .social-links a i:not(.tree) {
  font-size: 50px;
}

.contact-info-item .social-links a .tree {
  font-size: 44px;
  padding: 0 4px;
}

i {
  color: var(--secondary-color);
}

/* ------------- RESPONSIVE ------------------ */

@media screen and (max-width: 600px) {
  .page {
    margin: 10px 20px;
  }

  .titre-page {
    margin-bottom: 20px;
  }

  .titre-page h1 {
    font-size: 30px;
  }

  .bloc {
    flex-direction: column;
    align-items: center;
  }

  .contact-form,
  .contact-info {
    width: 100%;
  }

  .contact-info {
    margin-top: 20px;
    text-align: center;
  }

  .contact-info-item {
    padding: 0;
  }

  .contact-info-item .social-links {
    justify-content: center;
  }
}
