<div class="main">
  <section class="conteneur-page">
    <div class="page">
      <div class="titre-page">
        <h1>Maison Sofa</h1>
      </div>
      <div class="contenu-design">
        <swiper-container
          effect="coverflow"
          mousewheel="false"
          autoplay="true"
          loop="true"
          pagination="true"
          pagination-clickable="true"
          autoplay-delay="2500"
          autoplay-disable-on-interaction="false"
          navigation="true"
          style="
            --swiper-navigation-color: #852b56;
            --swiper-pagination-color: #852b56;
            --swiper-theme-color: #852b56;
          "
        >
          <swiper-slide>
            <img [src]="imagePath + '/1/home.webp'" alt="Home" />
          </swiper-slide>
          <swiper-slide>
            <img [src]="imagePath + '/1/reassurance.webp'" alt="Réassurance" />
          </swiper-slide>
          <swiper-slide>
            <img [src]="imagePath + '/1/about.webp'" alt="About" />
          </swiper-slide>
          <swiper-slide>
            <img [src]="imagePath + '/1/produit.webp'" alt="Produit" />
          </swiper-slide>
          <swiper-slide>
            <img [src]="imagePath + '/1/panier.webp'" alt="Panier" />
          </swiper-slide>
          <swiper-slide>
            <img
              [src]="imagePath + '/1/confirmation.webp'"
              alt="Confirmation"
            />
          </swiper-slide>
        </swiper-container>
        <div class="description-container">
          <img
            [src]="imagePath + '../outils/antigravity.webp'"
            alt="Antigravity"
          />
          <span class="logiciel">Google Antigravity - React</span> |
          <span class="type">Site E-commerce </span> |
          <span class="date">Novembre 2025 </span>
        </div>
        <a
          class="btn"
          type="button"
          title="Visiter le site"
          href="https://helenepagniez.github.io/Maison-Sofa/"
          target="_blank"
        >
          <span>Visiter le site</span>
        </a>
      </div>
    </div>
  </section>
</div>
