<div class="main">
  <a class="retour" routerLink="/projets" title="Retour">
    <span>Retour</span>
  </a>
  <section class="conteneur-page">
    <div class="page">
      <div class="titre-page">
        <h1>Bannières LinkedIn</h1>
      </div>
      <div class="conteneur-bannieres">
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + 'Banniere-LinkedIn.webp'"
              alt="Ma bannière LinkedIn"
              title="Ma bannière LinkedIn"
            />
          </div>
          <h3 class="conteneur-preview-title">Ma bannière LinkedIn</h3>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + 'Banniere-Bond.webp'"
              alt="La bannière de James Bond"
              title="La bannière de James Bond"
            />
          </div>
          <h3 class="conteneur-preview-title">La bannière de James Bond</h3>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + 'Banniere-Barbie.webp'"
              alt="La bannière de Barbie"
              title="La bannière de Barbie"
            />
          </div>
          <h3 class="conteneur-preview-title">La bannière de Barbie</h3>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + 'Banniere-Gandalf.webp'"
              alt="La bannière de Gandalf"
              title="La bannière de Gandalf"
            />
          </div>
          <h3 class="conteneur-preview-title">La bannière de Gandalf</h3>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + 'Banniere-Croft.webp'"
              alt="La bannière de Lara Croft"
              title="La bannière de Lara Croft"
            />
          </div>
          <h3 class="conteneur-preview-title">La bannière de Lara Croft</h3>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + 'Banniere-Sherlock.webp'"
              alt="La bannière de Sherlock Holmes"
              title="La bannière de Sherlock Holmes"
            />
          </div>
          <h3 class="conteneur-preview-title">
            La bannière de Sherlock Holmes
          </h3>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + 'Banniere-Minecraft.webp'"
              alt="La bannière de Minecraft"
              title="La bannière de Minecraft"
            />
          </div>
          <h3 class="conteneur-preview-title">La bannière de Minecraft</h3>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + 'Banniere-Jurassic.webp'"
              alt="La bannière de Jurassic Park"
              title="La bannière de Jurassic Park"
            />
          </div>
          <h3 class="conteneur-preview-title">La bannière de Jurassic Park</h3>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + 'Banniere-Harry.webp'"
              alt="La bannière de Harry Potter"
              title="La bannière de Harry Potter"
            />
          </div>
          <h3 class="conteneur-preview-title">La bannière de Harry Potter</h3>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + 'Banniere-Fallout.webp'"
              alt="La bannière de Fallout"
              title="La bannière de Fallout"
            />
          </div>
          <h3 class="conteneur-preview-title">La bannière de Fallout</h3>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + 'Banniere-Breaking.webp'"
              alt="La bannière de Breaking Bad"
              title="La bannière de Breaking Bad"
            />
          </div>
          <h3 class="conteneur-preview-title">La bannière de Breaking Bad</h3>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + 'Banniere-Avatar.webp'"
              alt="La bannière de Avatar"
              title="La bannière de Avatar"
            />
          </div>
          <h3 class="conteneur-preview-title">La bannière de Avatar</h3>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + 'Banniere-Mario.webp'"
              alt="La bannière de Mario"
              title="La bannière de Mario"
            />
          </div>
          <h3 class="conteneur-preview-title">La bannière de Mario</h3>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + 'Banniere-Marina-G.webp'"
              alt="La bannière de Marina Gayraud"
              title="La bannière de Marina Gayraud"
            />
          </div>
          <h3 class="conteneur-preview-title">La bannière de Marina Gayraud</h3>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + 'Banniere-Jean.webp'"
              alt="La bannière d'un fleuriste fictif"
              title="La bannière d'un fleuriste fictif"
            />
          </div>
          <h3 class="conteneur-preview-title">
            La bannière d'un fleuriste fictif
          </h3>
        </div>
      </div>
    </div>
    <div
      class="scroll-page"
      title="Haut de page"
      [ngClass]="{ 'show-scrollTop': windowScrolled }"
    >
      <button class="btn-scroll" (click)="scrollToTop()">
        <i class="fa fa-chevron-up"></i>
      </button>
    </div>
  </section>
</div>
