<div class="main">
  <a class="retour" routerLink="/projets/articles" title="Retour">
    <span>Retour</span>
  </a>
  <section class="conteneur-page">
    <div class="page">
      <div class="titre-page">
        <h1>Le harcèlement au travail : comprendre, prévenir et agir</h1>
      </div>
      <div class="projets-container">
        <div class="conteneur-image">
          <img [src]="imagePath + '2.png'" alt="projets item thumb" />
        </div>
        <p>
          Le harcèlement au travail est une
          <strong>réalité douloureuse</strong> qui peut
          <strong>briser des vies et des carrières</strong>. Il est crucial de
          comprendre ce qu’est le harcèlement, comment le
          <strong>reconnaître</strong> et quelles mesures prendre pour le
          <strong>prévenir et y mettre fin</strong>. Ensemble, nous pouvons
          créer des environnements de travail plus sûrs et plus respectueux.
        </p>
        <div class="section-some">
          <div class="conteneur-image">
            <img
              class="small"
              [src]="imagePath + 'moquerie.webp'"
              alt="projets item thumb"
            />
          </div>
          <h2 class="titre-partie">
            Qu’est-ce que le harcèlement au travail ?
          </h2>
          <p>
            Le harcèlement au travail se manifeste par des
            <strong>comportements répétés</strong> qui visent à
            <strong>dégrader</strong> les conditions de travail d’une personne,
            créant ainsi un environnement
            <strong>hostile, intimidant ou humiliant</strong>. Il peut prendre
            <strong>plusieurs formes</strong>, notamment le harcèlement
            <strong>moral</strong> et le harcèlement <strong>sexuel</strong>.
          </p>
          <br />
          <ul>
            <li>
              <h3>Le harcèlement moral :</h3>
              Il s’agit de comportements tels que les critiques incessantes, les
              <strong>humiliations</strong>, les brimades, l’
              <strong>isolement</strong> ou les tâches
              <strong>dévalorisantes</strong>. Ces actions répétées peuvent
              gravement
              <strong>affecter la santé mentale et physique</strong> de la
              victime.
            </li>
            <br />
            <li>
              <h3>Le harcèlement physique :</h3>
              Il inclut les <strong>avances sexuelles non désirées</strong>, les
              commentaires <strong>inappropriés</strong>, les gestes déplacés ou
              toute autre forme de
              <strong>comportement à connotation sexuelle</strong> qui crée un
              environnement de travail <strong>intimidant ou offensant</strong>.
            </li>
          </ul>
        </div>
        <div class="section-some">
          <div class="conteneur-image">
            <img
              class="small"
              [src]="imagePath + 'viser.webp'"
              alt="projets item thumb"
            />
          </div>
          <h2 class="titre-partie">
            Comment reconnaître le harcèlement au travail ?
          </h2>
          <p>
            <a
              class="articles"
              title="lien direct"
              target="_blank"
              href="https://www.juritravail.com/Actualite/harcelement-moral-au-travail-12-exemples-concrets/Id/292954"
              >Reconnaître le harcèlement au travail</a
            >
            peut être difficile, car il peut se manifester de
            <strong>manière subtile</strong>. Voici quelques signes indicateurs
            :
          </p>
          <br />
          <ul>
            <li>
              <h3>Critiques constantes et injustifiées :</h3>
              Des remarques négatives répétées sur le
              <strong>travail</strong> ou la <strong>personnalité</strong>
              de la victime.
            </li>
            <br />
            <li>
              <h3>Isolement :</h3>
              <strong>Exclusion délibérée</strong> de la victime des réunions,
              des discussions ou des activités sociales.
            </li>
            <br />
            <li>
              <h3>Humiliations publiques :</h3>
              Propos ou actions visant à <strong>ridiculiser</strong> ou à
              <strong>dénigrer</strong> la victime devant ses collègues.
            </li>
            <br />
            <li>
              <h3>Tâches dévalorisantes :</h3>
              <strong>Attribution</strong> de tâches sans intérêt ou en dessous
              des compétences de la victime.
            </li>
            <br />
            <li>
              <h3>Avances sexuelles non désirées :</h3>
              Propos, gestes ou comportements à
              <strong>connotation sexuelle</strong> non sollicités.
            </li>
          </ul>
        </div>
        <div class="section-some">
          <div class="conteneur-image">
            <img
              class="small"
              [src]="imagePath + 'mal-etre.webp'"
              alt="projets item thumb"
            />
          </div>
          <h2 class="titre-partie">
            Les conséquences du harcèlement au travail
          </h2>
          <p>
            Le harcèlement au travail peut avoir des
            <strong>conséquences graves et dévastatrices</strong> sur la santé
            et le bien-être des victimes. Il peut entraîner du stress, de l’
            <strong>anxiété</strong>, de la <strong>dépression</strong>, des
            <strong>troubles du sommeil</strong> et même des problèmes de
            <strong>santé physique</strong>. De plus, il peut
            <strong>affecter</strong> la performance professionnelle, la
            motivation et l’engagement au travail. Personne ne devrait avoir à
            subir cela.
          </p>
        </div>
        <div class="section-some">
          <div class="conteneur-image">
            <img
              class="small height"
              [src]="imagePath + 'survie.jpg'"
              alt="projets item thumb"
            />
          </div>
          <h2 class="titre-partie">Les obligations de l’employeur</h2>
          <p>
            Les employeurs ont l’
            <a
              class="articles"
              title="lien direct"
              target="_blank"
              href="https://www.service-public.fr/particuliers/vosdroits/F2354"
              >obligation légale et morale</a
            >
            de <strong>prévenir</strong> le harcèlement au travail et de
            <strong>protéger</strong> leurs employés. Ils doivent mettre en
            place des <strong>politiques claires</strong> contre le harcèlement,
            offrir des <strong>formations</strong> sur le sujet et établir des
            <strong>procédures</strong> pour signaler et traiter les cas de
            harcèlement. En cas de harcèlement avéré, l’employeur doit prendre
            des <strong>mesures disciplinaires appropriées</strong>
            contre l’auteur des faits.
          </p>
        </div>
        <div class="section-some">
          <div class="conteneur-image">
            <img
              class="small"
              [src]="imagePath + 'help.webp'"
              alt="projets item thumb"
            />
          </div>
          <h2 class="titre-partie">
            Que faire en cas de harcèlement au travail ?
          </h2>
          <p>
            Si vous êtes
            <a
              class="articles"
              title="lien direct"
              target="_blank"
              href="https://www.service-public.fr/particuliers/vosdroits/F32247"
              >victime de harcèlement</a
            >
            au travail, sachez que <strong>vous n’êtes pas seul</strong> et
            qu’il existe des moyens de vous protéger :
          </p>
          <br />
          <ul>
            <li>
              <h3>Documenter les faits :</h3>
              Notez les <strong>incidents</strong> de harcèlement, en incluant
              les dates, les heures, les lieux, les descriptions des faits et
              les <strong>témoins</strong>
              éventuels.
            </li>
            <br />
            <li>
              <h3>
                Parler à un supérieur ou à un représentant des ressources
                humaines :
              </h3>
              <strong>Signalez</strong> le harcèlement à une personne de
              confiance au sein de l’entreprise.
            </li>
            <br />
            <li>
              <h3>Consulter un médecin :</h3>
              Si le harcèlement affecte votre santé, consultez un
              <strong>professionnel</strong>
              de santé.
            </li>
            <br />
            <li>
              <h3>Chercher du soutien :</h3>
              Parlez-en à des collègues, des amis ou des membres de votre
              famille pour obtenir du <strong>soutien émotionnel</strong>.
            </li>
            <br />
            <li>
              <h3>Consulter un avocat ou un syndicat :</h3>
              Si nécessaire, obtenez des
              <strong>conseils juridiques</strong> pour connaître vos droits et
              les démarches à suivre.
            </li>
          </ul>
        </div>
        <div class="section-some">
          <div class="conteneur-image">
            <img
              class="small"
              [src]="imagePath + 'conclusion.jpg'"
              alt="projets item thumb"
            />
          </div>
          <h2 class="titre-partie">Conclusion</h2>
          <p>
            Le harcèlement au travail est un
            <strong>fléau qui doit être combattu</strong> avec détermination et
            compassion. En comprenant ce qu’est le harcèlement, en
            <strong>reconnaissant</strong> les signes et en sachant quelles
            <strong>mesures</strong> prendre, nous pouvons tous contribuer à
            créer un
            <strong>environnement de travail sûr et respectueux</strong>. La
            <strong>prévention et la lutte</strong> contre le harcèlement sont
            essentielles pour garantir le
            <strong>bien-être et la dignité</strong> de tous les travailleurs.
            <br />
            <strong>Ensemble, nous pouvons faire la différence !</strong>
          </p>
        </div>
      </div>
    </div>
    <div
      class="scroll-to-top"
      title="Haut de page"
      [ngClass]="{ 'show-scrollTop': windowScrolled }"
    >
      <button class="btn-scroll" (click)="scrollToTop()">
        <i class="fa fa-chevron-up"></i>
      </button>
    </div>
  </section>
</div>
