<div class="main">
  <div class="retour-container">
    <a class="retour" routerLink="/projets/defis-marketing" title="Retour">
      <span>Retour</span>
    </a>
  </div>
  <section class="projets-section sec-padding">
    <div class="container">
      <div class="section-title">
        <h2 class="title">Défi n°1 : Néolink</h2>
      </div>
      <div class="projets-container">
        <h2 class="section-some-title">
          1 - Cartes tirées au hasard pour ce défi
        </h2>
        <ul>
          <li><strong>Livrable :</strong>Brand Board</li>
          <p>
            Un Brand Board est une planche graphique qui synthétise l'identité
            visuelle d'une marque (logos, couleurs, typographies,
            illustrations…).
          </p>
          <li><strong>Secteur d’activité :</strong>Banque</li>
          <p>
            Réservée aux jeunes actifs, une nouvelle banque s'implante à
            Bordeaux. Forte d'une image de marque dynamique, elle est basée sur
            la relation de confiance avec ses clients âgés entre 20 et 35 ans.
          </p>
          <li>
            <strong>Contrainte créative :</strong>Utiliser uniquement des
            couleurs froides (bleu, violet, vert, etc.)
          </li>
        </ul>
        <p>
          Défi : Créer une identité visuelle complète pour une banque moderne,
          implantée à Bordeaux, destinée aux jeunes actifs, en utilisant
          exclusivement des couleurs froides.
        </p>
        <h2 class="section-some-title">2 - Démarche créative</h2>
        <p>
          Le défi m’a amenée à concevoir l’identité d’une
          <strong> néobanque</strong> destinée aux jeunes adultes de 20 à 35
          ans. J’ai souhaité créer une marque
          <strong>fraîche, digitale, rassurante et responsable</strong>, capable
          de concurrencer les banques en ligne déjà bien implantées, comme
          BoursoBank, Fortuneo ou Revolut.
        </p>
        <h3>Nom de marque : Néolink</h3>
        <p>Le nom <strong>“Néolink”</strong> combine :</p>
        <ul>
          <li>
            Néo : en référence à la <strong>néobanque</strong>, une banque 100 %
            digitale, innovante, fluide, sans agence physique, pensée pour les
            usages modernes ;
          </li>
          <li>
            Link : pour la notion de <strong>connexion</strong>, à la fois
            technologique et humaine (facilité de gestion, proximité,
            réactivité).
          </li>
        </ul>
        <p>
          Ce nom évoque une marque ancrée dans son époque, intuitive et
          connectée à ses utilisateurs.
        </p>
        <h3>Slogan</h3>
        <p>"Néolink – Votre avenir en un clic"</p>
        <p>
          Un slogan court et direct, qui reflète
          <strong>l’instantanéité, la facilité d’accès</strong> et la promesse
          d’un accompagnement fluide et responsable.
        </p>
        <h2 class="section-some-title">3 - Identité visuelle</h2>
        <h3>Palette de couleurs</h3>
        <p>
          La contrainte imposait une palette exclusivement composée de couleurs
          froides. J’ai donc sélectionné des teintes harmonieuses, modernes et
          expressives, correspondant à l’image d’une banque jeune, fiable et
          engagée.
        </p>
        <div class="projets-item">
          <div class="projets-item-thumbnail">
            <div>Bloc couleur 1</div>
          </div>
          <a class="btn" title="Couleur 1">
            <span>#B3D7F5 – Bleu pastel : douceur, simplicité</span>
          </a>
        </div>
        <div class="projets-item">
          <div class="projets-item-thumbnail">
            <div>Bloc couleur 1</div>
          </div>
          <a class="btn" title="Couleur 2">
            <span>#1E2E47 – Bleu nuit : confiance, stabilité</span>
          </a>
        </div>
        <div class="projets-item">
          <div class="projets-item-thumbnail">
            <div>Bloc couleur 1</div>
          </div>
          <a class="btn" title="Couleur 3">
            <span>#A7E3C0 – Vert menthe : responsabilité, écologie</span>
          </a>
        </div>
        <div class="projets-item">
          <div class="projets-item-thumbnail">
            <div>Bloc couleur 1</div>
          </div>
          <a class="btn" title="Couleur 4">
            <span>#D5CCFF – Violet doux : modernité, innovation</span>
          </a>
        </div>
        <div class="projets-item">
          <div class="projets-item-thumbnail">
            <div>Bloc couleur 1</div>
          </div>
          <a class="btn" title="Couleur 5">
            <span>#F4F9FC – Blanc froid : clarté, minimalisme</span>
          </a>
        </div>
        <p>
          Cette palette permet une belle flexibilité entre fonds, éléments de
          contraste et hiérarchies visuelles.
        </p>
        <h3>Typographies</h3>
        <ul>
          <li>
            <strong>Racing Sans One</strong> (titres) : un caractère
            technologique et audacieux, en cohérence avec le nom “Néolink” et
            l’univers digital.
          </li>
          <li>
            <strong>Poppins</strong> (textes) : une sans-serif lisible, ronde et
            moderne, parfaite pour une marque jeune et accessible.
          </li>
        </ul>
        <h3>Logos</h3>
        <p>Trois déclinaisons de logo ont été conçues :</p>
        <ul>
          <li>Un logo principal sur fond clair</li>
          <li>
            Deux logos secondaires adaptés à des fonds colorés issus de la
            palette
          </li>
        </ul>
        <p>
          Le tout renforce la cohérence graphique et la capacité d’adaptation à
          différents supports.
        </p>
        <h3>Illustrations</h3>
        <p>
          J’ai sélectionné des <strong>illustrations Canva</strong> cohérentes
          avec les valeurs et le ton de la marque. Ces éléments aident à poser
          un
          <strong
            >univers visuel cohérent, tourné vers le digital, l’humain et
            l’éthique.</strong
          >
        </p>
        <h2 class="section-some-title">4 - Outils utilisés</h2>
        <h3>Canva (version gratuite)</h3>
        <ul>
          <li>Création du Brand Board</li>
          <li>Définition des typographies et palette de couleurs</li>
          <li>Conception des logos et déclinaisons</li>
          <li>Sélection d’illustrations et icônes</li>
        </ul>
        <h3>Méthodologie agile personnelle</h3>
        <ul>
          <li>Travail par étapes claires (analyse, conception, exécution)</li>
          <li>Itérations selon mes ressentis et retours extérieurs</li>
        </ul>
        <h2 class="section-some-title">5 - Livrables produits</h2>
        <div class="images-container">
          <div class="projets-item-thumbnail-img">
            <img
              [src]="imagePath + '/brandboard.png'"
              alt="projets item thumb"
            />
            <h3>Brand Board (planche de style complète)</h3>
            <a
              class="retour"
              (click)="onImageClick(imagePath + '/brandboard.png')"
              title="Voir"
            >
              <span>Voir</span>
            </a>
          </div>
          <div class="projets-item-thumbnail-img">
            <img
              [src]="imagePath + '/logo-principal.png'"
              alt="projets item thumb"
            />
            <h3>Logo principal</h3>
            <a
              class="retour"
              (click)="onImageClick(imagePath + '/logo-principal.png')"
              title="Voir"
            >
              <span>Voir</span>
            </a>
          </div>
          <div class="projets-item-thumbnail-img">
            <img
              [src]="imagePath + '/logo-secondaire-1.png'"
              alt="projets item thumb"
            />
            <h3>Logo secondaire (1ère déclinaison)</h3>
            <a
              class="retour"
              (click)="onImageClick(imagePath + '/logo-secondaire-1.png')"
              title="Voir"
            >
              <span>Voir</span>
            </a>
          </div>
          <div class="projets-item-thumbnail-img">
            <img
              [src]="imagePath + '/logo-secondaire-2.png'"
              alt="projets item thumb"
            />
            <h3>Logo secondaire (2ème déclinaison)</h3>
            <a
              class="retour"
              (click)="onImageClick(imagePath + '/logo-secondaire-2.png')"
              title="Voir"
            >
              <span>Voir</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
