<div class="main">
  <a class="retour" routerLink="/projets/defis-marketing" title="Retour">
    <span>Retour</span>
  </a>
  <section class="conteneur-page">
    @if (expandedImageSrc()) {
    <div class="overlay" (click)="closeImage()">
      <img [src]="expandedImageSrc()" alt="Expanded Image" />
    </div>
    }
    <div class="page">
      <div class="titre-page">
        <h1>Défi n°1 : Néolink</h1>
      </div>
      <div class="contenu-defi">
        <h2 class="titre-partie">1 - Cartes tirées au hasard pour ce défi</h2>
        <div class="cartes">
          <!-- Carte 1 -->
          <div class="carte">
            <div class="interieur">
              <!-- RECTO -->
              <div class="recto">
                <div
                  class="cercle"
                  style="background-color: var(--primary-color)"
                >
                  <i class="fa-regular fa-lightbulb"></i>
                  <div class="categorie">CARTE SUPPORT</div>
                </div>
              </div>
              <!-- VERSO -->
              <div class="verso">
                <div class="resultat">
                  <span>Un Brand Board</span>
                </div>
                <p>
                  Un Brand Board est une planche graphique qui synthétise
                  l'identité visuelle d'une marque (logos, couleurs,
                  typographies, illustrations…).
                </p>
              </div>
            </div>
          </div>

          <!-- Carte 2 -->
          <div class="carte">
            <div class="interieur">
              <!-- RECTO -->
              <div class="recto">
                <div
                  class="cercle"
                  style="background-color: var(--primary-color)"
                >
                  <i class="fa-regular fa-building"></i>
                  <div class="categorie">CARTE SECTEUR D'ACTIVITE</div>
                </div>
              </div>
              <!-- VERSO -->
              <div class="verso">
                <div class="resultat">
                  <span>Une banque</span>
                </div>
                <p>
                  Réservée aux jeunes actifs, une nouvelle banque s'implante à
                  Bordeaux. Forte d'une image de marque dynamique, elle est
                  basée sur la relation de confiance avec ses clients âgés entre
                  20 et 35 ans.
                </p>
              </div>
            </div>
          </div>

          <!-- Carte 3 -->
          <div class="carte">
            <div class="interieur">
              <!-- RECTO -->
              <div class="recto">
                <div
                  class="cercle"
                  style="background-color: var(--primary-color)"
                >
                  <i class="fa-regular fa-circle-xmark"></i>
                  <div class="categorie">CARTE CONTRAINTE</div>
                </div>
              </div>
              <!-- VERSO -->
              <div class="verso">
                <div class="resultat">
                  <span class="dernier"
                    >Utiliser uniquement des couleurs froides</span
                  >
                </div>
                <p>Teintes bleues, violettes, vertes, etc...</p>
              </div>
            </div>
          </div>
        </div>

        <h3><i class="fa-solid fa-bullseye"></i>Défi</h3>
        <p>
          Créer une identité visuelle complète pour une banque moderne,
          implantée à Bordeaux, destinée aux jeunes actifs, en utilisant
          exclusivement des couleurs froides.
        </p>
        <h2 class="titre-partie">2 - Démarche créative</h2>
        <p>
          Le défi m’a amenée à concevoir l’identité d’une
          <strong> néobanque</strong> destinée aux jeunes adultes de 20 à 35
          ans. J’ai souhaité créer une marque
          <strong>fraîche, digitale, rassurante et responsable</strong>, capable
          de concurrencer les banques en ligne déjà bien implantées, comme
          BoursoBank, Fortuneo ou Revolut.
        </p>
        <h3><i class="fa-solid fa-circle-right"></i>Nom de marque</h3>
        <p>Le nom <strong>“Néolink”</strong> combine :</p>
        <ul>
          <li>
            Néo : en référence à la <strong>néobanque</strong>, une banque 100 %
            digitale, innovante, fluide, sans agence physique, pensée pour les
            usages modernes ;
          </li>
          <li>
            Link : pour la notion de <strong>connexion</strong>, à la fois
            technologique et humaine (facilité de gestion, proximité,
            réactivité).
          </li>
        </ul>
        <p>
          Ce nom évoque une marque ancrée dans son époque, intuitive et
          connectée à ses utilisateurs.
        </p>
        <h3><i class="fa-solid fa-thumbtack"></i>Slogan</h3>
        <p>"Néolink – Votre avenir en un clic"</p>
        <p>
          Un slogan court et direct, qui reflète
          <strong>l’instantanéité, la facilité d’accès</strong> et la promesse
          d’un accompagnement fluide et responsable.
        </p>
        <h2 class="titre-partie">3 - Identité visuelle</h2>
        <h3><i class="fa-solid fa-palette"></i>Palette de couleurs</h3>
        <p>
          La contrainte imposait une palette exclusivement composée de couleurs
          froides. J’ai donc sélectionné des teintes harmonieuses, modernes et
          expressives, correspondant à l’image d’une banque jeune, fiable et
          engagée.
        </p>
        <div class="couleurs-container">
          <div class="palette">
            <div class="couleur" style="background-color: #b3d7f5"></div>
            <span style="font-weight: bold; color: var(--primary-color)"
              >#B3D7F5 – Bleu pastel</span
            >
            <span style="margin: 0">Douceur & Simplicité</span>
          </div>
          <div class="palette">
            <div class="couleur" style="background-color: #1e2e47"></div>
            <span style="font-weight: bold; color: var(--primary-color)"
              >#1E2E47 – Bleu nuit</span
            >
            <span style="margin: 0">Confiance & Stabilité</span>
          </div>
          <div class="palette">
            <div class="couleur" style="background-color: #a7e3c0"></div>
            <span style="font-weight: bold; color: var(--primary-color)"
              >#A7E3C0 – Vert menthe</span
            >
            <span style="margin: 0">Responsabilité & Ecologie</span>
          </div>
          <div class="palette">
            <div class="couleur" style="background-color: #d5ccff"></div>
            <span style="font-weight: bold; color: var(--primary-color)"
              >#D5CCFF – Violet doux</span
            >
            <span style="margin: 0">Modernité & Innovation</span>
          </div>
          <div class="palette">
            <div class="couleur" style="background-color: #f4f9fc"></div>
            <span style="font-weight: bold; color: var(--primary-color)"
              >#F4F9FC – Blanc froid</span
            >
            <span style="margin: 0">Clarté & Minimalisme</span>
          </div>
        </div>
        <p>
          Cette palette permet une belle flexibilité entre fonds, éléments de
          contraste et hiérarchies visuelles.
        </p>
        <h3><i class="fa-solid fa-pen-fancy"></i>Typographies</h3>
        <ul>
          <li>
            <strong>Racing Sans One</strong> (titres) : un caractère
            technologique et audacieux, en cohérence avec le nom “Néolink” et
            l’univers digital.
          </li>
          <li>
            <strong>Poppins</strong> (textes) : une sans-serif lisible, ronde et
            moderne, parfaite pour une marque jeune et accessible.
          </li>
        </ul>
        <h3><i class="fa-regular fa-file"></i>Logos</h3>
        <p>Trois déclinaisons de logo ont été conçues :</p>
        <ul>
          <li>Un logo principal sur fond clair</li>
          <li>
            Deux logos secondaires adaptés à des fonds colorés issus de la
            palette
          </li>
        </ul>
        <p>
          Le tout renforce la cohérence graphique et la capacité d’adaptation à
          différents supports.
        </p>
        <h3><i class="fa-regular fa-image"></i>Illustrations</h3>
        <p>
          J’ai sélectionné des <strong>illustrations Canva</strong> cohérentes
          avec les valeurs et le ton de la marque. Ces éléments aident à poser
          un
          <strong
            >univers visuel cohérent, tourné vers le digital, l’humain et
            l’éthique.</strong
          >
        </p>
        <h2 class="titre-partie">4 - Outils utilisés</h2>
        <h3><i class="fa-solid fa-gear"></i>Canva (version gratuite)</h3>
        <ul>
          <li>Création du Brand Board</li>
          <li>Définition des typographies et palette de couleurs</li>
          <li>Conception des logos et déclinaisons</li>
          <li>Sélection d’illustrations et icônes</li>
        </ul>
        <h3>
          <i class="fa-solid fa-briefcase"></i>Méthodologie agile personnelle
        </h3>
        <ul>
          <li>Travail par étapes claires (analyse, conception, exécution)</li>
          <li>Itérations selon mes ressentis et retours extérieurs</li>
        </ul>
        <h2 class="titre-partie">5 - Livrables produits</h2>
        <div class="contenu-visuels">
          <div class="conteneur-preview">
            <img
              [src]="imagePath + '/brandboard.webp'"
              alt="Brand Board"
              title="Brand Board"
            />
            <p style="font-weight: bold">Brand Board</p>
            <a
              class="btn"
              (click)="onImageClick(imagePath + '/brandboard.webp')"
              title="Consulter"
            >
              <span>Consulter</span>
            </a>
          </div>
          <div class="conteneur-preview">
            <img
              [src]="imagePath + '/logo-principal.webp'"
              alt="Logo principal"
              title="Logo principal"
            />
            <p style="font-weight: bold">Logo principal</p>
            <a
              class="btn"
              (click)="onImageClick(imagePath + '/logo-principal.webp')"
              title="Consulter"
            >
              <span>Consulter</span>
            </a>
          </div>
          <div class="conteneur-preview">
            <img
              [src]="imagePath + '/logo-secondaire-1.webp'"
              alt="Logo secondaire (1)"
              title="Logo secondaire (1)"
            />
            <p style="font-weight: bold">Logo secondaire (1)</p>
            <a
              class="btn"
              (click)="onImageClick(imagePath + '/logo-secondaire-1.webp')"
              title="Consulter"
            >
              <span>Consulter</span>
            </a>
          </div>
          <div class="conteneur-preview">
            <img
              [src]="imagePath + '/logo-secondaire-2.webp'"
              alt="Logo secondaire (2)"
              title="Logo secondaire (2)"
            />
            <p style="font-weight: bold">Logo secondaire (2)</p>
            <a
              class="btn"
              (click)="onImageClick(imagePath + '/logo-secondaire-2.webp')"
              title="Consulter"
            >
              <span>Consulter</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div
      class="scroll-page"
      title="Haut de page"
      [ngClass]="{ 'show-scrollTop': windowScrolled }"
    >
      <button class="btn-scroll" (click)="scrollToTop()">
        <i class="fa fa-chevron-up"></i>
      </button>
    </div>
  </section>
</div>
