/* ------------- FONTS ------------------ */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* ------------- GENERAUX ------------------ */
:host {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

.page {
  margin: 0 40px;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

/* ------------- BOUTONS ------------------ */
button {
  font-family: inherit;
  user-select: none;
}

.btn {
  background-color: var(--secondary-color);
  padding: 10px 28px;
  border-radius: var(--strong-radius);
  color: var(--text-primary-color);
  font-weight: 700;
  font-size: 16px;
  font-family: var(--font-family-text);
  cursor: pointer;
  overflow: hidden;
  transition: 0.5s ease;
  border: none;
  width: 220px;
  margin: 10px;
  text-align: center;
}

.btn:hover {
  color: var(--tertiary-color);
  transform: scale(1.1);
}

.retour-container {
  position: absolute;
  top: 20px;
  left: 20px;
  transition: 0.5s ease;
}

.retour {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  background-color: var(--secondary-color);
  padding: 10px 28px;
  border-radius: var(--strong-radius);
  color: var(--tertiary-color);
  font-weight: 700;
  font-size: 16px;
  font-family: var(--font-family-text);
  cursor: pointer;
  transition: 0.5s ease;
}

.retour:hover {
  transform: scale(1.1);
}

/* ------------- TITRE DE PAGE ------------------ */
.titre-page {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titre-page h1 {
  line-height: normal;
  margin-bottom: 0;
  margin-top: 35px;
}

/* ------------- ARTICLE ------------------ */

.contenu-article p {
  text-align: justify;
  margin: 0;
}

.contenu-article .titre-partie {
  color: var(--secondary-color);
  text-decoration: underline;
  font-family: var(--font-family-title);
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 10px;
}

.contenu-article .partie-article {
  width: 100%;
  margin-top: 30px;
}

.contenu-article .partie-article .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.contenu-article .partie-article .flex .conteneur-image {
  width: 350px;
  height: auto;
}

.contenu-article .partie-article .flex .texte {
  width: 63%;
}

.contenu-article .partie-article p {
  margin: 0px;
  text-align: justify;
}

.contenu-article .partie-article ol {
  margin-left: 50px;
  text-align: justify;
}

.contenu-article .partie-article ul {
  margin-left: 50px;
  text-align: justify;
}

.contenu-article .partie-article ol li h3 {
  text-decoration: underline;
}

.contenu-article .conteneur-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contenu-article .conteneur-image img {
  border-radius: var(--light-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 700px;
  max-height: 400px;
  height: 100%;
  object-fit: cover;
  margin: 20px 0;
}

.contenu-article .conteneur-image img.small {
  border-radius: var(--light-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 500px;
  max-height: 300px;
  height: 100%;
  object-fit: cover;
  margin: 20px 0;
}

.contenu-article .conteneur-image img.small.height {
  max-height: 400px;
}

.contenu-article .conteneur-image img.small.height.more {
  max-height: 500px;
}

.projets-item {
  max-width: 360px;
  width: 100%;
  margin: 0 15px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px solid var(--secondary-color);
  border-radius: var(--light-radius);
}

.projets-item h3 {
  margin: 10px 0;
  text-align: center;
  white-space: nowrap;
  width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.articles {
  font-weight: 800;
  color: var(--primary-color);
  text-decoration: underline;
  text-underline-offset: 5px;
}

/* ------------- RESPONSIVE ------------------ */

@media screen and (max-width: 1130px) {
  .contenu-article .partie-article .flex .texte {
    width: 60%;
  }
}

@media screen and (max-width: 1060px) {
  .contenu-article .partie-article .flex .texte {
    width: 55%;
  }
}

@media screen and (max-width: 950px) {
  .contenu-article .partie-article .flex {
    flex-direction: column;
  }

  .contenu-article .partie-article .flex.reverse {
    flex-direction: column-reverse;
  }

  .contenu-article .partie-article .flex .texte {
    width: 100%;
  }
}

@media screen and (max-width: 610px) {
  .titre-page h1 {
    font-size: 25px;
    margin-top: 40px;
  }

  .contenu-article .titre-partie {
    margin-left: 0;
    margin-bottom: 20px;
    font-size: 20px;
  }

  .contenu-article .partie-article ol {
    margin-left: 40px;
    margin-right: 20px;
  }

  .page {
    margin: 10px 20px;
  }
}

@media screen and (max-width: 480px) {
  .contenu-article .partie-article .flex .conteneur-image {
    width: 100%;
  }
}
