<div class="main">
  <a class="retour" routerLink="/projets/defis-marketing" title="Retour">
    <span>Retour</span>
  </a>
  <section class="conteneur-page">
    @if (expandedImageSrc()) {
    <div class="overlay" (click)="closeImage()">
      <img [src]="expandedImageSrc()" alt="Expanded Image" />
    </div>
    }
    <div class="page">
      <div class="titre-page">
        <h1>Défi n°4 : Saisons de Jean</h1>
      </div>
      <div class="contenu-defi">
        <h2 class="titre-partie">1 - Cartes tirées au hasard pour ce défi</h2>
        <div class="cartes">
          <!-- Carte 1 -->
          <div class="carte">
            <div class="interieur">
              <!-- RECTO -->
              <div class="recto">
                <div
                  class="cercle"
                  style="background-color: var(--primary-color)"
                >
                  <i class="fa-regular fa-lightbulb"></i>
                  <div class="categorie">CARTE SUPPORT</div>
                </div>
              </div>
              <!-- VERSO -->
              <div class="verso">
                <div class="resultat">
                  <span class="dernier">Une couverture LinkedIn</span>
                </div>
                <p>
                  L'enjeu : faire passer le bon message et utiliser la bonne
                  accroche en un espace très restreint sur une page entreprise
                  LinkedIn.
                </p>
              </div>
            </div>
          </div>

          <!-- Carte 2 -->
          <div class="carte">
            <div class="interieur">
              <!-- RECTO -->
              <div class="recto">
                <div
                  class="cercle"
                  style="background-color: var(--primary-color)"
                >
                  <i class="fa-regular fa-building"></i>
                  <div class="categorie">CARTE SECTEUR D'ACTIVITE</div>
                </div>
              </div>
              <!-- VERSO -->
              <div class="verso">
                <div class="resultat">
                  <span>Un fleuriste</span>
                </div>
                <p>
                  Jean est fleuriste indépendant. Sa spécialité : le travail des
                  compositions en fleurs séchées pour tous les évènements de la
                  vie : baptême, mariage, etc...
                </p>
              </div>
            </div>
          </div>

          <!-- Carte 3 -->
          <div class="carte">
            <div class="interieur">
              <!-- RECTO -->
              <div class="recto">
                <div
                  class="cercle"
                  style="background-color: var(--primary-color)"
                >
                  <i class="fa-regular fa-circle-xmark"></i>
                  <div class="categorie">CARTE CONTRAINTE</div>
                </div>
              </div>
              <!-- VERSO -->
              <div class="verso">
                <div class="resultat">
                  <span class="dernier">Ne pas utiliser la couleur verte</span>
                </div>
                <p>L'utilisation de la couleur verte est interdite.</p>
              </div>
            </div>
          </div>
        </div>

        <h3><i class="fa-solid fa-bullseye"></i>Défi</h3>
        <p>
          Imaginer une identité de marque pour un fleuriste spécialisé en fleurs
          séchées et l'appliquer à un profil LinkedIn sans utiliser la couleur
          verte.
        </p>
        <h2 class="titre-partie">2 - Démarche créative</h2>
        <p>
          Pour ce défi, j’ai imaginé <strong>Saisons de Jean</strong>, une
          marque artisanale qui compose des
          <strong>créations florales sur mesure</strong> en fleurs séchées, à la
          fois poétiques et durables.
        </p>
        <p>
          Inspirée par les fleuristes indépendants au ton décalé et chaleureux,
          j’ai construit un univers qui mêle
          <strong
            >humour moderne, sensibilité botanique et esthétique
            artisanale</strong
          >.
        </p>
        <p>
          L’idée était de donner vie à un fleuriste fictif attachant : Jean.
          Passionné de nature, un brin fantasque, et toujours prêt à faire
          sourire sa clientèle.
        </p>
        <p>
          Le nom, le slogan et les visuels ont été pensés comme un tout cohérent
          : une marque joyeuse, humaine, esthétique, qui assume sa créativité et
          son côté “à part”.
        </p>
        <p>
          La contrainte d’écarter le vert a été l’occasion d’explorer une
          palette de tons doux et solaires pour
          <strong>évoquer la nature autrement</strong>.
        </p>
        <h2 class="titre-partie">3 - Identité visuelle</h2>
        <h3><i class="fa-solid fa-circle-right"></i>Nom de marque</h3>
        <p>"<strong>Saisons de Jean</strong>"</p>
        <p>
          Un nom simple et évocateur, inspiré du <strong>cycle</strong> de la
          nature et du prénom du fleuriste fictif. Il joue aussi sur une lecture
          poétique et affective : les saisons… de la vie.
        </p>
        <h3><i class="fa-solid fa-thumbtack"></i>Slogan</h3>
        <p>"<strong>Pas de panique, c’est botanique</strong>"</p>
        <p>
          Léger et accrocheur, ce slogan renforce la
          <strong>personnalité décontractée et bienveillante</strong> de la
          marque.
        </p>
        <h3><i class="fa-solid fa-palette"></i>Palette de couleurs</h3>
        <div class="couleurs-container">
          <div class="palette">
            <div class="couleur" style="background-color: #eda58a"></div>
            <span style="font-weight: bold; color: var(--primary-color)"
              >#EDA58A – Rose poudre</span
            >
            <span style="margin: 0">Douceur & Féminité</span>
          </div>
          <div class="palette">
            <div class="couleur" style="background-color: #f1c991"></div>
            <span style="font-weight: bold; color: var(--primary-color)"
              >#F1C991 – Jaune miel</span
            >
            <span style="margin: 0">Chaleur & Gaieté</span>
          </div>
          <div class="palette">
            <div class="couleur" style="background-color: #f49285"></div>
            <span style="font-weight: bold; color: var(--primary-color)"
              >#F49285 – Corail floral</span
            >
            <span style="margin: 0">Modernité & Convivialité</span>
          </div>
          <div class="palette">
            <div class="couleur" style="background-color: #474747"></div>
            <span style="font-weight: bold; color: var(--primary-color)"
              >#474747 – Anthracite</span
            >
            <span style="margin: 0">Élégant & Équilibré</span>
          </div>
          <div class="palette">
            <div class="couleur" style="background-color: #f8f5e8"></div>
            <span style="font-weight: bold; color: var(--primary-color)"
              >#F8F5E8 – Ivoire</span
            >
            <span style="margin: 0">Naturel & Raffiné</span>
          </div>
        </div>
        <p>
          Ces teintes offrent une ambiance
          <strong>lumineuse et chaleureuse</strong>, parfaitement adaptée à
          l’<strong>univers artisanal et festif</strong> des fleurs séchées.
        </p>
        <h3><i class="fa-solid fa-pen-fancy"></i>Typographies</h3>
        <ul>
          <li>
            <strong>Courgette</strong> (pour les titres) : manuscrite, pleine de
            rondeur, elle incarne l’humanité et l’authenticité.
          </li>
          <li>
            <strong>Libre Baskerville</strong> (pour les textes) : une serif
            élégante et très lisible qui équilibre la fantaisie de Courgette.
          </li>
        </ul>
        <h3><i class="fa-regular fa-file"></i>Logos</h3>
        <p>
          Le logo associe le nom "<strong>Saisons de Jean</strong>" à un bouquet
          fleuri illustré, évoquant à la fois la nature et la créativité
          artisanale.
        </p>
        <p>
          Il a été décliné en trois versions selon le fond : clair, corail et
          foncé, pour assurer <strong>accessibilité et lisibilité</strong> sur
          tous supports.
        </p>
        <h3><i class="fa-regular fa-image"></i>Illustrations</h3>
        <p>
          Les visuels choisis illustrent les bouquets de fleurs séchées et
          l’univers poétique de la marque. Ils évoquent la joie des événements,
          la finesse artisanale et la variété des compositions proposées.
        </p>
        <h2 class="titre-partie">4 - Création du profil LinkedIn</h2>
        <p>
          Le profil LinkedIn de Saisons de Jean a été conçu comme une
          <strong>véritable vitrine digitale</strong> : soignée, accessible,
          pleine de personnalité. L’objectif était de
          <strong>combiner professionnalisme et esprit joyeux</strong>, pour
          rester fidèle à l’ADN de la marque.
        </p>
        <h3><i class="fa-solid fa-user"></i>Cibles</h3>
        <ul>
          <li>
            <strong>Particuliers</strong> souhaitant commander des bouquets
            personnalisés pour des
            <strong>occasions importantes</strong> (mariage, naissance, deuil…)
          </li>
          <li>
            <strong>Professionnels du secteur</strong> (wedding planners,
            créateurs d’événements, boutiques)
          </li>
          <li>
            <strong>Curieux ou passionnés</strong> d’artisanat, de décoration et
            de fleurs séchées
          </li>
        </ul>
        <h3>
          <i class="fa-regular fa-image"></i>Bannière (photo de couverture)
        </h3>
        <p>
          La bannière LinkedIn de Saisons de Jean a été conçue comme une
          véritable vitrine digitale, fidèle à l’univers visuel de la marque.
        </p>
        <p>
          On y retrouve les éléments clés de l'<strong
            >identité graphique</strong
          >
          :
        </p>
        <ul>
          <li>
            Le <strong>logo</strong> illustré avec son bouquet signature et le
            nom de la marque
          </li>
          <li>
            La <strong>typographie</strong> Courgette, chaleureuse et
            expressive, pour capter l’attention
          </li>
          <li>
            Une <strong>accroche</strong> claire : “Composition florales sur
            mesure en fleurs séchées”, mise en valeur par un fond corail pastel
          </li>
          <li>
            Un <strong>appel à l’action</strong> engageant : “Demandez un devis
            fleuri”, qui incite à la prise de contact
          </li>
          <li>
            Une <strong>preuve sociale</strong> visuelle : “+ de 100 clients
            satisfaits”, présentée dans une pastille foncée contrastée
          </li>
          <li>
            Et enfin, l’avatar de Jean, <strong>mascotte</strong> bienveillante
            de la marque, qui ajoute une touche humaine et sympathique à
            l’ensemble
          </li>
        </ul>
        <p>
          Cette composition sobre, poétique et incarnée donne le ton de la
          marque : artisanale, joyeuse et professionnelle.
        </p>
        <h3><i class="fa-regular fa-image"></i>Photo de profil</h3>
        <p>
          Un avatar illustré de Jean, le fondateur fictif, a été utilisé pour
          incarner la marque avec humour et proximité. Cette représentation
          stylisée renforce l’identité narrative et contribue à humaniser la
          prise de contact.
        </p>
        <h3>
          <i class="fa-solid fa-circle-right"></i>Nom et intitulé de
          l'entreprise
        </h3>
        <p>
          Le nom “Saisons de Jean” est directement mis en avant, suivi d’un
          sous-titre professionnel mais différenciant :
        </p>
        <p>
          "<strong
            >Artisan fleuriste – Fleurs séchées durables & créations
            sur-mesure</strong
          >"
        </p>
        <p>
          Ce choix permet à la fois de
          <strong>clarifier l’activité et de positionner la marque</strong> dans
          une approche qualitative et personnalisée.
        </p>
        <h3><i class="fa-solid fa-comment"></i>Section "À propos"</h3>
        <p>
          Le texte a été rédigé comme une
          <strong>présentation vivante et engageante</strong>, à l’image de
          l’univers de Jean :
        </p>
        <p>
          "Chez <strong>Saisons de Jean</strong>, chaque bouquet est pensé comme
          une émotion à fleurir.<br />
          Mariage, naissance, deuil ou simple envie de douceur : nos
          compositions en fleurs séchées racontent une histoire, la vôtre.
        </p>
        <p>🌸 <strong>Artisanat local</strong></p>
        <p>🌾 <strong>Matières naturelles & durables</strong></p>
        <p>💡 <strong>Créations personnalisées</strong></p>
        <p>🎁 <strong>Offres événementielles & sur mesure</strong></p>
        <p>
          👨‍🌾 Derrière les bouquets, il y a Jean.<br />
          Un passionné de botanique, un brin farceur, qui aime cultiver les mots
          autant que les fleurs.
        </p>
        <p>📩 Envie d’un projet fleuri ? Parlons-en."</p>
        <p>
          Cette section permet d’exprimer à la fois les valeurs de la marque,
          son ton narratif unique et son positionnement local et engagé.
        </p>
        <h3><i class="fa-solid fa-circle-right"></i>Section "Sélection"</h3>
        <p>
          Deux vignettes graphiques ont été créées pour mettre en avant les
          services clés de la marque :
        </p>
        <ol>
          <li>
            “<strong>Ce que je fais – Avec Amour & Fleurs Séchées</strong>”
            <ul>
              <li>
                Cette vignette cliquable
                <strong>met en lumière les services de Jean</strong> de manière
                douce et chaleureuse. Sur un fond floral pastel, le message
                central est clair : ici, chaque création florale est réalisée
                avec soin, sur mesure, dans un esprit d’artisanat sincère.
                L’illustration de Jean apporte une touche de personnalité et de
                proximité.
              </li>
            </ul>
          </li>
          <li>
            “<strong>Une idée en tête ? Parlons fleurs !</strong>”
            <ul>
              <li>
                Conçue pour stimuler l’interaction, cette vignette cliquable
                invite les visiteurs à
                <strong>formuler leurs envies florales</strong>. Le ton complice
                (“Parlons fleurs !”) et la composition visuelle joyeuse
                <strong>encouragent à passer à l’action</strong> dans un cadre
                rassurant, poétique et léger.
              </li>
            </ul>
          </li>
        </ol>
        <p>
          Ces encarts cliquables renforcent la navigation intuitive et donnent
          au profil un aspect <strong>cohérent et professionnel</strong>, tout
          en gardant un <strong>ton chaleureux et artisanal</strong>.
        </p>
        <h2 class="titre-partie">5 - Livrables produits</h2>
        <div class="contenu-visuels">
          <div class="conteneur-preview">
            <img
              [src]="imagePath + '/brandboard.webp'"
              alt="Brand Board"
              title="Brand Board"
            />
            <p style="font-weight: bold">Brand Board</p>
            <a
              class="btn"
              (click)="onImageClick(imagePath + '/brandboard.webp')"
              title="Voir"
            >
              <span>Voir</span>
            </a>
          </div>
          <div class="conteneur-preview">
            <img
              [src]="imagePath + '/page-profil.webp'"
              alt="Page LinkedIn"
              title="Page LinkedIn"
            />
            <p style="font-weight: bold">Page LinkedIn</p>
            <a
              class="btn"
              (click)="onImageClick(imagePath + '/page-profil.webp')"
              title="Voir"
            >
              <span>Voir</span>
            </a>
          </div>
          <div class="conteneur-preview">
            <img
              [src]="imagePath + '/selection-1.webp'"
              alt="Vignette (1)"
              title="Vignette (1)"
            />
            <p style="font-weight: bold">Vignette (1)</p>
            <a
              class="btn"
              (click)="onImageClick(imagePath + '/selection-1.webp')"
              title="Voir"
            >
              <span>Voir</span>
            </a>
          </div>
          <div class="conteneur-preview">
            <img
              [src]="imagePath + '/selection-2.webp'"
              alt="Vignette (2)"
              title="Vignette (2)"
            />
            <p style="font-weight: bold">Vignette (2)</p>
            <a
              class="btn"
              (click)="onImageClick(imagePath + '/selection-2.webp')"
              title="Voir"
            >
              <span>Voir</span>
            </a>
          </div>
        </div>
        <div class="contenu-visuels" style="margin-top: 20px">
          <div class="conteneur-preview">
            <img
              [src]="imagePath + '/banniere.webp'"
              alt="Bannière"
              title="Bannière"
              style="max-width: none"
            />
            <p style="font-weight: bold">Bannière</p>
            <a
              class="btn"
              (click)="onImageClick(imagePath + '/banniere.webp')"
              title="Voir"
            >
              <span>Voir</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div
      class="scroll-page"
      title="Haut de page"
      [ngClass]="{ 'show-scrollTop': windowScrolled }"
    >
      <button class="btn-scroll" (click)="scrollToTop()">
        <i class="fa fa-chevron-up"></i>
      </button>
    </div>
  </section>
</div>
