<div class="main">
    <section class="portfolio-section sec-padding">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h2>Projets développement Web</h2>
                </div>
            </div>
            <div class="row">
                <div class="portfolio-item">
                    <div class="portfolio-item-thumbnail">
                        <img [src]="imagePath+'booki.png'" alt="portfolio item thumb">
                    </div>
                    <h3 class="portfolio-item-title">Booki</h3>
                    <button type="button" class="btn view-project-btn" (click)="openDialog('Booki')">Voir projet</button>
                    <div class="portfolio-item-details">
                        <div class="description">
                            <p>Transformation d'une maquette en site web.</p>
                        </div>
                        <div class="general-info">
                            <ul>
                                <li>Crée - <span>Février 2022</span></li>
                                <li>Technologies utilisées - <span>HTML5, CSS3</span></li>
                                <li>Role - <span>Frontend</span></li>
                                <li>Voir le site - <span><a href="#" target="_blank">https://helenepagniez.github.io/Booki/</a></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="portfolio-item-thumbnail">
                        <img [src]="imagePath+'ohmyfood.png'" alt="portfolio item thumb">
                    </div>
                    <h3 class="portfolio-item-title">Ohmyfood</h3>
                    <button type="button" class="btn view-project-btn" (click)="openDialog('Ohmyfood')">Voir projet</button>
                    <div class="portfolio-item-details">
                        <div class="description">
                            <p>Dynamisation d'une page web avec des animations css.</p>
                        </div>
                        <div class="general-info">
                            <ul>
                                <li>Crée - <span>Mars 2022</span></li>
                                <li>Technologies utilisées - <span>HTML5, CSS3</span></li>
                                <li>Role - <span>Frontend</span></li>
                                <li>Voir le site - <span><a href="#" target="_blank">https://helenepagniez.github.io/ohmyfood/</a></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="portfolio-item-thumbnail">
                        <img [src]="imagePath+'la-panthere.png'" alt="portfolio item thumb">
                    </div>
                    <h3 class="portfolio-item-title">La panthère</h3>
                    <button type="button" class="btn view-project-btn" (click)="openDialog('La panthère')">Voir projet</button>
                    <div class="portfolio-item-details">
                        <div class="description">
                            <p>Optimisation d'un site web existant.</p>
                        </div>
                        <div class="general-info">
                            <ul>
                                <li>Crée - <span>Avril 2022</span></li>
                                <li>Technologies utilisées - <span>HTML5, CSS3</span></li>
                                <li>Role - <span>Frontend</span></li>
                                <li>Voir le site - <span><a href="#" target="_blank">https://helenepagniez.github.io/La-Panthere/</a></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="portfolio-item-thumbnail">
                        <img [src]="imagePath+'kanap.png'" alt="portfolio item thumb">
                    </div>
                    <h3 class="portfolio-item-title">Kanap</h3>
                    <button type="button" class="btn view-project-btn" (click)="openDialog('Kanap')">Voir projet</button>
                    <div class="portfolio-item-details">
                        <div class="description">
                            <p>Construction d'un site e-commerce en javascript.</p>
                        </div>
                        <div class="general-info">
                            <ul>
                                <li>Crée - <span>Mai 2022</span></li>
                                <li>Technologies utilisées - <span>HTML5, CSS3, Javascript</span></li>
                                <li>Voir le code - <span><a href="#" target="_blank">https://github.com/Helenepagniez/Kanap</a></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="portfolio-item-thumbnail">
                        <img [src]="imagePath+'piiquante.png'" alt="portfolio item thumb">
                    </div>
                    <h3 class="portfolio-item-title">Piiquante</h3>
                    <button type="button" class="btn view-project-btn" (click)="openDialog('Piiquante')">Voir projet</button>
                    <div class="portfolio-item-details">
                        <div class="description">
                            <p>Construction d'une API sécurisée.</p>
                        </div>
                        <div class="general-info">
                            <ul>
                                <li>Crée - <span>Juin 2022</span></li>
                                <li>Technologies utilisées - <span>MongoDB, Express.js, Node.js</span></li>
                                <li>Role - <span>Backend</span></li>
                                <li>Voir le site - <span><a href="#" target="_blank">https://github.com/Helenepagniez/Piiquante</a></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="portfolio-item-thumbnail">
                        <img [src]="imagePath+'groupomania.png'" alt="portfolio item thumb">
                    </div>
                    <h3 class="portfolio-item-title">Groupomania</h3>
                    <button type="button" class="btn view-project-btn" (click)="openDialog('Groupomania')">Voir projet</button>
                    <div class="portfolio-item-details">
                        <div class="description">
                            <p>Création d'un réseau social d'entreprise.</p>
                        </div>
                        <div class="general-info">
                            <ul>
                                <li>Crée - <span>Aout 2022</span></li>
                                <li>Technologies utilisées - <span>Node.js, Express.js, MongoDB, Angular</span></li>
                                <li>Role - <span>Backend + Frontend</span></li>
                                <li>Voir le site - <span><a href="#" target="_blank">https://github.com/Helenepagniez/Groupomania</a></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="portfolio-item-thumbnail">
                        <img [src]="imagePath+'foodlove.jpg'" alt="portfolio item thumb">
                    </div>
                    <h3 class="portfolio-item-title">Foodlove</h3>
                    <button type="button" class="btn view-project-btn" (click)="openDialog('Foodlove')">Voir projet</button>
                    <div class="portfolio-item-details">
                        <div class="description">
                            <p>EN COURS DE REALISATION</p>
                        </div>
                        <div class="general-info">
                            <ul>
                                <li>Crée - <span>En cours de création</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
