<div class="main">
  <a class="retour" routerLink="/projets/projets-master" title="Retour">
    <span>Retour</span>
  </a>
  <section class="conteneur-page">
    @if (expandedImageSrc()) {
    <div class="overlay" (click)="closeImage()">
      <img [src]="expandedImageSrc()" alt="Expanded Image" />
    </div>
    }
    <div class="page">
      <div class="titre-page">
        <h1>Projet n°2 : SNCF</h1>
      </div>
      <div class="contenu-projet">
        <h2 class="titre-partie">1 - Contexte du projet</h2>
        <p>
          Au sein de l’agence Strat’Innovation, spécialisée en innovation et
          transformation numérique. Notre client, <strong>la SNCF</strong>,
          souhaitait lancer
          <strong
            >Flix&Go, un nouveau service de divertissement embarqué</strong
          >
          accessible via une application mobile, même
          <strong>sans connexion réseau</strong>.
        </p>
        <h3><i class="fa-solid fa-bullseye"></i>Objectifs de la mission :</h3>
        <ul>
          <li>
            Fidéliser les voyageurs existants (cartes fidélité, abonnements)
          </li>
          <li>
            Séduire une nouvelle génération de voyageurs (18–30 ans) réceptive à
            la technologie, au contenu digital et aux valeurs environnementales
          </li>
        </ul>
        <h2 class="titre-partie">2 - Structure de la mission</h2>
        <p>Le projet s’est structuré en deux grandes phases.</p>
        <h3>
          <i class="fa-solid fa-briefcase"></i>Mission 1 : Réaliser un audit
          complet de la marque SNCF
        </h3>
        <p>
          <strong>Objectif :</strong> comprendre l’image réelle et perçue de la
          SNCF pour préparer le lancement de Flix&Go sur des bases solides.
        </p>
        <h3>
          <i class="fa-solid fa-briefcase"></i>
          Mission 2 : Créer une plateforme de marque et un plan de communication
          pour Flix&Go
        </h3>
        <p>
          <strong>Objectif :</strong> construire une nouvelle identité de marque
          pour Flix&Go, en cohérence avec l’univers SNCF, tout en la rendant
          innovante, durable et attractive.
        </p>
        <h2 class="titre-partie">
          3 - MISSION 1 – Audit stratégique de la marque SNCF
        </h2>
        <h3>
          <i class="fa-solid fa-crop-simple"></i>Étape 1 : Cadrage de l’audit
        </h3>
        <p>
          Cette première étape a consisté à définir les objectifs précis de
          l’audit :
        </p>
        <ul>
          <li>
            Mesurer la <strong>cohérence</strong> entre image perçue et identité
            définie ;
          </li>
          <li>
            Identifier les <strong>leviers d’attractivité</strong> pour le futur
            service Flix&Go ;
          </li>
          <li>
            Détecter les
            <strong>points de friction ou de confusion</strong> dans la
            communication actuelle.
          </li>
        </ul>
        <p>
          Pour structurer la réflexion, j’ai réalisé une
          <strong>carte heuristique</strong> avec GitMind, recensant les axes
          d’analyse internes (plateforme de marque, culture) et externes
          (communication, concurrents, public cible).
        </p>
        <h3>
          <i class="fa-solid fa-id-card"></i>Étape 2 : Étude de l’image de
          marque interne
        </h3>
        <p>
          J’ai analysé les fondements internes de la marque SNCF à travers les
          éléments suivants :
        </p>
        <ul>
          <li>
            <strong>Historique</strong> de l’entreprise et rôle de service
            public
          </li>
          <li>
            <strong>Portefeuille de marques</strong> (TGV INOUI, OUIGO,
            Intercités…)
          </li>
          <li>
            <strong>Mission :</strong> connecter les territoires de manière sûre
            et durable
          </li>
          <li>
            <strong>Vision :</strong> être l’acteur de référence d’une mobilité
            écoresponsable
          </li>
          <li>
            <strong>Valeurs :</strong> engagement, innovation, accessibilité
          </li>
          <li>
            <strong>Personnalité de marque :</strong> rassurante, responsable,
            ancrée dans le quotidien
          </li>
          <li>
            <strong>Marketing Mix :</strong> Produit, Prix, Promotion,
            Distribution
          </li>
        </ul>
        <h3>
          <i class="fa-solid fa-id-card"></i>Étape 3 : Étude de l’image de
          marque externe
        </h3>
        <p>
          Cette étape m’a permis de
          <strong>confronter les éléments</strong> internes à ce qui est perçu à
          l’extérieur :
        </p>
        <ul>
          <li>
            <strong>Analyse du site officiel</strong> (UX, ton, accessibilité)
          </li>
          <li>
            <strong>Présence sur les réseaux sociaux</strong> (LinkedIn,
            Instagram, Twitter)
          </li>
          <li>
            <strong>Ton de voix utilisé</strong> (institutionnel, pédagogique,
            humain)
          </li>
          <li>
            <strong>Cohérence graphique :</strong> logo, couleurs, visuels,
            illustrations
          </li>
          <li>
            <strong>Réactions du public :</strong> commentaires, critiques,
            appréciations
          </li>
          <li>
            <strong>Ressources analysées :</strong> site sncf.com, applications
            mobiles, plaquettes officielles
          </li>
        </ul>
        <h3>
          <i class="fa-solid fa-clipboard-question"></i>Étape 4 : Enquête client
        </h3>
        <p>
          J’ai construit un questionnaire client via
          <strong>Google Forms</strong> avec :
        </p>
        <ul>
          <li>
            Des questions fermées (fréquence d’utilisation, satisfaction,
            perception)
          </li>
          <li>
            Des questions ouvertes (freins, suggestions, mots associés à la
            SNCF)
          </li>
        </ul>
        <p>
          Cela a permis d’identifier les <strong>points forts</strong> (réseau
          dense, fiabilité perçue) et les
          <strong>zones à améliorer</strong> (relation client, confort, image
          vieillissante chez les jeunes).
        </p>
        <h3>
          <i class="fa-solid fa-comment"></i>Étape 5 : Guide d’entretien
          collaborateurs
        </h3>
        <p>
          J’ai également conçu un guide d’entretien structuré à destination de
          collaborateurs SNCF issus de plusieurs services (marketing, digital,
          service client…).
        </p>
        <p><strong>Les objectifs :</strong></p>
        <ul>
          <li>Évaluer la perception interne des valeurs et missions</li>
          <li>Comprendre l’alignement (ou non) avec le discours officiel</li>
          <li>Collecter des idées concrètes d’amélioration ou d’évolution</li>
        </ul>
        <h3>
          <i class="fa-solid fa-magnifying-glass-plus"></i>Étape 6 : Étude de la
          concurrence
        </h3>
        <p>
          J’ai mené une <strong>veille sur les acteurs concurrents</strong>, en
          particulier :
        </p>
        <ul>
          <li>Services embarqués concurrents (Eurostar, Trenitalia…)</li>
          <li>Applications de streaming (Netflix, Spotify, Audible…)</li>
          <li>
            Analyse de leurs forces : UX soignée, contenus personnalisés,
            reconnaissance de marque
          </li>
          <li>
            Et de leurs faiblesses : besoin de connexion, pas toujours adaptés à
            un contexte de voyage
          </li>
        </ul>
        <h3>
          <i class="fa-solid fa-list"></i>Étape 7 : Synthèse & recommandations
        </h3>
        <p>J’ai synthétisé l’audit à l’aide :</p>
        <ul>
          <li>
            D’un <strong>prisme de Kapferer</strong> détaillant l’image perçue
            de la SNCF (physique, relation, perception, personnalité, culture,
            image de soi)
          </li>
          <li>
            D’une <strong>liste de recommandations stratégiques</strong>, dont :
            <ul>
              <li>
                Positionnement différenciateur : application écoresponsable et
                interactive,
              </li>
              <li>
                Personnalisation UX : contenus par durée de trajet, interface
                fluide,
              </li>
              <li>Partenariats culturels et contenu exclusif,</li>
              <li>Gamification et fidélisation,</li>
              <li>
                Campagnes de communication ciblées sur les jeunes voyageurs.
              </li>
            </ul>
          </li>
        </ul>
        <h2 class="titre-partie">
          4 - MISSION 2 – Création de la marque Flix&Go et plan de communication
        </h2>
        <h3>
          <i class="fa-solid fa-thumbtack"></i>Plateforme de marque Flix&Go
        </h3>
        <p>J’ai conçu l’identité de Flix&Go :</p>
        <ul>
          <li><strong>Nom :</strong> Flix&Go</li>
          <li><strong>Slogan :</strong> Voyagez divertis, pensez durable</li>
          <li>
            <strong>Preuves de promesse :</strong>
            <ul>
              <li>Contenus adaptés à la durée du trajet</li>
              <li>Fonctionnalité hors ligne</li>
              <li>Partenariat avec créateurs de contenus responsables</li>
            </ul>
          </li>
        </ul>
        <p>
          Un brandboard complet a été conçu sous Canva (typographies, palette de
          couleurs, pictogrammes, logos…).
        </p>
        <h3>
          <i class="fa-solid fa-palette"></i>Déclinaison de la charte éditoriale
        </h3>
        <ul>
          <li>Ton de voix : engagé, moderne, accessible</li>
          <li>
            Thèmes définis :
            <ul>
              <li>
                <strong> Divertissement</strong> (films, documentaires,
                musique…)
              </li>
              <li>
                <strong>Écoresponsabilité</strong> (streaming responsable,
                éthique numérique…)
              </li>
              <li>
                <strong>Vie mobile</strong> (usage en déplacement, trajets
                fluides, conseils de voyage)
              </li>
            </ul>
          </li>
          <li>
            Moodboard : illustrations légères, couleurs froides, visuels
            illustratifs voyageurs/technologie
          </li>
          <li>
            Formats, messages-clés et hashtags définis pour chaque canal de
            communication
          </li>
        </ul>
        <h3>
          <i class="fa-solid fa-circle-right"></i>Plan de communication
          multicanal
        </h3>
        <p><strong>Online</strong></p>
        <ul>
          <li>
            <strong>Réseaux sociaux :</strong> campagnes virales, témoignages
            utilisateurs, jeux-concours, teasing avant lancement
          </li>
          <li>
            <strong> Site SNCF :</strong> page dédiée à Flix&Go, tutoriels
            intégrés, formulaires
          </li>
          <li>
            <strong> Emailing :</strong> campagnes / newsletters segmentées
            selon la cible (fidèles / jeunes / occasionnels)
          </li>
        </ul>
        <p><strong>Offline</strong></p>
        <ul>
          <li>Affichages en gare et dans les trains</li>
          <li>QR codes pour téléchargement rapide</li>
          <li>Relations presse & événement de lancement avec influenceurs</li>
          <li>Flyers remis aux voyageurs premium</li>
          <li>Spot vidéo interne pour les agents SNCF</li>
        </ul>

        <h3><i class="fa-solid fa-bullseye"></i>Objectifs SMART</h3>
        <ol>
          <li>
            <strong>Notoriété :</strong> Faire connaître Flix&Go auprès de 70 %
            des voyageurs réguliers SNCF d’ici 6 mois
          </li>
          <li>
            <strong>Engagement :</strong> Obtenir au moins 50 000
            téléchargements de l'application dans les 3 premiers mois
          </li>
          <li>
            <strong>Image de marque :</strong> Augmenter de 15 % le taux de
            satisfaction positive à la SNCF via les sondages clients dans un
            délai de 6 mois
          </li>
        </ol>

        <h3>
          <i class="fa-solid fa-circle-right"></i>Déploiement du plan d’action
          en interne
        </h3>
        <ul>
          <li>Calendrier avec étapes clés (avant/pendant/après lancement)</li>
          <li>
            Responsabilités réparties par service (marketing, digital, relation
            client)
          </li>
          <li>
            Utilisation d’un tableau de suivi sur Google Sheets pour le budget
            et les KPI
          </li>
          <li>
            Création d’une FAQ pour répondre aux principales questions client
          </li>
          <li>Points de contrôle hebdomadaires planifiés sur Trello</li>
        </ul>
        <h2 class="titre-partie">5 - Outils utilisés</h2>
        <ul>
          <li>
            <strong>Canva :</strong> brandboard, moodboard, plateformes de
            marque, supports de communication
          </li>
          <li>
            <strong>GitMind :</strong> carte mentale de cadrage de l'audit
          </li>
          <li><strong>Google Forms :</strong> enquête client</li>
          <li><strong>Google Sheets :</strong> budget, planning</li>
          <li>
            <strong>Zeoob :</strong> création de fausse publication Instagram
          </li>
          <li>
            <strong>Ressources officielles SNCF :</strong> vision, valeurs,
            rapports financiers, etc...
          </li>
        </ul>
        <h2 class="titre-partie">6 - Livrables produits</h2>
        <h3><i class="fa-solid fa-eye"></i>Aperçu du projet</h3>
        <div class="contenu-visuels">
          <div class="conteneur-preview">
            <img
              [src]="imagePath + '/historique.webp'"
              alt="Historique SNCF"
              title="Historique SNCF"
            />
            <p style="font-weight: bold">Historique SNCF</p>
            <a
              class="btn"
              (click)="onImageClick(imagePath + '/historique.webp')"
              title="Consulter"
            >
              <span>Consulter</span>
            </a>
          </div>
          <div class="conteneur-preview">
            <img
              [src]="imagePath + '/plateforme-de-marque.webp'"
              alt="Plateforme de marque"
              title="Plateforme de marque"
            />
            <p style="font-weight: bold">Plateforme de marque</p>
            <a
              class="btn"
              (click)="onImageClick(imagePath + '/plateforme-de-marque.webp')"
              title="Consulter"
            >
              <span>Consulter</span>
            </a>
          </div>
          <div class="conteneur-preview">
            <img
              [src]="imagePath + '/exemples-campagne.webp'"
              alt="Exemples de Campagne"
              title="Exemples de Campagne"
            />
            <p style="font-weight: bold">Exemples de Campagne</p>
            <a
              class="btn"
              (click)="onImageClick(imagePath + '/exemples-campagne.webp')"
              title="Consulter"
            >
              <span>Consulter</span>
            </a>
          </div>
          <div class="conteneur-preview">
            <img
              [src]="imagePath + '/brandboard.webp'"
              alt="Brandboard Flix&Go"
              title="Brandboard Flix&Go"
            />
            <p style="font-weight: bold">Brandboard Flix&Go</p>
            <a
              class="btn"
              (click)="onImageClick(imagePath + '/brandboard.webp')"
              title="Consulter"
            >
              <span>Consulter</span>
            </a>
          </div>
        </div>
        <h3><i class="fa-solid fa-download"></i>Télécharger les livrables</h3>
        <div class="button-container">
          <a
            [href]="filePath + 'images/projets-master/projet2/etude-marque.pdf'"
            download="Etude de marque.pdf"
            title="Télécharger l'étude de marque"
            aria-label="Étude de marque"
            class="btn"
            >Télécharger l'étude de marque</a
          >
          <a
            [href]="
              filePath +
              'images/projets-master/projet2/plateforme-de-marque.pdf'
            "
            download="Plateforme-de-marque.pdf"
            title="Télécharger la plateforme de marque"
            aria-label="PLateforme de marque"
            class="btn"
            >Télécharger la plateforme de marque</a
          >
        </div>
      </div>
    </div>
    <div
      class="scroll-page"
      title="Haut de page"
      [ngClass]="{ 'show-scrollTop': windowScrolled }"
    >
      <button class="btn-scroll" (click)="scrollToTop()">
        <i class="fa fa-chevron-up"></i>
      </button>
    </div>
  </section>
</div>
