<div class="main">
  <a class="retour" routerLink="/projets" title="Retour">
    <span>Retour</span>
  </a>
  <section class="conteneur-page">
    <div class="page">
      <div class="titre-page">
        <h1>Designs Adobe</h1>
      </div>
      <div class="conteneur-adobe">
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + '/1/mockup.png'"
              alt="Mockup"
              title="Magazine touristique"
            />
          </div>
          <a class="btn" routerLink="1" title="Découvrir le design">
            <span>Découvrir le design</span>
          </a>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + '/2/mockup.png'"
              alt="Mockup"
              title="Menu d'un restaurant de sushi"
            />
          </div>
          <a class="btn" routerLink="2" title="Découvrir le design">
            <span>Découvrir le design</span>
          </a>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + '/3/mockup.png'"
              alt="Mockup"
              title="Catalogue de produits"
            />
          </div>
          <a class="btn" routerLink="3" title="Découvrir le design">
            <span>Découvrir le design</span>
          </a>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + '/4/mockup.png'"
              alt="Mockup"
              title="Brochure d'agence de voyage"
            />
          </div>
          <a class="btn" routerLink="4" title="Découvrir le design">
            <span>Découvrir le design</span>
          </a>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + '/5/mockup.png'"
              alt="Mockup"
              title="Catalogue de présentation d'entreprise"
            />
          </div>
          <a class="btn" routerLink="5" title="Découvrir le design">
            <span>Découvrir le design</span>
          </a>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + '/6/mockup.png'"
              alt="Mockup"
              title="Carte de visite professionnelle"
            />
          </div>
          <a class="btn" routerLink="6" title="Découvrir le design">
            <span>Découvrir le design</span>
          </a>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + '/7/mockup.png'"
              alt="Mockup"
              title="Template de catalogue d'entreprise"
            />
          </div>
          <a class="btn" routerLink="7" title="Découvrir le design">
            <span>Découvrir le design</span>
          </a>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + '/8/mockup.png'"
              alt="Mockup"
              title="Newsletter d'une entreprise"
            />
          </div>
          <a class="btn" routerLink="8" title="Découvrir le design">
            <span>Découvrir le design</span>
          </a>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + '/9/mockup.jpeg'"
              alt="Mockup"
              title="Badge d'évènement professionnel"
            />
          </div>
          <a class="btn" routerLink="9" title="Découvrir le design">
            <span>Découvrir le design</span>
          </a>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + '/10/mockup.png'"
              alt="Mockup"
              title="Affiche de menu d'un restaurant"
            />
          </div>
          <a class="btn" routerLink="10" title="Découvrir le design">
            <span>Découvrir le design</span>
          </a>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + '/11/mockup.png'"
              alt="Mockup"
              title="Flyer de tarifs d'un café"
            />
          </div>
          <a class="btn" routerLink="11" title="Découvrir le design">
            <span>Découvrir le design</span>
          </a>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + '/12/mockup.png'"
              alt="Mockup"
              title="Compte-rendu de réunion"
            />
          </div>
          <a class="btn" routerLink="12" title="Découvrir le design">
            <span>Découvrir le design</span>
          </a>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + '/13/mockup.png'"
              alt="Mockup"
              title="Papier à en-tête d'entreprise"
            />
          </div>
          <a class="btn" routerLink="13" title="Découvrir le design">
            <span>Découvrir le design</span>
          </a>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + '/14/mockup.png'"
              alt="Mockup"
              title="Affiche de formation d'une école"
            />
          </div>
          <a class="btn" routerLink="14" title="Découvrir le design">
            <span>Découvrir le design</span>
          </a>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + '/15/mockup.png'"
              alt="Mockup"
              title="Couverture d'un magazine d'architecture"
            />
          </div>
          <a class="btn" routerLink="15" title="Découvrir le design">
            <span>Découvrir le design</span>
          </a>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + '/16/mockup.png'"
              alt="Mockup"
              title="Affiche de soirée d'un club de nuit"
            />
          </div>
          <a class="btn" routerLink="16" title="Découvrir le design">
            <span>Découvrir le design</span>
          </a>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + '/17/mockup.webp'"
              alt="Mockup"
              title="Ticket d'entrée de parc d'attractions"
            />
          </div>
          <a class="btn" routerLink="17" title="Découvrir le design">
            <span>Découvrir le design</span>
          </a>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + '/18/mockup2.webp'"
              alt="Mockup"
              title="Flyer soirée à thème d'un bar"
            />
          </div>
          <a class="btn" routerLink="18" title="Découvrir le design">
            <span>Découvrir le design</span>
          </a>
        </div>
        <div class="conteneur-preview">
          <div class="conteneur-image">
            <img
              [src]="imagePath + '/19/mockup.webp'"
              alt="Mockup"
              title="Flyer d'un évènement Technologique"
            />
          </div>
          <a class="btn" routerLink="19" title="Découvrir le design">
            <span>Découvrir le design</span>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
