<div class="main">
  <a class="retour" routerLink="/projets" title="Retour">
    <span>Retour</span>
  </a>
  <section class="conteneur-page">
    <div class="page">
      <div class="titre-page">
        <h1>Designs Adobe</h1>
      </div>
    </div>
    <div class="conteneur-adobe">
      <div class="conteneur-preview">
        <div class="conteneur-image">
          <img [src]="imagePath + '/1.jpg'" alt="Adobe 1" title="Adobe 1" />
        </div>
        <a class="btn" routerLink="1" title="Découvrir le design">
          <span>Découvrir le design</span>
        </a>
      </div>
      <div class="conteneur-preview">
        <div class="conteneur-image">
          <img [src]="imagePath + '/2.jpg'" alt="Adobe 2" title="Adobe 2" />
        </div>
        <a class="btn" routerLink="2" title="Découvrir le design">
          <span>Découvrir le design</span>
        </a>
      </div>
      <div class="conteneur-preview">
        <div class="conteneur-image">
          <img [src]="imagePath + '/3.jpg'" alt="Adobe 3" title="Adobe 3" />
        </div>
        <a class="btn" routerLink="3" title="Découvrir le design">
          <span>Découvrir le design</span>
        </a>
      </div>
      <div class="conteneur-preview">
        <div class="conteneur-image">
          <img [src]="imagePath + '/4.jpg'" alt="Adobe 4" title="Adobe 4" />
        </div>
        <a class="btn" routerLink="4" title="Découvrir le design">
          <span>Découvrir le design</span>
        </a>
      </div>
      <div class="conteneur-preview">
        <div class="conteneur-image">
          <img [src]="imagePath + '/5.jpg'" alt="Adobe 5" title="Adobe 5" />
        </div>
        <a class="btn" routerLink="5" title="Découvrir le design">
          <span>Découvrir le design</span>
        </a>
      </div>
      <div class="conteneur-preview">
        <div class="conteneur-image">
          <img [src]="imagePath + '/6.jpg'" alt="Adobe 6" title="Adobe 6" />
        </div>
        <a class="btn" routerLink="6" title="Découvrir le design">
          <span>Découvrir le design</span>
        </a>
      </div>
      <div class="conteneur-preview">
        <div class="conteneur-image">
          <img [src]="imagePath + '/7.jpg'" alt="Adobe 7" title="Adobe 7" />
        </div>
        <a class="btn" routerLink="7" title="Découvrir le design">
          <span>Découvrir le design</span>
        </a>
      </div>
      <div class="conteneur-preview">
        <div class="conteneur-image">
          <img [src]="imagePath + '/8.jpg'" alt="Adobe 8" title="Adobe 8" />
        </div>
        <a class="btn" routerLink="8" title="Découvrir le design">
          <span>Découvrir le design</span>
        </a>
      </div>
      <div class="conteneur-preview">
        <div class="conteneur-image">
          <img [src]="imagePath + '/9.jpg'" alt="Adobe 9" title="Adobe 9" />
        </div>
        <a class="btn" routerLink="9" title="Découvrir le design">
          <span>Découvrir le design</span>
        </a>
      </div>
      <div class="conteneur-preview">
        <div class="conteneur-image">
          <img [src]="imagePath + '/10.jpg'" alt="Adobe 10" title="Adobe 10" />
        </div>
        <a class="btn" routerLink="10" title="Découvrir le design">
          <span>Découvrir le design</span>
        </a>
      </div>
      <div class="conteneur-preview">
        <div class="conteneur-image">
          <img [src]="imagePath + '/11.jpg'" alt="Adobe 11" title="Adobe 11" />
        </div>
        <a class="btn" routerLink="11" title="Découvrir le design">
          <span>Découvrir le design</span>
        </a>
      </div>
      <div class="conteneur-preview">
        <div class="conteneur-image">
          <img [src]="imagePath + '/12.jpg'" alt="Adobe 12" title="Adobe 12" />
        </div>
        <a class="btn" routerLink="12" title="Découvrir le design">
          <span>Découvrir le design</span>
        </a>
      </div>
      <div class="conteneur-preview">
        <div class="conteneur-image">
          <img [src]="imagePath + '/13.jpg'" alt="Adobe 13" title="Adobe 13" />
        </div>
        <a class="btn" routerLink="13" title="Découvrir le design">
          <span>Découvrir le design</span>
        </a>
      </div>
      <div class="conteneur-preview">
        <div class="conteneur-image">
          <img [src]="imagePath + '/14.jpg'" alt="Adobe 14" title="Adobe 14" />
        </div>
        <a class="btn" routerLink="14" title="Découvrir le design">
          <span>Découvrir le design</span>
        </a>
      </div>
      <div class="conteneur-preview">
        <div class="conteneur-image">
          <img [src]="imagePath + '/15.jpg'" alt="Adobe 15" title="Adobe 15" />
        </div>
        <a class="btn" routerLink="15" title="Découvrir le design">
          <span>Découvrir le design</span>
        </a>
      </div>
      <div class="conteneur-preview">
        <div class="conteneur-image">
          <img [src]="imagePath + '/16.jpg'" alt="Adobe 16" title="Adobe 16" />
        </div>
        <a class="btn" routerLink="16" title="Découvrir le design">
          <span>Découvrir le design</span>
        </a>
      </div>
      <div class="conteneur-preview">
        <div class="conteneur-image">
          <img [src]="imagePath + '/17.jpg'" alt="Adobe 17" title="Adobe 17" />
        </div>
        <a class="btn" routerLink="17" title="Découvrir le design">
          <span>Découvrir le design</span>
        </a>
      </div>
      <div class="conteneur-preview">
        <div class="conteneur-image">
          <img [src]="imagePath + '/18.jpg'" alt="Adobe 18" title="Adobe 18" />
        </div>
        <a class="btn" routerLink="18" title="Découvrir le design">
          <span>Découvrir le design</span>
        </a>
      </div>
      <div class="conteneur-preview">
        <div class="conteneur-image">
          <img [src]="imagePath + '/19.jpg'" alt="Adobe 19" title="Adobe 19" />
        </div>
        <a class="btn" routerLink="19" title="Découvrir le design">
          <span>Découvrir le design</span>
        </a>
      </div>
    </div>
  </section>
</div>
