<div class="main">
  <a class="retour" routerLink="/projets/adobe" title="Retour">
    <span>Retour</span>
  </a>
  <section class="conteneur-page">
    <div class="page">
      <div class="titre-page">
        <h1>Template de catalogue d'entreprise</h1>
      </div>
      <div class="contenu-design">
        <swiper-container
          effect="coverflow"
          mousewheel="false"
          autoplay="true"
          loop="true"
          pagination="true"
          pagination-clickable="true"
          autoplay-delay="2500"
          autoplay-disable-on-interaction="false"
          navigation="true"
          style="
            --swiper-navigation-color: #ce0045;
            --swiper-pagination-color: #ce0045;
            --swiper-theme-color: #ce0045;
          "
        >
          <swiper-slide class="mockup">
            <img [src]="imagePath + '/7/mockup.png'" alt="Mockup" />
          </swiper-slide>
          <swiper-slide class="solo">
            <img [src]="imagePath + '/7/page1.jpg'" alt="Page 1" />
          </swiper-slide>
          <swiper-slide>
            <img [src]="imagePath + '/7/page2.jpg'" alt="Page 2" />
          </swiper-slide>
          <swiper-slide>
            <img [src]="imagePath + '/7/page3.jpg'" alt="Page 3" />
          </swiper-slide>
          <swiper-slide>
            <img [src]="imagePath + '/7/page4.jpg'" alt="Page 4" />
          </swiper-slide>
          <swiper-slide>
            <img [src]="imagePath + '/7/page5.jpg'" alt="Page 5" />
          </swiper-slide>
          <swiper-slide>
            <img [src]="imagePath + '/7/page6.jpg'" alt="Page 6" />
          </swiper-slide>
          <swiper-slide class="solo">
            <img [src]="imagePath + '/7/page7.jpg'" alt="Page 7" />
          </swiper-slide>
        </swiper-container>
        <div class="description-container">
          <img
            [src]="imagePath + '../outils/indesign.webp'"
            alt="Adobe InDesign"
          />
          <span class="logiciel">Adobe InDesign</span> |
          <span class="type">Catalogue </span> |
          <span class="date">Octobre 2025 </span>
        </div>
      </div>
    </div>
  </section>
</div>
