.carte {
  width: 100%;
  min-width: 320px;
  max-width: 700px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: none;
}

.carte .conteneur-image {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: var(--light-radius);
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.carte .conteneur-image img {
  width: 100%;
  border-radius: var(--light-radius);
  object-fit: contain;
}

.carte h3 {
  margin: 20px 0;
  width: 80%;
  text-align: center;
  font-weight: 700;
}

@media screen and (max-width: 374px) {
  .carte {
    min-width: 280px;
  }
}
