<div class="main">
  <a class="retour" routerLink="/projets/projets-master" title="Retour">
    <span>Retour</span>
  </a>
  <section class="projets-section sec-padding">
    @if (expandedImageSrc()) {
    <div class="overlay" (click)="closeImage()">
      <img [src]="expandedImageSrc()" alt="Expanded Image" />
    </div>
    }
    <div class="container">
      <div class="section-titre">
        <h2 class="titre-page">Projet n°4 : Avenirs</h2>
      </div>
      <div class="projets-container">
        <h2 class="section-some-title">1 - Contexte du projet</h2>
        <p>
          Intégrée à l’agence de communication Omega en tant que Cheffe de
          Projet Digital, j’ai participé à un projet d’appel d’offres pour l’
          <strong>association caritative Avenirs</strong>. Ma mission consistait
          à cadrer et lancer un projet de grande ampleur, avec un accent
          particulier mis sur la communication responsable, la collaboration en
          équipe projet, le choix d’outils adaptés et la méthodologie de gestion
          retenue.
        </p>
        <h2 class="section-some-title">2 - Communication responsable</h2>
        <p>
          En réponse à la demande d’Avenirs, j’ai rédigé un document complet
          <strong>synthétisant les engagements RSE</strong> que peut adopter une
          agence de communication dans sa pratique :
        </p>
        <ul>
          <li>Création de contenus sobres, accessibles et éco-conçus</li>
          <li>Transparence sur les engagements réels, sans greenwashing</li>
          <li>Sélection responsable des prestataires</li>
          <li>Inclusion, diversité et respect des parties prenantes</li>
          <li>Diffusion raisonnée et limitation de l’impact écologique</li>
          <li>Veille à l'accessibilité et à la représentativité</li>
        </ul>
        <p>
          Cette démarche renforce la <strong>crédibilité éthique</strong> de
          l’agence dans le cadre de ses appels d'offres et collaborations avec
          des clients sensibles à ces sujets.
        </p>
        <h2 class="section-some-title">
          3 - Choix d'un outil collaboratif : Trello
        </h2>
        <p>
          Dans une logique de transparence et d’efficacité collaborative, j’ai
          testé <strong>Trello, outil visuel de gestion de tâches</strong>. J’en
          ai tiré une note claire à destination du client Avenirs, expliquant
          notamment :
        </p>
        <ul>
          <li>La création d’un espace projet partagé</li>
          <li>
            La définition de colonnes claires par phase (À faire, En cours,
            Fait, etc.)
          </li>
          <li>L’attribution des rôles et droits (équipes client / agence)</li>
          <li>
            La personnalisation des cartes Trello pour suivre les tâches et
            échéances
          </li>
          <li>Les bonnes pratiques pour suivre l’avancement du projet</li>
          <li>La gestion des deadlines, des étiquettes, des pièces jointes</li>
          <li>
            Possibilité de stocker, partager et modifier des documents en temps
            réel.
          </li>
          <li>
            Visualisation des tâches sous plusieurs formats (tableau, Kanban,
            liste, calendrier)
          </li>
        </ul>
        <p>
          Trello s’est révélé particulièrement adapté pour une
          <strong>gestion souple, visuelle et accessible</strong>, même à des
          interlocuteurs non techniques.
        </p>
        <h2 class="section-some-title">4 - Méthode de gestion de projet</h2>
        <p>
          J’ai opté pour une <strong>approche Agile</strong>, idéale pour ce
          type de projet nécessitant
          <strong
            >adaptabilité, itérations courtes et forte collaboration</strong
          >. Cette méthode offre une <strong>vision centrée</strong> sur la
          valeur utilisateur, avec des
          <strong>livraisons progressives</strong> permettant des ajustements
          réguliers.
        </p>
        <p>Ma présentation comprenait :</p>
        <ul>
          <li>
            Une <strong>explication schématique</strong> de la méthode Agile
          </li>
          <li>Ses <strong>bénéfices</strong> pour le projet Avenirs</li>
          <li>Les <strong>rôles</strong> à mobiliser dans l’équipe</li>
          <li>Les <strong>étapes-clés</strong> du déroulement</li>
        </ul>
        <h2 class="section-some-title">5 - Constitution de l'équipe projet</h2>
        <p>
          Sur la base de l’<strong>organigramme</strong>, j’ai constitué une
          <strong>équipe pluridisciplinaire</strong> mobilisée autour des
          différentes étapes du projet :
        </p>
        <ul>
          <li>
            Directrice de clientèle :
            <strong>coordination générale et clientèle</strong>
          </li>
          <li>
            Cheffe de projet (Product Owner) :
            <strong>pilotage opérationnel</strong>
          </li>
          <li>
            Scrum Master : <strong>responsable méthodologie Agile</strong>
          </li>
          <li>
            Graphiste, développeurs, community manager et rédactrice :
            <strong>production & animation</strong>
          </li>
        </ul>
        <p>
          J’ai détaillé les rôles de chacun via une
          <strong>matrice RACI</strong>, permettant de définir clairement qui
          est
          <strong>Responsable, Approbateur, Contributeur ou Informé</strong>
          pour chaque action du projet. Cela facilite une
          <strong>répartition fluide</strong> des responsabilités.
        </p>
        <h2 class="section-some-title">
          6 - Réunion de lancement : ordre du jour
        </h2>
        <p>
          Afin d’assurer une entrée en matière
          <strong>structurée et productive</strong>, j’ai préparé un
          <strong>ordre du jour</strong> pour la réunion de lancement (kick-off
          meeting), comprenant :
        </p>
        <ul>
          <li>Présentation du projet</li>
          <li>Rappel des objectifs et du contexte</li>
          <li>Présentation et validation de la méthode de gestion</li>
          <li>Présentation de l’équipe et répartition des tâches</li>
          <li>Planning prévisionnel</li>
          <li>Échange libre</li>
          <li>Validation des prochaines étapes</li>
        </ul>
        <h2 class="section-some-title">7 - Livrables produits</h2>
        <h3><i class="fa-solid fa-eye"></i>Aperçus du projet</h3>
        <div class="images-container">
          <div class="projets-item-thumbnail-img">
            <img
              [src]="imagePath + '/communication-responsable.png'"
              alt="projets item thumb"
            />
            <p style="font-weight: bold">Communication responsable</p>
            <a
              class="btn"
              (click)="
                onImageClick(imagePath + '/communication-responsable.png')
              "
              title="Voir"
            >
              <span>Voir</span>
            </a>
          </div>
          <div class="projets-item-thumbnail-img">
            <img
              [src]="imagePath + '/methodologie-agile.png'"
              alt="projets item thumb"
            />
            <p style="font-weight: bold">Méthodologie Agile</p>
            <a
              class="btn"
              (click)="onImageClick(imagePath + '/methodologie-agile.png')"
              title="Voir"
            >
              <span>Voir</span>
            </a>
          </div>
          <div class="projets-item-thumbnail-img">
            <img
              [src]="imagePath + '/equipe-projet.png'"
              alt="projets item thumb"
            />
            <p style="font-weight: bold">Equipe projet</p>
            <a
              class="btn"
              (click)="onImageClick(imagePath + '/equipe-projet.png')"
              title="Voir"
            >
              <span>Voir</span>
            </a>
          </div>
          <div class="projets-item-thumbnail-img">
            <img
              [src]="imagePath + '/matrice-raci.png'"
              alt="projets item thumb"
            />
            <p style="font-weight: bold">Matrice Raci</p>
            <a
              class="btn"
              (click)="onImageClick(imagePath + '/matrice-raci.png')"
              title="Voir"
            >
              <span>Voir</span>
            </a>
          </div>
        </div>
        <h3><i class="fa-solid fa-download"></i>Télécharger le livrable</h3>
        <div class="button-container">
          <a
            [href]="
              filePath +
              'images/projets-master/projet4/support-presentation.pdf'
            "
            download="Support-présentation.pdf"
            title="Télécharger le support de présentation"
            aria-label="support-présentation"
            class="btn"
            >Télécharger le support de présentation</a
          >
        </div>
      </div>
    </div>
  </section>
</div>
