<div class="main">
  <section class="conteneur-page">
    <div class="page">
      <div class="titre-page">
        <h1>Flyer soirée à thème d'un bar</h1>
      </div>
      <div class="contenu-design">
        <swiper-container
          effect="coverflow"
          mousewheel="false"
          autoplay="true"
          loop="true"
          pagination="true"
          pagination-clickable="true"
          autoplay-delay="2500"
          autoplay-disable-on-interaction="false"
          navigation="true"
          style="
            --swiper-navigation-color: #852b56;
            --swiper-pagination-color: #852b56;
            --swiper-theme-color: #852b56;
          "
        >
          <swiper-slide class="mockup">
            <img [src]="imagePath + '/18/mockup-popup.webp'" alt="Mockup" />
          </swiper-slide>
          <swiper-slide class="solo">
            <img [src]="imagePath + '/18/flyer.webp'" alt="Flyer" />
          </swiper-slide>
        </swiper-container>
        <div class="description-container">
          <img
            [src]="imagePath + '../outils/adobe.webp'"
            alt="Adobe InDesign"
          />
          <span class="logiciel">Adobe Express</span> |
          <span class="type">Flyer </span> |
          <span class="date">Juillet 2025 </span>
        </div>
      </div>
    </div>
  </section>
</div>
