<div class="main">
  <section class="conteneur-page">
    <div class="page">
      <div class="titre-page">
        <h1>L'Ascension</h1>
      </div>
      <div class="contenu-livre">
        <div class="flex">
          <div class="conteneur-image">
            <img
              [src]="imagePath + '/ascension.webp'"
              alt="Couverture Livre"
              title="Couverture Livre"
            />
          </div>
          <div class="texte">
            <h2>Genre :</h2>
            <p>Romance, Développement personnel, Policier</p>
            <h2>Année de publication :</h2>
            <p>2023</p>
            <h2>Rôle :</h2>
            <p>Autrice - AutoEditrice</p>
            <h2>Résumé :</h2>
            <p>
              Juana est orpheline depuis ses deux ans suite à un accident de
              voiture. Son oncle Miguel a obtenu sa tutelle. Juana va donc
              passer son enfance dans la famille de son père dans les quartiers
              pauvres du Mexique : Les Favellas. C'est au travers de nombreuses
              péripéties, que Juana va venger la mort de ses parents avec
              courage et bravoure. <br /><br />Comment Juana va -t-elle s'en
              sortir ? Aura-t-elle assez mûrie pour avouer ses sentiments à son
              voisin d'enfance ? Vous n'êtes pas au bout de vos surprises !
            </p>
            <a
              class="btn"
              type="button"
              title="Accéder au lien de vente"
              href="https://www.amazon.fr/LAscension-H%C3%A9l%C3%A8ne-Pagniez/dp/B0C7T9JQ4B/ref=sr_1_2?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=2O154P42Z8D7C&keywords=h%C3%A9l%C3%A8ne+pagniez&qid=1691693119&sprefix=h%C3%A9l%C3%A8ne+pagniez%2Caps%2C85&sr=8-2"
              target="_blank"
            >
              <span>Accéder au lien de vente</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
