<div class="main">
  <a class="retour" routerLink="/projets/projets-master" title="Retour">
    <span>Retour</span>
  </a>
  <section class="conteneur-page">
    @if (expandedImageSrc()) {
    <div class="overlay" (click)="closeImage()">
      <img [src]="expandedImageSrc()" alt="Expanded Image" />
    </div>
    }
    <div class="page">
      <div class="titre-page">
        <h1>Projet n°5 : Slow</h1>
      </div>
      <div class="projets-container">
        <h2 class="titre-partie">1 - Contexte du projet</h2>
        <p>
          Slow est une
          <strong>enseigne spécialisée dans les sports de glisse</strong> (ski,
          surf, snowboard...) combinant e-shop et réseau de boutiques physiques.
          Malgré une activité rentable et un positionnement différenciant par la
          qualité des conseils, la croissance ralentit. L’entreprise ne tire pas
          encore parti de ses <strong>250 000 contacts clients</strong> répartis
          sur différents canaux, avec des
          <strong>données fragmentées et sous-exploitées</strong>.
        </p>
        <p>
          Ma mission, en tant que Responsable CRM, était de structurer une
          <strong>stratégie CRM sur 12 mois</strong>, permettant à Slow de mieux
          <strong>exploiter</strong> ses données,
          <strong>centraliser</strong> ses ressources et
          <strong>améliorer la fidélisation</strong> grâce à une relation client
          plus fine et personnalisée.
        </p>
        <h2 class="titre-partie">2 - Objectifs clés de la mission</h2>
        <ul>
          <li>
            Centraliser les données clients pour une exploitation efficace
            (respect RGPD inclus)
          </li>
          <li>
            Mettre en place une stratégie omnicanale de fidélisation et
            d’acquisition
          </li>
          <li>Implémenter un CRM adapté aux besoins de Slow</li>
          <li>
            Définir des segments clients et activer les bons leviers de
            recrutement
          </li>
          <li>
            Mieux connaître les attentes des clients grâce à une étude
            consommateurs
          </li>
        </ul>
        <h2 class="titre-partie">
          3 - Étape 1 – Élaboration d’une stratégie CRM
        </h2>
        <ul>
          <li>
            Définition d’une <strong>vision CRM claire :</strong> relation
            personnalisée, fidélisation durable, alignement aux valeurs
            écoresponsables de la marque.
          </li>
          <li>
            Déploiement d’une <strong>stratégie omnicanale</strong> structurée
            autour des 5 phases du parcours client :
            <strong
              >notoriété, considération, conversion, fidélisation,
              recommandation</strong
            >.
          </li>
          <li>
            Fixation d’<strong>objectifs SMART :</strong>
            <ul>
              <li>
                Augmenter la fidélisation de 10 % en 12 mois via des campagnes
                ciblées
              </li>
              <li>Segmenter 100 % des contacts CRM d’ici 6 mois</li>
              <li>Lancer 3 campagnes emailing ciblées dès le 1er trimestre</li>
              <li>
                Intégrer 80 % des données clients dans le nouveau CRM en 3 mois
              </li>
            </ul>
          </li>
        </ul>
        <h2 class="titre-partie">
          4 - Étape 2 – Préparation opérationnelle du déploiement
        </h2>
        <h3>
          <i class="fa-solid fa-database"></i>Réalisation de deux mappings des
          sources de données clients :
        </h3>
        <ul>
          <li>
            Un <strong>avant</strong> la mise en place du CRM pour
            <strong>identifier la fragmentation des sources</strong>
          </li>
          <li>
            Un <strong>après</strong> la mise en place du CRM pour
            <strong
              >visualiser les flux de données centralisés et optimisés</strong
            >
          </li>
        </ul>
        <h3>
          <i class="fa-solid fa-folder-open"></i>Élaboration d’un cahier des
          charges complet, intégrant :
        </h3>
        <ul>
          <li>Objectifs fonctionnels et techniques</li>
          <li>Contraintes légales (<strong>RGPD</strong>)</li>
          <li>Parcours utilisateur, droits d’accès, besoins métiers</li>
          <li>Roadmap, planning détaillé et conditions budgétaires</li>
        </ul>
        <h3>
          <i class="fa-solid fa-magnifying-glass-plus"></i>Benchmark de 5 CRM du
          marché (fonctionnalités, coût, compatibilité)
        </h3>
        <ul>
          <li>
            <strong>CRM étudiés :</strong> Salesforce, Hubspot, Zoho, Monday
            Sales et Pipedrive
          </li>
          <li>
            <strong>Hubspot CRM retenu :</strong> solution intuitive, complète,
            adaptée au budget de 40 000 €/an
          </li>
        </ul>
        <h3>
          <i class="fa-solid fa-calendar-days"></i>Création d’un rétroplanning
          d’un an détaillé :
        </h3>
        <ul>
          <li>
            Regroupe les grandes phases, les tâches associées, les responsables
            désignés, les objectifs SMART et les KPI associés pour chaque action
          </li>
          <li>
            Assure un suivi opérationnel clair et efficace pour le pilotage
            global du projet
          </li>
        </ul>
        <h3>
          <i class="fa-solid fa-circle-right"></i>Construction d’une matrice
          RACI :
        </h3>
        <ul>
          <li>
            Définition précise des rôles (Responsables, Approbateurs, Consultés,
            Informés)
          </li>
          <li>
            Clarté des responsabilités et fluidité de la coordination projet
          </li>
        </ul>
        <h3>
          <i class="fa-solid fa-tags"></i>Identification des 5 KPI's principaux
          pour mesurer l’efficacité du dispositif :
        </h3>
        <ul>
          <li>Taux de fidélisation</li>
          <li>Taux de conversion sur les campagnes CRM</li>
          <li>Taux d'ouverture des emails</li>
          <li>Taux d'intégration des données clients</li>
          <li>Taux de réachat client</li>
        </ul>
        <h2 class="titre-partie">
          5 - Étape 3 – Affinage de la connaissance client
        </h2>
        <ul>
          <li>
            Analyse des données pour construire une
            <strong>segmentation marketing efficace</strong>
          </li>
          <li>
            Création de <strong>4 personas représentatifs</strong> (Emma,
            Antoine, Léa, Catherine) : profils détaillés avec
            <strong>comportements, attentes et freins</strong>
          </li>
          <li>
            Proposition d’une
            <strong>stratégie d’acquisition multicanale</strong> structurée
            autour de <strong>6 leviers :</strong>
            <ol>
              <li>SEO et content marketing</li>
              <li>Publicité digitale (SEA et Social Ads)</li>
              <li>Social Media Organique</li>
              <li>Partenariats et Influence</li>
              <li>CRM et stratégie emailing</li>
              <li>Expériences en boutique et fidélisation</li>
            </ol>
          </li>
          <li>
            Mise en place d’une logique de
            <strong>centralisation des données</strong> prospects dans le CRM
            dès la phase d’acquisition
          </li>
        </ul>
        <h2 class="titre-partie">
          6 - Étape 4 – Enquête client : brief pour EchoSphere
        </h2>
        <p>
          Pour enrichir la connaissance client, j’ai rédigé un brief à
          destination d’un institut de sondage (EchoSphere) pour mener une
          double étude :
        </p>
        <ul>
          <li>
            <strong>Objectifs :</strong> explorer les attentes, l’image de Slow,
            les leviers de fidélisation et acquisition
          </li>
          <li>
            <strong>Méthodologie :</strong> sondage quantitatif + entretiens
            qualitatifs
          </li>
          <li>
            <strong>Cibles :</strong> clients actifs, clients inactifs et
            prospects
          </li>
        </ul>
        <h2 class="titre-partie">7 - Outils utilisés</h2>
        <ul>
          <li><strong>Canva</strong> (présentations, personas, mapping)</li>
          <li>
            <strong>Google Sheets</strong> (benchmark, rétroplanning,RACI et
            étude des données)
          </li>
          <li><strong>Google Docs</strong> (Brief EchoSphere)</li>
        </ul>
        <h2 class="titre-partie">8 - Livrables produits</h2>
        <h3><i class="fa-solid fa-eye"></i>Aperçus du projet</h3>
        <div class="contenu-visuels">
          <div class="conteneur-preview">
            <img
              [src]="imagePath + '/avant-crm.png'"
              alt="projets item thumb"
            />
            <p style="font-weight: bold">Mapping avant CRM</p>
            <a
              class="btn"
              (click)="onImageClick(imagePath + '/avant-crm.png')"
              title="Voir"
            >
              <span>Voir</span>
            </a>
          </div>
          <div class="conteneur-preview">
            <img
              [src]="imagePath + '/apres-crm.png'"
              alt="projets item thumb"
            />
            <p style="font-weight: bold">Mapping après CRM</p>
            <a
              class="btn"
              (click)="onImageClick(imagePath + '/apres-crm.png')"
              title="Voir"
            >
              <span>Voir</span>
            </a>
          </div>
          <div class="conteneur-preview">
            <img
              [src]="imagePath + '/retroplanning.png'"
              alt="projets item thumb"
            />
            <p style="font-weight: bold">Rétroplanning</p>
            <a
              class="btn"
              (click)="onImageClick(imagePath + '/retroplanning.png')"
              title="Voir"
            >
              <span>Voir</span>
            </a>
          </div>
          <div class="conteneur-preview">
            <img
              [src]="imagePath + '/synthese-donnees.png'"
              alt="projets item thumb"
            />
            <p style="font-weight: bold">Synthèse des données</p>
            <a
              class="btn"
              (click)="onImageClick(imagePath + '/synthese-donnees.png')"
              title="Voir"
            >
              <span>Voir</span>
            </a>
          </div>
        </div>
        <h3><i class="fa-solid fa-download"></i>Télécharger le livrable</h3>
        <div class="button-container">
          <a
            [href]="
              filePath +
              'images/projets-master/projet5/support-presentation.pdf'
            "
            download="Support-presentation.pdf"
            title="Télécharger le support de présentation"
            aria-label="support présentation"
            class="btn"
            >Télécharger le support de présentation</a
          >
        </div>
      </div>
    </div>
  </section>
</div>
