<div class="croix">
  <a class="btn" (click)="close()" title="Fermer">
    <i class="bx bx-x"></i>
  </a>
</div>

@if (projet.lien === 'adobe/1') {
<app-adobe1></app-adobe1>
} @else if (projet.lien === 'adobe/2') {
<app-adobe2></app-adobe2>
} @else if (projet.lien === 'adobe/3') {
<app-adobe3></app-adobe3>
} @else if (projet.lien === 'adobe/4') {
<app-adobe4></app-adobe4>
} @else if (projet.lien === 'adobe/5') {
<app-adobe5></app-adobe5>
} @else if (projet.lien === 'adobe/6') {
<app-adobe6></app-adobe6>
} @else if (projet.lien === 'adobe/7') {
<app-adobe7></app-adobe7>
} @else if (projet.lien === 'adobe/8') {
<app-adobe8></app-adobe8>
} @else if (projet.lien === 'adobe/9') {
<app-adobe9></app-adobe9>
} @else if (projet.lien === 'adobe/10') {
<app-adobe10></app-adobe10>
} @else if (projet.lien === 'adobe/11') {
<app-adobe11></app-adobe11>
} @else if (projet.lien === 'adobe/12') {
<app-adobe12></app-adobe12>
} @else if (projet.lien === 'adobe/13') {
<app-adobe13></app-adobe13>
} @else if (projet.lien === 'adobe/14') {
<app-adobe14></app-adobe14>
} @else if (projet.lien === 'adobe/15') {
<app-adobe15></app-adobe15>
} @else if (projet.lien === 'adobe/16') {
<app-adobe16></app-adobe16>
} @else if (projet.lien === 'adobe/17') {
<app-adobe17></app-adobe17>
} @else if (projet.lien === 'adobe/18') {
<app-adobe18></app-adobe18>
} @else if (projet.lien === 'adobe/19') {
<app-adobe19></app-adobe19>
} @else if (projet.lien === 'articles/1') {
<app-article1></app-article1>
} @else if (projet.lien === 'articles/2') {
<app-article2></app-article2>
} @else if (projet.lien === 'articles/3') {
<app-article3></app-article3>
} @else if (projet.lien === 'articles/4') {
<app-article4></app-article4>
} @else if (projet.lien === 'articles/5') {
<app-article5></app-article5>
} @else if (projet.lien === 'articles/6') {
<app-article6></app-article6>
} @else if (projet.lien === 'articles/7') {
<app-article7></app-article7>
} @else if (projet.lien === 'articles/8') {
<app-article8></app-article8>
} @else if (projet.lien === 'articles/9') {
<app-article9></app-article9>
} @else if (projet.lien === 'articles/10') {
<app-article10></app-article10>
} @else if (projet.lien === 'articles/11') {
<app-article11></app-article11>
} @else if (projet.lien === 'articles/12') {
<app-article12></app-article12>
} @else if (projet.lien === 'projets-master/1') {
<app-projet1></app-projet1>
} @else if (projet.lien === 'projets-master/2') {
<app-projet2></app-projet2>
} @else if (projet.lien === 'projets-master/3') {
<app-projet3></app-projet3>
} @else if (projet.lien === 'projets-master/4') {
<app-projet4></app-projet4>
} @else if (projet.lien === 'projets-master/5') {
<app-projet5></app-projet5>
} @else if (projet.lien === 'projets-master/6') {
<app-projet6></app-projet6>
} @else if (projet.lien === 'projets-master/7') {
<app-projet7></app-projet7>
} @else if (projet.lien === 'projets-master/8') {
<app-projet8></app-projet8>
}@else if (projet.lien === 'defis-marketing/1') {
<app-defi1></app-defi1>
} @else if (projet.lien === 'defis-marketing/2') {
<app-defi2></app-defi2>
} @else if (projet.lien === 'defis-marketing/3') {
<app-defi3></app-defi3>
} @else if (projet.lien === 'defis-marketing/4') {
<app-defi4></app-defi4>
} @else if (projet.lien === 'livres/1') {
<app-livre1></app-livre1>
} @else if (projet.lien === 'livres/2') {
<app-livre2></app-livre2>
}@else if (projet.lien === 'sites/1') {
<app-site1></app-site1>
} @else if (projet.lien === 'sites/2') {
<app-site2></app-site2>
}

<div class="fermer">
  <a class="btn" (click)="close()" title="Fermer">
    <span>Fermer</span>
  </a>
</div>
