:host {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--tertiary-color);
  padding: 10px;
  border-radius: var(--strong-radius);
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 95%;
  max-height: 95vh;
  overflow-y: auto;
}

.fermer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btn {
  background-color: var(--secondary-color);
  padding: 10px 28px;
  border-radius: var(--strong-radius);
  color: var(--tertiary-color);
  font-weight: 700;
  font-size: 16px;
  font-family: var(--font-family-text);
  cursor: pointer;
  overflow: hidden;
  transition: 0.5s ease;
  border: none;
  width: 220px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  transform: scale(1.1);
}

.croix {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.croix .btn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 50px;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.croix .btn i {
  font-size: 40px;
}
