<div class="main">
  <section class="conteneur-page">
    <div class="page">
      <div class="titre-page">
        <h1>Track Your Job</h1>
      </div>
      <div class="contenu-design">
        <swiper-container
          effect="coverflow"
          mousewheel="false"
          autoplay="true"
          loop="true"
          pagination="true"
          pagination-clickable="true"
          autoplay-delay="2500"
          autoplay-disable-on-interaction="false"
          navigation="true"
          style="
            --swiper-navigation-color: #852b56;
            --swiper-pagination-color: #852b56;
            --swiper-theme-color: #852b56;
          "
        >
          <swiper-slide>
            <img [src]="imagePath + '/2/landing.webp'" alt="Landing" />
          </swiper-slide>
          <swiper-slide>
            <img [src]="imagePath + '/2/connexion.webp'" alt="Connexion" />
          </swiper-slide>
          <swiper-slide>
            <img [src]="imagePath + '/2/resume.webp'" alt="Résumé" />
          </swiper-slide>
          <swiper-slide>
            <img [src]="imagePath + '/2/forms.webp'" alt="Formulaire" />
          </swiper-slide>
          <swiper-slide>
            <img [src]="imagePath + '/2/offre-debut.webp'" alt="Offre" />
          </swiper-slide>
          <swiper-slide>
            <img [src]="imagePath + '/2/offre-fin.webp'" alt="Offre" />
          </swiper-slide>
          <swiper-slide>
            <img [src]="imagePath + '/2/entreprise.webp'" alt="Entreprise" />
          </swiper-slide>
          <swiper-slide>
            <img [src]="imagePath + '/2/kanban.webp'" alt="Kanban" />
          </swiper-slide>
        </swiper-container>
        <div class="description-container">
          <img
            [src]="imagePath + '../outils/antigravity.webp'"
            alt="Antigravity"
          />
          <span class="logiciel">Google Antigravity - Angular</span> |
          <span class="type">Application Web </span> |
          <span class="date">Décembre 2025 </span>
        </div>
        <a
          class="btn"
          type="button"
          title="Visiter le site"
          href="https://helenepagniez.github.io/Track-Your-Job/"
          target="_blank"
        >
          <span>Visiter le site</span>
        </a>
      </div>
    </div>
  </section>
</div>
