/* ------------- VARIABLES ------------------ */
:root{
    --main-color: rgb(7, 106, 255);
    --blue: #0000ff;
    --blue-dark: #18293c;
    --orange: #ffa500;
    --green-yellow: #cddc39;
    --pink-light: #efa2b4;
    --cyan-light: #aef1ee;
    --white: #ffffff;
    --white-alpha-40: rgba(255, 255, 255, 0.40);
    --white-alpha-25: rgba(255, 255, 255, 0.25);
    --backdrop-filter-blur: blur(5px);
}

/* ------------- GENERAUX ------------------ */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

::before,
::after{
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(166deg, rgba(5,19,244,1) 0%, rgba(0,128,167,1) 38%, rgba(0,144,178,1) 46%, rgba(1,255,250,1) 100%);
    background-attachment: fixed;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color:  var(--blue-dark);
    line-height: 1.5;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    padding: 5vh 15px;
}

body::before{
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.12;
}

/* ------------- CUSTOM SCROLLBAR------------------ */
::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: var(--white);
}

::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
