/* ------------- VARIABLES ------------------ */
:root {
  --primary-color: #75b8b2;
  --secondary-color: #ce0045;
  --tertiary-color: white;
  --text-primary-color: black;
  --light-background-color: rgba(255, 255, 255, 0.4);
  --strong-radius: 30px;
  --light-radius: 10px;
  --font-family-title: "Anton", serif;
  --font-family-text: "Open Sans", sans-serif;
}

/* ------------- GENERAUX ------------------ */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

::before,
::after {
  box-sizing: border-box;
}

body {
  background: var(--primary-color);
  background-attachment: fixed;
  font-family: var(--font-family-text);
  font-weight: 300;
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
}

body::before {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.12;
}

h1 {
  font-size: 40px;
  font-family: var(--font-family-title);
  color: var(--secondary-color);
  font-weight: 600;
}

h2 {
  font-size: 22px;
  font-family: var(--font-family-title);
  font-weight: 500;
  text-underline-offset: 6px;
}

h3 {
  font-size: 19px;
  font-weight: 400;
  text-underline-offset: 5px;
}

p,
a,
span,
button,
li {
  font-size: 17px;
  font-family: var(--font-family-text);
}

/* ------------- CUSTOM SCROLLBAR------------------ */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--tertiary-color);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
