<div class="main">
  <section class="home-section">
    <div class="page">
      <div class="bloc">
        <div class="home-text">
          <h1>Hélène Pagniez</h1>
          <h2>Votre future recrue | Prête à intégrer une équipe innovante</h2>
          <div class="button-container">
            <a class="btn" title="À propos de moi" routerLink="/about"
              >À propos de moi</a
            >
            <a class="btn" title="Projets" routerLink="/projets">Projets</a>
            <a class="btn" title="Contactez moi" routerLink="/contact"
              >Contactez moi</a
            >
            <a
              [href]="filePath + 'cv.pdf'"
              download="images/cv.pdf"
              title="CV"
              class="btn"
              >Téléchargement CV</a
            >
          </div>
        </div>
        <div class="conteneur-image">
          <img [src]="imagePath + 'profile.png'" alt="profile-img" />
        </div>
      </div>
    </div>
  </section>
</div>
