<div class="main">
  <section class="home-section">
    <div class="page">
      <div class="bloc">
        <div class="home-text">
          <h1>Hélène Pagniez</h1>
          <h2>
            Votre future Consultante / Chargée de Marketing Digitale <br />
            <i class="fa-regular fa-circle-right"></i> À l'écoute d'opportunités
          </h2>
          <div class="button-container">
            <a class="btn" title="Découvrir mon profil" routerLink="/about"
              >Découvrir mon profil</a
            >
            <a class="btn" title="Découvrir mes projets" routerLink="/projets"
              >Découvrir mes projets</a
            >
            <a class="btn" title="Me contacter" routerLink="/contact"
              >Me contacter</a
            >
            <a
              [href]="filePath + 'cv.pdf'"
              download="CV_Pagniez_Chargée-de-Marketing.pdf"
              title="Télécharger mon CV"
              class="btn"
              >Télécharger mon CV</a
            >
          </div>
        </div>
        <div class="conteneur-image">
          <img
            [src]="imagePath + 'profile.webp'"
            alt="profile-img"
            title="Profil"
          />
        </div>
      </div>
    </div>
  </section>
</div>
