/* ------------- FONTS ------------------ */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* ------------- GENERAUX ------------------ */
:host {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

section {
  background-color: var(--tertiary-color);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  border-radius: var(--strong-radius);
}

.main {
  max-width: 1200px;
  width: 95%;
  margin-bottom: 10px;
}

.page {
  margin: 0 20px;
  width: 100%;
}

.bloc {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* ------------- BOUTONS ------------------ */
.button-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 480px;
}

.btn {
  background-color: var(--secondary-color);
  padding: 10px 15px;
  border-radius: var(--strong-radius);
  color: var(--tertiary-color);
  font-weight: 700;
  cursor: pointer;
  overflow: hidden;
  transition: 0.5s ease;
  border: none;
  width: 230px;
  margin: 5px;
  text-align: center;
}

.btn:hover {
  transform: scale(1.1);
}

/* ------------- HOME------------------ */
.home-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-text {
  min-width: 230px;
  width: 50%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-text p {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.home-text h1 {
  white-space: nowrap;
}

.home-text h2 {
  margin: 0 0 30px;
  text-align: center;
  white-space: nowrap;
}

.conteneur-image {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.conteneur-image img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: var(--primary-color);
}

/* ------------- RESPONSIVE ------------------ */

@media screen and (max-width: 1023px) {
  .home-text {
    width: 90%;
  }

  .home-text h1 {
    font-size: 30px;
  }

  .bloc {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 600px) {
  .conteneur-image img {
    width: 300px;
    height: 300px;
  }

  .button-container {
    width: 100%;
  }

  .home-text h2 {
    white-space: wrap;
  }
}

@media screen and (max-width: 360px) {
  .conteneur-image img {
    width: 250px;
    height: 250px;
  }
}
