<div class="main">
    <section class="home-section">
        <div class="container">
            <div class="row">
                <div class="home-text">
                    <p>Salut, je suis</p>
                    <h1>Hélène Pagniez</h1>
                    <h2>En Recherche d'une opportunité d'Assistante Administrative/ Attachée de Direction en CDI</h2>
                    <a class="btn" routerLink="/about">à propos de moi </a>
                    <a class="btn" routerLink="/portfolio">portfolio</a>
                </div>
                <div class="home-img">
                    <div class="img-box">
                        <img [src]="imagePath+'profile.png'" alt="profile-img">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

