/* ------------- FONTS ------------------ */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* ------------- GENERAUX ------------------ */
:host {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

section {
  background-color: var(--tertiary-color);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  border-radius: var(--strong-radius);
}

.main {
  max-width: 1200px;
  width: 95%;
  margin-bottom: 10px;
  position: relative;
}

.container {
  width: 100%;
  position: relative;
}

.container .introduction-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.container .introduction-container .projets-item-thumbnail {
  border: 3px solid var(--secondary-color);
  border-radius: var(--light-radius);
  width: 300px;
  margin: 20px;
}

.container .introduction-container .projets-item-thumbnail img {
  width: 100%;
  border-radius: var(--light-radius);
  object-fit: contain;
}

.sec-padding {
  padding: 40px 0;
}

h2 {
  font-weight: 400;
  margin-top: 20px;
}

h3 {
  font-weight: 500;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

/* ------------- BOUTONS ------------------ */
button {
  font-family: inherit;
  user-select: none;
}

.btn {
  background-color: var(--secondary-color);
  padding: 3px 28px;
  border-radius: var(--strong-radius);
  color: var(--tertiary-color);
  font-weight: 700;
  font-size: 16px;
  font-family: var(--font-family-text);
  cursor: pointer;
  overflow: hidden;
  transition: 0.5s ease;
  border: none;
  width: 220px;
  margin: 5px;
  text-align: center;
}

.btn.big {
  height: 54px;
  line-height: 46px;
}

.btn:hover {
  transform: scale(1.1);
}
/* ------------- SECTION TITRE DE PAGE ------------------ */
.section-titre {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-titre .titre-page {
  font-size: 40px;
  font-family: var(--font-family-title);
  color: var(--secondary-color);
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0;
}

/* ------------- SECTION projets ------------------ */
.description {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  max-width: 700px;
  margin-right: 50px;
}

.description p {
  text-align: justify;
}

.description ul {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  flex-direction: column;
  width: 85%;
  margin-bottom: 12px;
}

.projets-section {
  padding-bottom: 50px;
}

.projets-item {
  max-width: 250px;
  width: 100%;
  margin: 0 15px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.projets-item .btn {
  margin-top: 10px;
}

.projets-item-thumbnail {
  border: 3px solid var(--secondary-color);
  border-radius: var(--light-radius);
  display: flex;
  align-content: center;
  justify-content: center;
}

.projets-item-thumbnail-introduction {
  border: 3px solid var(--secondary-color);
  border-radius: var(--light-radius);
  display: flex;
  align-content: center;
  justify-content: center;
  object-fit: cover;
  width: 310px;
}

.projets-item-thumbnail-introduction img {
  width: 300px;
  height: 300px;
  border-radius: var(--light-radius);
  object-fit: cover;
}

.projets-item-thumbnail img {
  width: 100%;
  border-radius: var(--light-radius);
  object-fit: cover;
  width: 210px;
  height: 150px;
}

.projets-item-thumbnail.small {
  padding: 50px 0;
}

.projets-item-thumbnail.small img {
  height: 50px;
}

.projets-item h3 {
  font-size: 20px;
  font-family: var(--font-family-title);
  margin: 20px 0;
}

.retour-container {
  position: absolute;
  top: 20px;
  left: 20px;
  transition: 0.5s ease;
}

.retour {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  background-color: var(--secondary-color);
  padding: 10px 28px;
  border-radius: var(--strong-radius);
  color: var(--tertiary-color);
  font-weight: 700;
  font-size: 16px;
  font-family: var(--font-family-text);
  cursor: pointer;
  transition: 0.5s ease;
}

.retour:hover {
  transform: scale(1.1);
}

.section-some-title {
  color: var(--secondary-color);
  margin-left: 30px;
  text-decoration: underline;
  font-family: var(--font-family-title);
  font-size: 22px;
}

.projets-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

@media screen and (max-width: 610px) {
  .section-titre .titre-page {
    font-size: 30px;
    margin-top: 40px;
  }
}
