<div class="main">
  <a class="retour" routerLink="/projets" title="Retour">
    <span>Retour</span>
  </a>
  <section class="projets-section sec-padding">
    <div class="container">
      <div class="row">
        <div class="section-title">
          <h2 class="title">Projets Master</h2>
        </div>
      </div>
      <h2 class="section-some-title">Introduction aux projets master</h2>
      <div class="introduction-container">
        <div class="projets-item-thumbnail-introduction">
          <img [src]="imagePath + 'formation.png'" alt="projets item thumb" />
        </div>
        <div class="description">
          <p>
            Ces projets ont été réalisés dans le cadre de mon master en
            marketing et communication, au fil des différents modules
            professionnalisants proposés par ma formation. Chaque mission m’a
            demandé d’endosser un rôle spécifique (responsable marketing, brand
            manager, consultante CRM, etc...) et de mener une réflexion
            stratégique poussée, à partir de briefs réalistes, de contextes
            inspirés d’entreprises existantes, ou de situations concrètes du
            secteur.
          </p>
          <p>
            Vous découvrirez ici l’ensemble de ces projets, structurés comme de
            véritables missions professionnelles, avec leurs livrables, leurs
            contraintes, et les solutions apportées.
          </p>
        </div>
      </div>
      <div class="projets-container">
        <div class="projets-item">
          <div class="projets-item-thumbnail">
            <img
              [src]="imagePath + 'projet1/hyatt.webp'"
              alt="projets item thumb"
            />
          </div>
          <a class="btn big" routerLink="1" title="Découvrir Hyatt">
            <span>Découvrir Hyatt</span>
          </a>
        </div>
        <div class="projets-item">
          <div class="projets-item-thumbnail">
            <img
              [src]="imagePath + 'projet2/sncf.webp'"
              alt="projets item thumb"
            />
          </div>
          <a class="btn big" routerLink="2" title="Découvrir SNCF">
            <span>Découvrir SNCF</span>
          </a>
        </div>
        <div class="projets-item">
          <div class="projets-item-thumbnail">
            <img
              [src]="imagePath + 'projet3/blune.png'"
              alt="projets item thumb"
            />
          </div>
          <a class="btn big" routerLink="3" title="Découvrir Blune">
            <span>Découvrir Blune</span>
          </a>
        </div>
        <div class="projets-item">
          <div class="projets-item-thumbnail small">
            <img
              [src]="imagePath + 'projet4/avenirs.png'"
              alt="projets item thumb"
            />
          </div>
          <a class="btn big" routerLink="4" title="Découvrir Avenirs">
            <span>Découvrir Avenirs</span>
          </a>
        </div>
        <div class="projets-item">
          <div class="projets-item-thumbnail small">
            <img
              [src]="imagePath + 'projet5/slow.png'"
              alt="projets item thumb"
            />
          </div>
          <a class="btn big" routerLink="5" title="Découvrir Slow">
            <span>Découvrir Slow</span>
          </a>
        </div>
        <div class="projets-item">
          <div class="projets-item-thumbnail">
            <img
              [src]="imagePath + 'projet6/kungfood.png'"
              alt="projets item thumb"
            />
          </div>
          <a class="btn big" routerLink="6" title="Découvrir KungFood">
            <span>Découvrir KungFood</span>
          </a>
        </div>
        <div class="projets-item">
          <div class="projets-item-thumbnail">
            <img
              [src]="imagePath + 'projet7/terrecacao.png'"
              alt="projets item thumb"
            />
          </div>
          <a class="btn" routerLink="7" title="Découvrir TerreCacao">
            <span>Découvrir TerreCacao</span>
          </a>
        </div>
        <div class="projets-item">
          <div class="projets-item-thumbnail">
            <img
              [src]="imagePath + 'projet8/thrustmaster.webp'"
              alt="projets item thumb"
            />
          </div>
          <a class="btn" routerLink="8" title="Découvrir Thrustmaster">
            <span>Découvrir Thrustmaster</span>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
